﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Cross Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .modal-lg {
        width: 95%;
        height: 93%;
        margin: 2%;
        padding: 0;
    }

    .modal-content-lg {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }

    .internal-grid .dx-datagrid-header-panel {
        background-color: lightgrey;
    }

    .internal-grid .dx-toolbar-items-container {
        background-color: lightgrey;
        margin-top: 10px;
    }

    /* Important part */
    #partsWithoutCrossPopup .modal-dialog {
        overflow-y: initial !important;
    }

    #partsWithoutCrossPopup .modal-body {
        height: 250px;
        overflow-y: auto;
    }

    .dx-datagrid-rowsview .dx-select-checkboxes-hidden .dx-select-checkbox {
        display: block !important;
    }
</style>
<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left; font-size:20px;">
                Cross Report&nbsp;<label class="label-default" style="margin-left:10px;" id="currPhaseDueDate"></label>
            </h1>
            <div style="float: right;margin-top: 6px !important; font-weight:bold">
                <div id="dropDownBids" style="width:150px;display:inline-block;"></div>
            </div>
            @if (ViewBag.Role.ToString() == UserRole.SuperUser.ToString() || ViewBag.Role.ToString() == UserRole.NAMSupervisor.ToString()
                || ViewBag.Role.ToString() == UserRole.NAM.ToString() || ViewBag.Role.ToString() == UserRole.NAMValidator.ToString()
                || ViewBag.Role.ToString() == UserRole.RAM.ToString() || ViewBag.Role.ToString() == UserRole.RAMValidator.ToString()
            || ViewBag.Role.ToString() == UserRole.RAMSupervisor.ToString())
            {
                <button type="button" class="btn btn-success" title="Assign multiple uncrossed parts to CM" id="btnAssignMultiple" style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;">Assign Uncrossed</button>
            }
            <button type="button" class="btn btn-success" id="btnDownloadCrosses" style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;">Download Cross Report</button>
            <button type='button' style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;" class='btn btn-success' id='btnPartsWithoutCross'>Parts Without Crosses</button>
            <button type="button" class="btn btn-success" id="btnSendEmail" style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;">Assign to CM</button>
            <button type="button" class="btn btn-success" id="btnPT" style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;">Assign to Pricing Team</button>
            <button type="button" class="btn btn-success" id="btnCrossVerified" style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;">CM Review Done</button>
        </section>
        <br /><br />
        <div id="expandCheckBox" style="margin-left:15px"></div>
        <button type='button' style="margin-left:10px" class='btn btn-primary' id='btnVerifyAll' title='Mark the filtered rows as Verified. Mark all if no filter applied.'>Verify All/Filtered</button>
        <button type='button' style="margin-left:10px" class='btn btn-primary' id='btnBulkFinalize'>Save All</button>
        <label class="label-default" style="margin-left:10px;font-size: 16px;line-height: 27px;" id="finalizedCount"></label>
        <br/>
        <label style="margin-left:15px; margin-top:10px; font-size: 16px; color:red;" id="allowSubstitution"></label>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer">
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->
<!-- Modal to show available parts of a cross-->
<div class="modal fade" id="partList" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content modal-content-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Select Part(s)</b></h4>
            </div>
            <div class="modal-body" id="partsContent" style="min-height:200px; max-height:500px; overflow-y:auto;">
                <p>
                    <div id="divPartDataTable"></div>
                </p>
                <br />
                <p>
                    <h5 id="flipMsgHeader"><b>SS/Flip part(s) found, please select either above entered part(s) or below SS/Flip part(s):</b></h5>
                    <br />
                    <div id="divFlipPartDataTable"></div>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAssignParts">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchPart" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Search Parts</b></h4>
            </div>
            <div class="modal-body" id="partsContent">
                <label for="txtPartNumber">Part Numer:</label>&nbsp;<input type="text" id="txtPartNumber" />
                <br />
                <input type="checkbox" id="chkMatchPartial" />&nbsp;<label for="chkMatchPartial">Include partial matches (maximum number of results limited to 100)</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSearchPart">Search</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendEmailPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="gridContainer_SendEmail"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSendMailToCM" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Send Email & Assign</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="saveAllResultPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="saveAllResultPopup_body">
                These errors need to be resolved before the changes can be saved:
                <br />
                <ul id="saveAllResultPopupMessageList"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSaveAlllResultPopup_OK" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="partsWithoutCrossPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <h4 class="modal-title"><b>Parts Without Crosses</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="saveAllResultPopup_body">
                <ul id="partsWithoutCrossList"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnPartsWithoutCrossPopup_OK" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="assignMultipleUncrossed" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <h4 class="modal-title"><b>Assign multiple uncrossed parts to one CM</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="saveAllResultPopup_body">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Select Customer Parts: </label>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div id="gridContainer_AssignUncrossedToMultiple">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Select CM: </label>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div id="ddlMultipleUncrossedCM" style="width:290px;"></div>

                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnAssignMultiple_OK" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var bidId;
    var bidName;
    var bidStatus;
    var cmActionStatus;
    var finalizeCrosses = [];
    var finalizeCrossesBulk = [];
    var updatedBidParts = [];
    var internalgrid = "";
    var bidPartsData = {};
    var rowKey;
    var cmListForUncrossedParts = [];
    var isSubstitutionAllowed = false;

    $("#expandCheckBox").hide();
    $("#btnBulkFinalize").hide();
    $("#btnPartsWithoutCross").hide();
    $("#btnVerifyAll").hide();
    var expandAllCheckBox= $("#expandCheckBox").dxCheckBox({
        text: 'Expand All',
        onValueChanged: function (e) {
            var newValue = e.value;
            var dataGrid = $('#gridContainer').dxDataGrid('instance');
            if(e.value == true) {
                dataGrid.expandAll(-1);
            } else {
                dataGrid.collapseAll(-1);
            }
        }
    }).dxCheckBox("instance");

    function GetUpdatedBidParts()
    {
        var updatedBidParts = [];
        for (var i = 0; i < this.length; i++) {
            if (!arr.contains(this[i])) {
                arr.push(this[i]);
            }
        }
        return arr;
    }

    function addSaveAllMessage(partNumber, msg){
        $("#saveAllResultPopupMessageList").append('<li>' + partNumber + ': ' + msg + '</li>');
    }

    function SaveAll() {
        if( updatedBidParts.length == 0 ){
            DevExpress.ui.notify("No changes to save.", "error", 2000);
            return;
        }

        $("#spinner").show();

        var hasErrors = false;
        var crossesToSave = [];

        //collect crosses to be finalized and validate them along the way
        $.each(updatedBidParts, function(index, item){
            var partid = item.BidPartId;
            //declined bid parts not need to be validated. Simply add them to the list with Decline as FinalPreference
            if(item.Operation != "Finalize"){
                crossesToSave.push({BidPartId:partid, CrossPartId:0, FinalPreference:'Decline'})
                return true;
            }

            var countPrimary = 0;
            var countAlternate1 = 0;
            var countAlternate2 = 0;

            var partNumber = item.CustomerPartNumber == null || item.CustomerPartNumber == "" ? item.ManufacturerPartNumber : item.CustomerPartNumber;

            var selectedRows = $("div[partid=" + partid + " ]").dxDataGrid('instance').getDataSource().items();
            finalizeCrosses = $.map(selectedRows, function (item) {
                if (item.FinalPreference != 'NA' && item.FinalPreference != '') {
                    return { BidPartId: item.BidPartId, CrossPartId: item.CrossPartId, FinalPreference: item.FinalPreference };
                }
            });

            if (finalizeCrosses.length == 0) {
                addSaveAllMessage(partNumber, 'Please select atleast 1 cross as Primary.');
                hasErrors = true;
            }
            else {
                $.each(finalizeCrosses, function(index, cross) {
                    if(cross.FinalPreference == 'Primary'){
                        countPrimary += 1;
                    }
                    if(cross.FinalPreference == 'Alternate1'){
                        countAlternate1 += 1;
                    }
                    if(cross.FinalPreference == 'Alternate2'){
                        countAlternate2 += 1;
                    }

                    //add the cross to the crosses to be saved array with its FinalPreference
                    crossesToSave.push({BidPartId:cross.BidPartId, CrossPartId:cross.CrossPartId, FinalPreference:cross.FinalPreference})
                });

                if(countPrimary == 0){
                    addSaveAllMessage(partNumber, 'Please select one cross as Primary.');
                    hasErrors = true;
                }
                if(countPrimary>1){
                    addSaveAllMessage(partNumber, 'Please select only one cross as Primary.');
                    hasErrors = true;
                }
                if(countAlternate1>1){
                    addSaveAllMessage(partNumber, 'Please select only one cross as Alternate 1.');
                    hasErrors = true;
                }
                if(countAlternate2>1){
                    addSaveAllMessage(partNumber, 'Please select only one cross as Alternate 2.');
                    hasErrors = true;
                }
                if(countAlternate1<countAlternate2){
                    addSaveAllMessage(partNumber, 'Please select a cross as Alterante 1 before selecting cross as Alternate 2.');
                    hasErrors = true;
                }
            }
        });

        if(hasErrors)
        {
            $('#saveAllResultPopup').modal('show');
            $("#spinner").hide();
        }
        else
        {
            $.ajax({
                url: "@Url.Action("SaveAll", "CrossReport")",
                type: 'POST',
                data: JSON.stringify({updates: crossesToSave}),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $.each(updatedBidParts, function(index, item){
                        var gridMaster = $("div[partid=" +  item.BidPartId + " ]").dxDataGrid('instance');
                        $.each($("#gridContainer").dxDataGrid("instance").getDataSource().items(), function (i, e) {
                            if (e.BidPartId == item.BidPartId) {
                                e.IsFinalized = "True";
                                @if (ViewBag.Role == UserRole.CategoryManager.ToString())
                                {
                                    <text> e.IsVerified = true;</text>
                                }
                            }
                        });
                    });
                    $("#spinner").hide();
                    DevExpress.ui.notify("All changes saved", "success", 2000);
                }
            });
        }
    }


    function AddCrossPart(src){
        crowdSourcingPartId = parseInt(src.id.replace('btnAddCross_', ''));
        $("#searchPart").modal("show");
        $("#txtPartNumber").val("");
        $("#chkMatchPartial").prop("checked", false);
    }

    function SaveCrossPart(src) {
        var isCrossId;
        var countPrimary = 0;
        var countAlternate1 = 0;
        var countAlternate2 = 0;

        var partid = src.id.replace('btnSaveCross_', '');
        var selectedRows = $("div[partid=" + partid + " ]").dxDataGrid('instance').getDataSource().items();
        finalizeCrosses = $.map(selectedRows, function( item ) {
            if(item.FinalPreference != 'NA' && item.FinalPreference != ''){
                return {BidPartId: item.BidPartId, CrossPartId: item.CrossPartId, FinalPreference: item.FinalPreference};
            }
        });

        if (finalizeCrosses.length == 0) {
            DevExpress.ui.dialog.alert('Please select atleast one cross as Primary.', 'Message');
            return false;
        }

        $.each(finalizeCrosses, function( i ) {
            if(finalizeCrosses[i].FinalPreference == 'Primary'){
                countPrimary += 1;
            }
            if(finalizeCrosses[i].FinalPreference == 'Alternate1'){
                countAlternate1 += 1;
            }
            if(finalizeCrosses[i].FinalPreference == 'Alternate2'){
                countAlternate2 += 1;
            }
        });

        if(countPrimary == 0 || countPrimary>1){
            DevExpress.ui.dialog.alert('Please select one cross as Primary.', 'Primary');
            return false;
        }
        if(countAlternate1>1){
            DevExpress.ui.dialog.alert('Please select only one cross as Alternate 1.', 'Message');
            return false;
        }
        if(countAlternate2>1){
            DevExpress.ui.dialog.alert('Please select only one cross as Alternate 2', 'Message');
            return false;
        }
        if(countAlternate1<countAlternate2){
            DevExpress.ui.dialog.alert('Please select a cross as Alterante 1 before selecting cross as Alternate 2.', 'Message');
            return false;
        }
        else {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("FinalizeSelectedCross", "CrossReport")",
                type: 'POST',
                data: JSON.stringify({ finalizeCrosses: selectedRows, bidId: bidId }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    var gridMaster = $("div[partid=" + partid + " ]").dxDataGrid('instance');
                    $.each($("#gridContainer").dxDataGrid("instance").getDataSource().items(), function (i, e) {
                        if (e.BidPartId == partid) {
                            e.IsFinalized = "True";
                            @if (ViewBag.Role == UserRole.CategoryManager.ToString())
                            {
                                <text> e.IsVerified = true;</text>
                            }
                        }
                    });
                    $("#spinner").hide();
                    //collapsing the grid row after finlaize
                    var gridContainerInstance = $("#gridContainer").dxDataGrid("instance");
                    var expanded = gridContainerInstance.isRowExpanded(rowKey);
                    if (expanded) {
                        gridContainerInstance.collapseRow(rowKey);
                    }
                    $("#btnAssignUncross_" + partid).attr("disabled", "disabled");
                    $("#ddlCM_" + partid).attr("disabled", "disabled");
                }
            });
        }
    }

    function assignUnCrossed(src) {
        let uncrossedPartId = src.id.replace('btnAssignUncross_', '');
        let selectedCM = $('#ddlCM_' + uncrossedPartId).val();
        if (selectedCM !== undefined && selectedCM !== null && selectedCM !== '') {
            //ToDo: Assign to CM - eddie
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("SendUnCrossedEmailToCM", "CrossReport")",
                type: 'POST',
                data: JSON.stringify({ userId: selectedCM, fullName: $('#ddlCM_' + uncrossedPartId + ' :selected').text(), bidName: bidName, bidId: bidId, bidPartId: uncrossedPartId }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    $("#spinner").hide();
                    DevExpress.ui.notify("Assigned to " + selectedCM + " successfully.", "success", 3000);
                }
            });
        }
        else {
            DevExpress.ui.notify("Please select a CM.", "error", 3000);
        }
    }

    function DeclinePart(src) {
        var partid = src.id.replace('btnDeclineCross_', '');

        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("DeclineSelectedCross", "CrossReport")",
            type: 'POST',
            data: JSON.stringify({ bidPartId: partid}),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                var gridDetail = $("div[partid=" + partid + " ]").dxDataGrid('instance');
                $.each($("#gridContainer").dxDataGrid("instance").getDataSource().items(), function (i, e) {
                    if (e.BidPartId == partid)
                        e.IsFinalized = "False";
                });
                $("#spinner").hide();
                //collapsing the grid row after decline
                var gridContainerInstance = $("#gridContainer").dxDataGrid("instance");
                var expanded = gridContainerInstance.isRowExpanded(rowKey);
                if (expanded) {
                    gridContainerInstance.collapseRow(rowKey);
                }
                $("#btnAssignUncross_" + partid).attr("disabled", "disabled");
                $("#ddlCM_" + partid).attr("disabled", "disabled");
            }
        });
    }

    function loadAssignedMultiple() {
        console.log(cmListForUncrossedParts);
        $("#spinner").show();
        $('#assignMultipleUncrossed').modal('show');
        console.log(bidPartsData);
        let bp = [];
        bidPartsData.forEach((bidpart) => {
            if (bidpart.IsFinalized !== "True" && bidpart.IsFinalized !== "False") {
                bp.push(bidpart);
            }
        });
        $('#gridContainer_AssignUncrossedToMultiple').dxDropDownBox({
            //value: [0],
            valueExpr: 'BidPartId',
            placeholder: 'Select Parts',
            displayExpr: 'CustomerPartNumber',
            showClearButton: true,
            dataSource: new DevExpress.data.ArrayStore({
                data: bp,                                   //only unfinalized part will be marked uncrossed.
                key: 'BidPartId'
            }),
            contentTemplate(e) {
                const v = e.component.option('value');
                const $dataGrid = $('<div>').dxDataGrid({
                    dataSource: e.component.getDataSource(),
                    columns: ['CustomerPartNumber'],
                    hoverStateEnabled: true,
                    paging: { enabled: true, pageSize: 10 },
                    filterRow: { visible: true },
                    scrolling: { mode: 'virtual' },
                    height: 345,
                    selection: { mode: 'multiple' },
                    selectedRowKeys: v,
                    onSelectionChanged(selectedItems) {
                        console.log(selectedItems.selectedRowKeys);
                        const keys = selectedItems.selectedRowKeys;
                        e.component.option('value', keys);
                    },
                });

                dataGrid = $dataGrid.dxDataGrid('instance');

                e.component.on('valueChanged', (args) => {
                    const { value } = args;
                    dataGrid.selectRows(value, false);
                });

                return $dataGrid;
            },
        });
        $('#ddlMultipleUncrossedCM').dxSelectBox({
            dataSource: new DevExpress.data.ArrayStore({
                data: cmListForUncrossedParts,
                key: 'CMUserId',
            }),
            displayExpr: 'CMName',
            valueExpr: 'CMUserId',

            searchEnabled: true,
            placeholder: "Select CM"
        });
        $("#spinner").hide();
    }

    function LoadCMList() {
        $("#spinner").show();
        $('#sendEmailPopup').modal('show');

        $.ajax({
            url: "@Url.Action("GetCMList", "CrossReport")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (tsmList) {
                setTimeout(function () {
                    $("#spinner").hide();
                    $("#gridContainer_SendEmail").dxDataGrid({
                        dataSource: tsmList,
                        paging: { pageSize: 10 },
                        height: function () { return dynamicheight = $(document).height() - 235; },
                        pager: { showPageSizeSelector: true, allowedPageSizes: [10, 50, 100, 200, 500], showInfo: true },
                        editing: {
                            mode: "row", allowUpdating: false, allowDeleting: false, allowAdding: false,
                            texts: { addRow: 'Add new record' }
                        },
                        filterRow: { visible: true, applyFilter: "auto" },
                        headerFilter: { visible: false },
                        rowAlternationEnabled: true,
                        hoverStateEnabled: true,
                        allowColumnResizing: true,
                        columnAutoWidth: true,
                        showBorders: true,
                        showColumnLines: true,
                        showRowLines: true,
                        columns: [
                            { dataField: "CMName", caption: "CM Name", visible: true, dataType: "string", allowEditing: false },
                            { dataField: "CMUserId", caption: "CM User Id", visible: true, dataType: "string", allowEditing: false },
                            { dataField: "CMEmail", caption: "CM Email Id", visible: true, dataType: "string", allowEditing: false },
                        ],
                    }).dxDataGrid("instance");
                    $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
                    $("#spinner").hide();
                }, 1000);
            }
        });
    }

    $('#btnSaveAlllResultPopup_OK').click(function () {
        $('#saveAllResultPopupMessageList').empty();
        $('#saveAllResultPopup').modal('hide');
    });

    $('#btnPartsWithoutCrossPopup_OK').click(function () {
        $('#partsWithoutCrossList').empty();
        $('#PartsWithoutCrossPopup').modal('hide');
    });

    var selectedData;
    $('#btnSendMailToCM').click(function () {
        $("#spinner").show();
        selectedData = $('#gridContainer_SendEmail').dxDataGrid('instance').getDataSource().items();
        if (selectedData.length > 0) {
            $.ajax({
                url: "@Url.Action("SendEmailToCM", "CrossReport")",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ dataToPost: selectedData, bidName: bidName, bidId: bidId }),
                success: function (result) {
                    $("#spinner").hide();
                    if (result) {
                        DevExpress.ui.notify("Email sent successfully", "success", 2000);
                        $("#btnSendEmail").hide();
                        $("#btnPT").show();
                        $('#sendEmailPopup').modal('hide');
                    }
                    else {
                        DevExpress.ui.notify("Error Occured, email failed.", "error", 2000);
                    }
                }
            });
        }
        else {
            $("#spinner").hide();
            DevExpress.ui.notify("CM is not selected.", "error", 3000);
        }

    });
    $('#btnPT').click(function () {
        var result = DevExpress.ui.dialog.confirm('This will assign the bid to Pricing Team and you can not finalize the crosses after that.' + '<br />' + 'Click Yes to proceed.', "Confirm");
        result.done(function (dialogResult) {
            if(dialogResult) {
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("UpdateBidStatus", "CrossReport")",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ bidId: bidId, bidName: bidName, status: '@Constants.PricingTeam' }),
                    success: function (result) {
                        $("#spinner").hide();
                        if (result) {
                            DevExpress.ui.notify("Bid assigned to Pricing Team successfully", "success", 2000);
                            $("#btnSendEmail").hide();
                            $('#btnPT').attr('disabled',true);
                            $('#btnPT').prop('title', 'Bid is assigned to Pricing Team.');
                        }
                        else {
                            DevExpress.ui.notify("Error Occured.", "error", 2000);
                        }
                    }
                });
            }
        });
    });
    $('#btnCrossVerified').click(function () {
        var result = DevExpress.ui.dialog.confirm('This will freeze the cross finalization and you can not finalize the crosses after that.' + '<br />' + 'Click Yes to proceed.', "Confirm");
        result.done(function (dialogResult) {
            if(dialogResult) {
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("UpdateCMAction", "CrossReport")",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ bidId: bidId, bidName: bidName }),
                    success: function (result) {
                        $("#spinner").hide();
                        if (result) {
                            DevExpress.ui.notify("CM review done successfully", "success", 2000);
                            $("#btnSendEmail").hide();
                            $("#btnPT").hide();
                            $('#btnCrossVerified').attr('disabled',true);
                            $('#btnCrossVerified').prop('title', 'CM Review Done.');
                        }
                        else {
                            DevExpress.ui.notify("Error Occured.", "error", 2000);
                        }
                    }
                });
            }
        });
    });

    $('#btnSendEmail').click(function () {
        LoadCMList();
    });

    $('#btnAssignMultiple').click(function () {
        loadAssignedMultiple();
    });

    $('#btnAssignMultiple_OK').click(function () {
        let bpIds = $('#gridContainer_AssignUncrossedToMultiple').dxDropDownBox("instance").option("value");
        let cmId = $('#ddlMultipleUncrossedCM').dxSelectBox('instance').option('value');

        if (bpIds === null || bpIds.length === 0) {
            DevExpress.ui.notify("Please select the part(s).", "error", 5000);
            return false;
        }
        if (cmId === null || cmId.length === 0) {
            DevExpress.ui.notify("Please select a CM", "error", 5000);
            return false;
        }
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("AssignUncrossedToMultipleCM", "CrossReport")",
            type: 'POST',
            data: JSON.stringify({ cmUserId: cmId, bidId: '@ViewBag.bidId', bidPartId: bpIds }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                $("#spinner").hide();
                if (result > 0) {
                    DevExpress.ui.notify("Parts assigned successfully", "success", 5000);
                    LoadBidPartList();
                }
                else {
                    DevExpress.ui.notify("error occured", "error", 5000);
                }
            }
        });

    });

    $('#btnDownloadCrosses').click(function () {
        window.location = '@Url.Action("DownloadCrosses", "CrossReport")?BidId=' + bidId + '&BidName=' + bidName;
    });

    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#Bids').addClass('active');
        $('#CrossReport').addClass('active');

        var PartList = [];
        var flipPartList = [];
        var enteredPartNo;
        var crowdSourcingPartId;
        var isFinal;
        var selectedBidId = "";
        var allBidsUrl = "@Url.Action("GetAllBids", "CrossReport")";


        @if(ViewBag.bidId != null)
        {
            <text>selectedBidId=</text>@ViewBag.bidId<text>;</text>
        }

        @if (ViewBag.Role == UserRole.CategoryManager.ToString())
        {
            <text>
        $("#btnSendEmail").hide();
        allBidsUrl = "@Url.Action("GetAllBidsForDropdown", "CrossReport")";
        </text>
        }
        $("#btnDownloadCrosses").hide();
        $("#btnSendEmail").hide();
        $("#btnCrossVerified").hide();
        $("#btnPT").hide();
        $("#box").hide();
        $("#spinner").show();
        $.ajax({
            url: allBidsUrl,
            type: 'POST',
            data: JSON.stringify({ bidId: selectedBidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (bidList) {

                $("#spinner").hide();

                $("#dropDownBids").dxDropDownBox({
                    value: selectedBidId,
                    width: 350,
                    valueExpr: "BidId",
                    placeholder: "Select Bid",
                    displayExpr: "BidName",
                    showClearButton: false,
                    dataSource: bidList,
                    contentTemplate: function (e) {
                        var value = e.component.option("value"),
                            $dataGrid = $("<div style='padding:0px' >").dxDataGrid({
                                dataSource: {
                                    store: {
                                        type: 'array',
                                        key: 'BidId',
                                        data: e.component.option("dataSource")
                                    }
                                },
                                columns: ["BidName"],
                                hoverStateEnabled: true,
                                filterRow: { visible: true },
                                scrolling: {
                                    mode: "virtual",
                                    showScrollbar: 'always'
                                },
                                height: 350,
                                selection: { mode: "single" },
                                selectedRowKeys: value,
                                showColumnHeaders: false,
                                onSelectionChanged: function (selectedItems) {
                                    var keys = selectedItems.selectedRowKeys;
                                    e.component.option("value", keys);
                                    e.component.close();
                                    bidId = keys[0];
                                    bidName = selectedItems.selectedRowsData[0].BidName;
                                    bidStatus = selectedItems.selectedRowsData[0].BidStatus;
                                    bidCurrentDueDate = selectedItems.selectedRowsData[0].CurrentPhaseDueDate;

                                    @if (ViewBag.Role == UserRole.CategoryManager.ToString())
                                    {
                                        <text>
                                    $.ajax({
                                        url: "@Url.Action("GetCMActionStatusForBid", "CrossReport")",
                                        type: 'POST',
                                        data: JSON.stringify({ bidId: bidId }),
                                        contentType: 'application/json; charset=utf-8',
                                        success: function(result) {
                                            cmActionStatus = result;
                                            LoadBidPartList();
                                        }
                                    });
                                    </text>
                                    }
                                    else
                                    {
                                        <text>
                                    LoadBidPartList();
                                    </text>
                                    }
                                }
                            });
                        dataGrid = $dataGrid.dxDataGrid("instance");
                        e.component.on("valueChanged", function (args) {
                            var value = args.value;
                            dataGrid.selectRows(value, false);
                        });
                        return $dataGrid;
                    }
                });

                var data = $("#dropDownBids").dxDropDownBox('instance').option('dataSource');

                @if(ViewBag.bidId != null)
                {
                <text>
                bidId=</text>@ViewBag.bidId<text>;

                $.each(data, function( i ) {
                    if(data[i].BidId == bidId){

                        bidName = data[i].BidName;
                        bidStatus = data[i].BidStatus;
                        bidCurrentDueDate = data[i].CurrentPhaseDueDate;
                        isSubstitutionAllowed = data[i].IsCustomerAllowSubstitutions;
                    }
                });
                LoadBidPartList();
                </text>
                }
                @if (ViewBag.Role == UserRole.CategoryManager.ToString() && ViewBag.bidId != null)
                 {
                     <text>
                $.ajax({
                    url: "@Url.Action("GetCMActionStatusForBid", "CrossReport")",
                    type: 'POST',
                    data: JSON.stringify({ bidId: bidId }),
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        cmActionStatus = result;
                        LoadBidPartList();
                    }
                });
                </text>
                }
            }
        });

        $.ajax({
            url: "@Url.Action("GetCMForUncrossedParts", "CrossReport")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',

            success: function (result) {
                cmListForUncrossedParts = result;
            }
        });
    });

    function VerifyAll(e){
        var rowIndex = masterGrid.getRowIndexByKey(parseInt(BidPartId));

        if(e.data.FinalPreference == "Primary")
        {
            masterGrid.cellValue(rowIndex, "IsVerified", e.data.ReferenceTableName);
        }
    }

    function onCrossPartUpdated(e, fromHistory){
        var masterKey = $(e.element).attr("data-masterId");
        var masterGrid = $("#gridContainer").dxDataGrid("instance");
        var rowIndex = masterGrid.getRowIndexByKey(parseInt(masterKey));
        var ManufacturerPartNumber = masterGrid.cellValue(rowIndex, "ManufacturerPartNumber");
        var CustomerPartNumber = masterGrid.cellValue(rowIndex, "CustomerPartNumber");

        if(e.data.FinalPreference == "Primary")
        {
            masterGrid.cellValue(rowIndex, "PrimaryCross.ReferenceTableName", e.data.ReferenceTableName);
            masterGrid.cellValue(rowIndex, "PrimaryCross.PartNumber", e.data.PartNumber);
            masterGrid.cellValue(rowIndex, "PrimaryCross.PoolNumber", e.data.PoolNumber);
            masterGrid.cellValue(rowIndex, "PrimaryCross.DCStockCount", e.data.DCStockCount);
            masterGrid.cellValue(rowIndex, "PrimaryCross.PartDescription", e.data.PartDescription);
            masterGrid.cellValue(rowIndex, "PrimaryCross.PartCategory", e.data.PartCategory);
            masterGrid.cellValue(rowIndex, "PrimaryCross.NPMPartType", e.data.NPMPartType);
            masterGrid.cellValue(rowIndex, "PrimaryCross.StoresStockCount", e.data.StoresStockCount);
            masterGrid.cellValue(rowIndex, "PrimaryCross.LocalL12StoresSold", e.data.LocalL12StoresSold);
            masterGrid.cellValue(rowIndex, "PrimaryCross.NationalL12StoresSold", e.data.NationalL12StoresSold);
            masterGrid.cellValue(rowIndex, "PrimaryCross.TotalL12StoresSold", parseInt(e.data.LocalL12StoresSold) + parseInt(e.data.NationalL12StoresSold) );
            masterGrid.cellValue(rowIndex, "PrimaryCross.L12Units", e.data.L12Units);
            masterGrid.cellValue(rowIndex, "PrimaryCross.L12Revenue", e.data.L12Revenue);
            masterGrid.cellValue(rowIndex, "PrimaryCross.VendorName", e.data.VendorName);
            masterGrid.cellValue(rowIndex, "PrimaryCross.VendorColorDefinition", e.data.VendorColorDefinition);
            if (!fromHistory) {
                bidPartsData.find(e => e.BidPartId == masterKey).IsFinalized = "True";
            }

        }

        recordUpdateInPart(e.data.BidPartId, ManufacturerPartNumber, CustomerPartNumber, "Finalize")

        displayFinalizedCount();
    }

    function displayFinalizedCount(){
        finalizedBidParts = 0;
        $.each(bidPartsData, function(index, item){
            if(item.IsFinalized == "True")
                finalizedBidParts++;
        });

        $("#finalizedCount").text("  Finalized: " + finalizedBidParts + "/" + bidPartsData.length + "  ");
        console.log("Finalized:" + finalizedBidParts + "/" + bidPartsData.length);
    }

    function recordUpdateInPart(BidPartId, ManufacturerPartNumber, CustomerPartNumber, operation)
    {
        ////add the part to the arrary if not already there//////
        if( updatedBidParts.length > 0 )
        {
            //remove the part if already exists in the array
            var i = updatedBidParts.getIndex(function(e){return e.BidPartId == BidPartId;} );
            if( i != -1)
                updatedBidParts.splice(i);
        }
        updatedBidParts.push({BidPartId: BidPartId,
            ManufacturerPartNumber: ManufacturerPartNumber,
            CustomerPartNumber: CustomerPartNumber,
            Operation: operation
        });
    }

    var crossParts = null;

    function LoadCrossPartsList(bidPartId, IsFinalized, container, options){
        $("#spinner").show();
        var bidPartCrosses = crossParts.filter(function(cp) { return cp.BidPartId == bidPartId; });
        if(bidPartCrosses == null)
            bidPartCrosses = [];
        $("#spinner").hide();

        crowdSourcingPartId = bidPartId; //options.data.BidPartId;
        isFinal = IsFinalized; //options.data.IsFinalized;
        $("<div id='gridContainerDetail_" + bidPartId + "' partId='" + bidPartId + "' >")
            .addClass("internal-grid")
            .dxDataGrid({
                elementAttr: { 'data-masterId': bidPartId },
                columnAutoWidth: true,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 50, 100],
                    showInfo: true
                },
                editing: {
                    mode: "row",
                    allowUpdating: false,
                    allowDeleting: true,
                    allowAdding: true,
                    texts: {
                        addRow: 'Add manual record'
                    }
                },
                onToolbarPreparing: function(e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "before",
                        template: function () {
                            let selectedValue = '';
                            let disableControl = '';
                            if (IsFinalized.toLowerCase() == 'true' || IsFinalized.toLowerCase() == 'false') {
                                disableControl = ' disabled="disabled"';
                            }
                            else {
                                disableControl = '';
                            }
                            let ddlStr = '  <select ' + disableControl+' class="btn btn-default dropdown-toggle" style = "margin-left: 50px;" id = "ddlCM_'
                                + bidPartId + '" name="ddlCM_'
                                + bidPartId + '">'
                                + '<option value="">--Select CM--</option>';
                            for (let i = 0; i < cmListForUncrossedParts.length; i++) {
                                selectedValue = '';
                                if (options.data.CMUserId.toLowerCase() === cmListForUncrossedParts[i].CMUserId.toLowerCase()) {
                                    selectedValue = ' selected="selected"';
                                }
                                ddlStr = ddlStr + '<option value="' + cmListForUncrossedParts[i].CMUserId + '"' + selectedValue+'>' + cmListForUncrossedParts[i].CMName + '</option > '
                            }
                            ddlStr = ddlStr +'</select>';
                            var container = $("<div />");
                            $("<div style='font-weight:bold; width:2%; float: left; margin-left: 10px; margin-right: 40px; margin-top: 5px'>").text("Crosses:").appendTo(container);
                            $("<button type='button' style='float:left; margin-left: 15px; margin-right: 10px' class='btn btn-success btn-sm' id='btnSaveCross_" + bidPartId + "' onclick='SaveCrossPart(this)'>").text("Finalize Cross").appendTo(container);
                            $("<button type='button' style='float:left; margin-right: 5px' class='btn btn-danger btn-sm' id='btnDeclineCross_" + bidPartId + "' onclick='DeclinePart(this)'>").text("Decline").appendTo(container);
                            $(ddlStr).appendTo(container);
                            $("<button type='button' " + disableControl+" style = 'margin-left: 15px; margin-right: 10px' class= 'btn btn-success btn-sm' id = 'btnAssignUncross_" + bidPartId + "' onclick = 'assignUnCrossed(this)' > ").text("Assign UnCrossed Part to CM").appendTo(container);
                            $('<div style="float:right; padding-right: 0px; padding-left: 0px;" class="dx-datagrid-toolbar-button dx-edit-button dx-datagrid-addrow-button dx-button dx-button-normal dx-widget dx-button-has-icon dx-button-has-text" role="button" aria-label="Add new record" title="Add new record" tabindex="0"><div style="padding-right: 10px;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;" class="dx-button-content" id="btnAddCross_' + bidPartId + '" onclick="AddCrossPart(this)"><i class="dx-icon dx-icon-edit-button-addrow" style="margin-right:0px; padding-right: 0px;padding-left: 0px;"></i></div></div>').appendTo(container);

                            //$("<button type='button' style='float:left; margin-left : 15px' class='btn btn-default btn-sm' id='btnAddCross_" + bidPartId + "' onclick='AddCrossPart(this)'>").text("+").appendTo(container);
                            return container;
                        }
                    },
                    {
                        //location: "after",
                        //template: function(){
                        //    return $('<div style="float:right; margin-right : 15px; padding-right: 0px; padding-left: 0px;" class="dx-datagrid-toolbar-button dx-edit-button dx-datagrid-addrow-button dx-button dx-button-normal dx-widget dx-button-has-icon dx-button-has-text" role="button" aria-label="Add new record" title="Add new record" tabindex="0"><div style="padding-right: 10px;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;" class="dx-button-content" id="btnAddCross_' + bidPartId + '" onclick="AddCrossPart(this)"><i class="dx-icon dx-icon-edit-button-addrow" style="margin-right:0px; padding-right: 0px;padding-left: 0px;"></i></div></div>');
                        //    //$("<button type='button' style='float:right; margin-right : 15px' class='btn btn-default btn-sm' id='btnAddCross_" + bidPartId + "' onclick='AddCrossPart(this)'>").text("+").appendTo(container);
                        //}
                    });
                },
                onRowPrepared: function (info) {
                    if (info.rowType == "data")
                        if (info.data.BidPartId == bidPartId) {
                            info.rowElement.css('background-color', '#e0dddd');
                        }
                },
                onEditorPrepared: function (options) {
                    if (options.parentType == 'dataRow' && options.dataField == "PartNumber") {
                        var grid = options.component;
                        var value = grid.cellValue(options.row.dataIndex, "CrossPartId");
                        options.editorElement.dxTextBox('instance').option('onFocusOut', function (e) {
                            if (e.component._options.value.trim() == '') {
                                //DevExpress.ui.dialog.alert('Please enter Cross Part Number.', 'Message');
                                //return false;
                            }
                            else {
                                CheckPartNumber(e.component._options.value, false);
                            }
                        });

                        options.editorElement.dxTextBox('instance').option('onKeyDown', function (e) {
                            e.jQueryEvent.stopPropagation();
                        });
                    }
                },

                onRowInserting: function (info) {
                    $("#spinner").show();
                    $.ajax({
                        url: "@Url.Action("SaveManualPoolPart", "CrossEntry")",
                        type: 'POST',
                        data: JSON.stringify({
                            crowdSourcingPartId: crowdSourcingPartId, CrossPartNo: info.data.PartNumber,
                            CrossPoolNo: info.data.PoolNumber, CrossPartDescription: info.data.PartDescription,
                            CrossPartCategory: info.data.PartCategory, isCrossReport: 1
                        }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            if (result.status == false) {
                                $("#spinner").hide();
                                var result = DevExpress.ui.dialog.alert("Entered Cross Part already exists.", 'Message');
                                result.done(function (dialogResult) {
                                    if (dialogResult) {
                                        $.ajax({
                                            url: "@Url.Action("GetCrosses", "CrossReport")",
                                            type: 'POST',
                                            data: JSON.stringify({ bidPartId: crowdSourcingPartId }),
                                            contentType: 'application/json; charset=utf-8',
                                            success: function (Cross) {
                                                $("#spinner").hide();
                                                $("#gridContainerDetail_" + crowdSourcingPartId).dxDataGrid("instance").option("dataSource", Cross);
                                            }
                                        });
                                    }
                                });
                            }
                            $.ajax({
                                url: "@Url.Action("GetCrosses", "CrossReport")",
                                type: 'POST',
                                data: JSON.stringify({ bidPartId: crowdSourcingPartId }),
                                contentType: 'application/json; charset=utf-8',
                                success: function (Cross) {
                                    $("#spinner").hide();
                                    $("#gridContainerDetail_" + crowdSourcingPartId).dxDataGrid("instance").option("dataSource", Cross);
                                }
                            });
                        }
                    });
                },
                onRowRemoving: function (e) {
                    $("#spinner").show();
                    var datatoPost = {
                        crossPartId: e.data.CrossPartId,
                    };
                    $.ajax({
                        url: "@Url.Action("DeleteCross", "CrossEntry")",
                        type: 'POST',
                        data: JSON.stringify(datatoPost),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            $("#spinner").hide();
                            DevExpress.ui.notify('Record deleted successfully.', "success", 1000);
                        }
                    });
                },
                onContentReady: function (e) {
                    e.component.columnOption("command:edit", "visibleIndex", -1);
                    e.element.find("a").filter(function () {
                        return $(this).text() == "Save";
                    }).html('<span title="Save" class="fa fa-save"></span>');

                    e.element.find("a").filter(function () {
                        return $(this).text() == "Cancel";
                    }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                    e.element.find("a").filter(function () {
                        return $(this).text() == "Edit";
                    }).html('<span title="Edit" class="fa fa-edit"></span>');

                    e.element.find("a").filter(function () {
                        return $(this).text() == "Delete";
                    }).html('<span title="Delete" class="fa fa-trash-o" style="margin-left:5px;"></span>');

                    var recordsToSelect;
                    $.each(e.component.getDataSource()._items, function (index, item) {
                        if ((options != null && options.data != null) && (item.CrossId == options.data.SelectedValidatedPartId || item.CrossId == options.data.SelectedCrossPartId)) {
                            recordsToSelect = index;
                        }
                    });
                    e.component.selectRowsByIndexes(recordsToSelect);

                    if(bidStatus == 'PricingTeam' || bidStatus == 'Completed' || bidStatus == 'Won' || bidStatus == 'Lost' ){
                        e.component.option("disabled", true);
                        $('#btnSaveCross_' + options.data.BidPartId).attr('disabled', true);
                        $('#btnSaveCross_' + options.data.BidPartId).attr('title', 'Bid already submitted to Pricing Team/Completed/Won/Lost.');
                        $('#btnDeclineCross_' + options.data.BidPartId).attr('disabled', true);
                        $('#btnDeclineCross_' + options.data.BidPartId).attr('title', 'Bid already submitted to Pricing Team.');
                    }
                },
                onCellPrepared: function (e) {
                    if (e.rowType === "header") {
                        e.cellElement.addClass('moveToCenter');
                    }
                    if (e.rowType === "data") {
                        e.cellElement.addClass('moveToCenter');
                        if (e.column.dataField == 'VendorColorDefinition') {
                            let value = e.data.VendorColor;
                            if (value == 'Y' || value == 'O' || value == 'K') {
                                e.cellElement.css('backgroundColor', getColor(value));
                            }
                            if(value == 'R' ||  value == 'G' || value == 'P' || value == 'B') {
                                e.cellElement.css('backgroundColor', getColor(value));
                                e.cellElement.css('color', 'white');
                            }
                        }
                        else if (e.column.dataField == 'FinalPreference') {
                            let ddl = $('<select class="btn btn-default dropdown-toggle" id="SelectBox'
                                +e.data.CrossPartId+'" name="ddlFinalPreference_'
                                +e.data.CrossPartId+'">'
                                +'<option value="NA">--Select--</option>'
                                +'<option value="Primary">Primary</option>'
                                +'<option value="Alternate1">Alternate 1</option>'
                                +'<option value="Alternate2">Alternate 2</option>'
                                +'<option value="NotACross">Not a Cross</option>'
                                +'<option value="DoNotOffer">Do not Offer</option>'
                                + '</select>');

                            ddl.val(e.data.FinalPreference);
                            ddl.change(function () {
                                e.data.FinalPreference = this.value;
                                onCrossPartUpdated(e);
                            });
                            e.cellElement.append(ddl);
                        }
                    }
                },
                columns: [
                    {
                        dataField: "CrossPartId",
                        caption: "Cross Part ID",
                        dataType: "number",
                        visible: false,
                        allowEditing: false
                    },{
                        dataField: "FinalPreference",
                        caption: "Cross Preference",
                        dataType: "string",
                        allowEditing: false,
                        cellTemplate: function (container, options) {
                            if (options.data.FinalPreference != "") {
                                $('<span/>')
                                     .text(options.data.BidName)
                                    .appendTo(container);
                            }
                        },
                        calculateSortValue: function (rowData) {
                            return "";
                        }
                    },{
                        dataField: "ReferenceTableName",
                        caption: "Reference Table",
                        dataType: "string",
                        allowEditing: false
                    }, {
                        dataField: "PartNumber",
                        caption: "Part Number",
                        dataType: "string",
                        validationRules: [{ type: 'required', trim: true }, { type: 'stringLength', max: 30, message: 'Maximum 30 characters allowed.' }]
                    }, {
                        dataField: "PoolNumber",
                        caption: "Pool",
                        allowEditing: true,
                        dataType: "number"
                    }, {
                        dataField: "PartDescription",
                        caption: "Description",
                        dataType: "string",
                        allowEditing: true,
                        validationRules: [{ type: 'stringLength', max: 50, message: 'Maximum 50 characters allowed.' }]
                    }, {
                        dataField: "PartCategory",
                        caption: "Category",
                        dataType: "string",
                        allowEditing: true,
                        validationRules: [{ type: 'stringLength', max: 8, message: 'Maximum 8 characters allowed.' }]
                    },
                    {
                        dataField: "NPMPartType",
                        caption: "NPM Part Type",
                        dataType: "string",
                        allowEditing: false,
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>NPM Part<br>Type</center>").appendTo(header);
                        },
                    },
                    {
                        dataField: "DCStockCount",
                        caption: "DC Stock Count",
                        dataType: "string",
                        allowEditing: false,
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>DC Stock<br>Count</center>").appendTo(header);
                        },
                    },
                     {
                         dataField: "StoresStockCount",
                         caption: "Loc Stock Count",
                         dataType: "string",
                         allowEditing: false,
                         headerCellTemplate: function (header, info) {
                             $("<div>").html("<center>Loc Stock<br/>Count</center>").appendTo(header);
                         },
                     },
                     {
                         dataField: "NationalL12StoresSold",
                         caption: "National L12 Stores Sold",
                         dataType: "string",
                         allowEditing: false,
                         headerCellTemplate: function (header, info) {
                             $("<div>").html("<center>National L12<br>Stores Sold</center>").appendTo(header);
                         },
                     },
                     {
                         dataField: "LocalL12StoresSold",
                         caption: "Local L12 Stores Sold",
                         dataType: "string",
                         allowEditing: false,
                         headerCellTemplate: function (header, info) {
                             $("<div>").html("<center>Local L12<br>Stores Sold</center>").appendTo(header);
                         },
                     },
                     {
                         dataField: "L12Units",
                         caption: "L12 Units",
                         dataType: "number",
                         allowEditing: false,
                         format: {  precision: 0 },
                         headerCellTemplate: function (header, info) {
                             $("<div>").html("<center>L12<br>Units</center>").appendTo(header);
                         },
                     },
                     {
                         dataField: "L12Revenue",
                         caption: "L12 Revenue",
                         dataType: "number",
                         allowEditing: false,
                         format: { type: 'currency', precision: 0 },
                         headerCellTemplate: function (header, info) {
                             $("<div>").html("<center>L12<br>Revenue</center>").appendTo(header);
                         },
                     },
                    {
                        dataField: "VendorName",
                        caption: "Vendor Name",
                        dataType: "string",
                        allowEditing: false
                    },{
                        dataField: "VendorColorDefinition",
                        caption: "Vendor Status",
                        dataType: "string",
                        allowEditing: false,
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Vendor<br>Status</center>").appendTo(header);
                        },
                    }
                ],
                dataSource: bidPartCrosses
            }).appendTo(container);
    }

    function CheckPartNumber(enteredPartNo, matchPartial) {
        $("#spinner").show();

        $.ajax({
            url: "@Url.Action("CheckPartNumber", "CrossEntry")",
            type: 'POST',
            data: JSON.stringify({ partNumber: enteredPartNo, bidId: bidId, matchPartial: matchPartial }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.length > 0) {
                    //PartList = result;

                    PartList = $.map(result, function (item) {
                        if (!item.IsFlip) {
                            return item;
                        }
                    });

                    flipPartList = $.map(result, function (item) {
                        if (item.IsFlip) {
                            return item;
                        }
                    });
                    $("#spinner").hide();

                    if (PartList.length > 0) {
                        var strPartData;
                        strPartData = "<table class='table table-bordered'>";
                        strPartData += "<th>" + "<td>" + "<b>Part No</b>" + "</td>" + "<td>" + "<b>Pool No</b>" + "</td>" + "<td>" + "<b>Description</b>" + "</td>" + "<td>" + "<b>Category</b>" + "</td>" ;
                        strPartData +=  "<td>" + "<b>NPM Part Type</b>" + "</td>" +"<td>" + "<b>DC Stock Count</b>" + "</td>" +"<td>" + "<b>Loc Stock Count</b>" + "</td>" + "<td>" + "<b>National L12 Stores Sold</b>" + "</td>" + "<td>" + "<b>Local L12 Stores Sold</b>" + "</td>" + "<td>" + "<b>L12 Units</b>" + "</td>" +  "<td>" + "<b>L12 Revenue</b>" + "</td>" + "</th>" ;
                        $.each(PartList, function (index, part) {
                            strPartData += "<tr>" +
         "<td >" + "<input type='checkbox' poolid='" + part.PoolNumber + "' productkey='" + part.ProductKey + "' partid='" + part.PartNumber + "' ssflip='" + false + "'  id='ch" + part.PoolNumber + "' value=''>" + "</td>" +
          "<td style='padding-left:10px;'> <span partno='" + part.PartNumber + "' > " + part.PartNumber + "</span> </td>" +
          "<td style='padding-left:10px;'> <span poolno='" + part.PoolNumber + "' > " + part.PoolNumber + "</span> </td>" +
          "<td style='padding-left:10px;'> <span partdescription='" + part.PartDescription + "' > " + part.PartDescription + "</span> </td>" +
         "<td style='padding-left:10px;'> <span partcategory='" + part.PartCategory + "'> " + part.PartCategory + "</span> </td>" +
          "<td style='padding-left:10px;'> <span NPMPartType='" + part.NPMPartType + "' > " + part.NPMPartType + "</span> </td>" +
         "<td style='padding-left:10px;'> <span dcstockcount='" + part.DCStockCount + "' > " + part.DCStockCount + "</span> </td>" +
          "<td style='padding-left:10px;'> <span storesstockcount='" + part.StoresStockCount + "' > " + part.StoresStockCount + "</span> </td>" +
       "<td style='padding-left:10px;'> <span NationalL12StoresSold='" + part.NationalL12StoresSold + "' > " + part.NationalL12StoresSold + "</span> </td>" +
       "<td style='padding-left:10px;'> <span LocalL12StoresSold='" + part.LocalL12StoresSold + "' > " + part.LocalL12StoresSold + "</span> </td>" +
       "<td style='padding-left:10px;'> <span L12Units='" + part.L12Units + "' > " + part.L12Units + "</span> </td>" +
       "<td style='padding-left:10px;'> <span L12Revenue='" + part.L12Revenue + "' > " + part.L12Revenue + "</span> </td>" +

          "</tr>";
                        });
                        strPartData += "</table>";
                        $("#divPartDataTable").html(strPartData);

                    }

                    if (flipPartList.length > 0) {
                        var strflipPartData;
                        strflipPartData = "<table class='table table-bordered'>";
                        strflipPartData += "<th>" + "<td>" + "<b>Part No</b>" + "</td>" + "<td>" + "<b>Pool No</b>" + "</td>" + "<td>" + "<b>Description</b>" + "</td>" + "<td>" + "<b>Category</b>" + "</td>" ;
                        strflipPartData +=  "<td>" + "<b>NPM Part Type</b>" + "</td>" + "<td>" + "<b>DC Stock Count</b>" + "</td>" + "<td>" + "<b>Loc Stock Count</b>" + "</td>" + "<td>" + "<b>National L12 Stores Sold</b>" + "</td>" + "<td>" + "<b>Local L12 Stores Sold</b>" + "</td>" + "<td>" + "<b>L12 Units</b>" + "</td>" +  "<td>" + "<b>L12 Revenue</b>" + "</td>" +   "</th>" ;
                        $.each(flipPartList, function (index, flipPart) {
                            strflipPartData += "<tr>" +
        "<td >" + "<input type='checkbox' poolid='" + flipPart.PoolNumber + "' productkey='" + flipPart.ProductKey + "' partid='" + flipPart.PartNumber + "' ssflip='" + true + "' id='ch" + flipPart.PoolNumber + "' value=''>" + "</td>" +
        "<td style='padding-left:10px;'> <span partno='" + flipPart.PartNumber + "' > " + flipPart.PartNumber + "</span> </td>" +
       "<td style='padding-left:10px;'> <span poolno='" + flipPart.PoolNumber + "' > " + flipPart.PoolNumber + "</span> </td>" +
       "<td style='padding-left:10px;'> <span partdescription='" + flipPart.PartDescription + "' > " + flipPart.PartDescription + "</span> </td>" +
        "<td style='padding-left:10px;'> <span partcategory='" + flipPart.PartCategory + "'> " + flipPart.PartCategory + "</span> </td>" +
     "<td style='padding-left:10px;'> <span NPMPartType='" + flipPart.NPMPartType + "' > " + flipPart.NPMPartType + "</span> </td>" +
    "<td style='padding-left:10px;'> <span dcstockcount='" + flipPart.DCStockCount + "' > " + flipPart.DCStockCount + "</span> </td>" +
     "<td style='padding-left:10px;'> <span storesstockcount='" + flipPart.StoresStockCount + "' > " + flipPart.StoresStockCount + "</span> </td>" +
      "<td style='padding-left:10px;'> <span NationalL12StoresSold='" + flipPart.NationalL12StoresSold + "' > " + flipPart.NationalL12StoresSold + "</span> </td>" +
       "<td style='padding-left:10px;'> <span LocalL12StoresSold='" + flipPart.LocalL12StoresSold + "' > " + flipPart.LocalL12StoresSold + "</span> </td>" +
       "<td style='padding-left:10px;'> <span L12Units='" + flipPart.L12Units + "' > " + flipPart.L12Units + "</span> </td>" +
       "<td style='padding-left:10px;'> <span L12Revenue='" + flipPart.L12Revenue + "' > " + flipPart.L12Revenue + "</span> </td>" +

        "</tr>";
                        });
                        strflipPartData += "</table>";
                        $("#divFlipPartDataTable").html(strflipPartData);

                        $("#flipMsgHeader").show();
                    }
                    else {

                        $("#flipMsgHeader").hide();
                        var container = $("#divFlipPartDataTable");
                        container[0].innerHTML = "";
                    }

                    $("#partList").modal();

                    $('#divPartDataTable input:checkbox').change(function () {
                        $('#divFlipPartDataTable input:checkbox').prop('checked', false);
                    });

                    $('#divFlipPartDataTable input:checkbox').change(function () {
                        $('#divPartDataTable input:checkbox').prop('checked', false);
                    });

                }
                else {
                    $("#spinner").hide();
                    DevExpress.ui.notify('Part Number not found.', "info", 3000);
                    var grid = options.component;
                    var value = grid.cellValue(options.row.dataIndex, "CrossPartId");
                }
            }
        });
    }

    function LoadBidPartList() {
        console.log(isSubstitutionAllowed);
        if (isSubstitutionAllowed !== undefined && isSubstitutionAllowed !== null) {
            if (isSubstitutionAllowed === true) {
                $("#allowSubstitution").text("* Substitution allowed");
            }
            else {
                $("#allowSubstitution").text("* Substitution not allowed");
            }

        }
        if(bidStatus == 'CrossFinalization'){
            $("#btnSendEmail").show();
            $("#btnPT").hide();
        }
        else if(bidStatus == 'CategoryManager'){
            $("#btnSendEmail").hide();
            @if (ViewBag.Role == UserRole.CategoryManager.ToString())
            {
                <text>
            if(cmActionStatus == 1){
                $("#btnCrossVerified").show();
                $('#btnCrossVerified').attr('disabled',true);
                $('#btnCrossVerified').prop('title', 'CM Review Done.');
                $("#btnPT").hide();
                $('#btnBulkFinalize').attr('disabled',true);
                $('#btnVerifyAll').attr('disabled',true);
                $("button:contains('btnSaveCross_')").attr('disabled',true);
                $("button:contains('btnDeclineCross_')").attr('disabled',true);
                $("button:contains('btnAddCross_')").attr('disabled',true);
            }
            else{
                $("#btnCrossVerified").show();
                $("#btnPT").hide();
            }
            </text>
            }
            else
            {
                <text>
            $("#btnCrossVerified").hide();
            $("#btnPT").show();
            </text>
            }
        }
        else if(bidStatus == 'PricingTeam'){
            $("#btnPT").show();
            $("#btnSendEmail").hide();
            $("#btnCrossVerified").hide();
            $('#btnPT').attr('disabled',true);
            $('#btnPT').prop('title', 'Bid is assigned to Pricing Team.');
        }
        else if(bidStatus == 'Completed'){
            $("#btnPT").show();
            $("#btnSendEmail").hide();
            $("#btnCrossVerified").hide();
            $('#btnPT').attr('disabled',true);
            $('#btnPT').prop('title', 'Bid pricing completed.');
        }
        else if(bidStatus == 'Won'){
            $("#btnPT").show();
            $("#btnSendEmail").hide();
            $("#btnCrossVerified").hide();
            $('#btnPT').attr('disabled',true);
            $('#btnPT').prop('title', 'Bid marked as Won.');
        }
        else if(bidStatus == 'Lost'){
            $("#btnPT").show();
            $("#btnSendEmail").hide();
            $("#btnCrossVerified").hide();
            $('#btnPT').attr('disabled',true);
            $('#btnPT').prop('title', 'Bid marked as Lost.');
        }
        else{
            $("#btnPT").show();
            $("#btnSendEmail").hide();
            $("#btnCrossVerified").hide();
            $('#btnPT').attr('disabled',true);
        }

        $("#btnDownloadCrosses").show();
        $("#box").show();

        if(bidStatus == 'CrossFinalization' || bidStatus == 'CategoryManager'){
            $("#currPhaseDueDate").text(": Due by " + bidCurrentDueDate);
        }

        //load all the crosses for the bid.
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("GetAllCrosses", "CrossReport")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (crossPartsData) {
                console.log(crossPartsData);
                crossParts = crossPartsData;
                $("#spinner").hide();
            }
        });

        $("#spinner").show();

        $.ajax({
            url: "@Url.Action("GetBidPartsList", "CrossReport")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (bidPartReport){
                bidPartsData = bidPartReport;
                LoadBidPartsGrid(bidPartReport);
                console.log(bidPartsData);
                displayFinalizedCount();
            }
        });
    }

    function LoadBidPartsGrid(bidPartReport) {
        //console.log(bidPartReport);
        expandAllCheckBox.option("value", false);
        $("#expandCheckBox").show();
        $("#btnBulkFinalize").show();
        $("#btnPartsWithoutCross").show();
        var isNoteUpdateAllowed = false;
        @if (ViewBag.Role == UserRole.CategoryManager.ToString())
        {
            <text>
        $("#btnVerifyAll").show();
        </text>
        }

        @if (ViewBag.Role == UserRole.CategoryManager.ToString() || ViewBag.Role == UserRole.NAMValidator.ToString() || ViewBag.Role == UserRole.RAMValidator.ToString()
            || ViewBag.Role == UserRole.SuperUser.ToString())
         {
             <text>
        isNoteUpdateAllowed = true;
        </text>
         }

        if( crossParts != null)
            $("#spinner").hide();

        $("#gridContainer").dxDataGrid({
            keyExpr: 'BidPartId',
            dataSource: {
                store: {
                    type: "array",
                    key: "BidPartId",
                    data: bidPartReport
                }
            },
            paging: {
                pageSize: 50
            },
            height: function () {
                return dynamicheight = $(document).height() - 195;
            },
            columnChooser: {
                enabled: true,
                mode: "select"
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 50, 100],
                showInfo: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            headerFilter: {
                visible: true
            },
            editing: {
                mode: "cell",
                allowUpdating: true,
                allowDeleting: false,
                allowAdding: false,
                texts: {
                    addRow: 'Add new record'
                }
            },
            scrolling: {
                showScrollbar: 'always'
            },
            hoverStateEnabled: true,
            allowColumnResizing: true,
            columnAutoWidth: true,
            showBorders: true,
            showColumnLines: true,
            showRowLines: true,
            onRowUpdating: function (info) {
                $("#spinner").show();
                if(info.newData.IsVerified || info.newData.IsVerified == false){
                    $.ajax({
                        url: "@Url.Action("UpdateBidPartVerificationAction", "CrossReport")",
                        type: 'POST',
                        data: JSON.stringify({ bidPartId: info.key, isVerified: info.newData.IsVerified }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            $("#spinner").hide();
                        }
                    });
                }

                if (info.newData.Note) {
                    $.ajax({
                        url: "@Url.Action("UpdateBidPartNote", "CrossReport")",
                        type: 'POST',
                        data: JSON.stringify({ bidPartId: info.key, note: info.newData.Note }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            $("#spinner").hide();
                            DevExpress.ui.notify("Note updated successfully.", "success", 2000);
                        }
                    });
                }
            },
            columns: [
                { dataField: "BidPartId", caption: "Bid Part Id", dataType: 'number', visible: false, allowEditing: false },
                @if (ViewBag.Role == UserRole.CategoryManager.ToString())
                {
                <text>
                    { dataField: "IsVerified", caption: "Reviewed by CM", allowEditing: true, visible: true, dataType: 'boolean', width: 150, trueText: 'Reviewed', falseText: 'Not Reviewed' },
                </text>
                }
                { dataField: "CustomerPartNumber", caption: "Customer Part Number", allowEditing: false, visible: true,
                    headerCellTemplate: function (header, info) {
                        $("<div>").html("<center>Customer<br>Part Number</center>").appendTo(header);
                    }, },
                { dataField: 'PartDescription', caption: "Description", wordWrapEnabled: true, allowEditing: false },
                { dataField: 'Manufacturer', caption: "Manufacturer", allowEditing: false, visible: true },
                { dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", allowEditing: false, visible: true,
                    headerCellTemplate: function (header, info) {
                        $("<div>").html("<center>Manufacturer<br>Part<br>Number</center>").appendTo(header);
                    }, },
                { dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", allowEditing: false, visible: true, dataType: 'number',
                    headerCellTemplate: function (header, info) {
                        $("<div>").html("<center>Estimated<br>Annual<br>Usage</center>").appendTo(header);
                    }, },
                { dataField: "Note", caption: "Note", allowEditing: isNoteUpdateAllowed, visible: true, dataType: "string", wordWrapEnabled: true, width: 100,
                    validationRules: [{ type: 'stringLength', max: 300, message: 'Maximum 300 characters allowed.' }]},
                { dataField: "CreatedBy", caption: "Created By", allowEditing: false, visible: false },
                { dataField: "CreatedOn", caption: "Created Date", dataType: 'date', allowEditing: false, visible: false },
                //cross details
                { dataField: "PrimaryCross.PoolNumber", caption: "Cross Pool", allowEditing: false, visible: true, sFieldName: "PrimaryCross.PoolNumber", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Pool</center>").appendTo(header);}},
                { dataField: "PrimaryCross.PartNumber", caption: "Cross Part Number", allowEditing: false, visible: true, sFieldName: "PrimaryCross.PartNumber" , headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Part<br/>Number</center>").appendTo(header);}},
                { dataField: "PrimaryCross.DCStockCount", caption: "Cross DC Stock #", allowEditing: false, visible: true, sFieldName: "PrimaryCross.DCStockCount", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>DC<br/>Stock #</center>").appendTo(header);}},
                { dataField: "PrimaryCross.StoresStockCount", caption: "Cross Loc Stock #", allowEditing: false, visible: true, sFieldName: "PrimaryCross.StoresStockCount", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Loc<br/>Stock #</center>").appendTo(header);}},
                { dataField: "PrimaryCross.L12Revenue", caption: "Cross L12 Revenue", dataType: "number", allowEditing: false, sFieldName: "PrimaryCross.L12Revenue", format: { type: 'currency', precision: 0 }, headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>L12<br>Revenue</center>").appendTo(header);}},
                { dataField: "PrimaryCross.L12Units", caption: "Cross L12 Units", allowEditing: false, visible: true, sFieldName: "PrimaryCross.L12Units" , headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>L12<br/>Units</center>").appendTo(header);}},
                { dataField: "PrimaryCross.PartCategory", caption: "Cross Category", allowEditing: false, visible: true, sFieldName: "PrimaryCross.PartCategory", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Category</center>").appendTo(header);}},
                { dataField: "PrimaryCross.VendorName", caption: "Cross Vendor Name", dataType: "string", allowEditing: false, sFieldName: "PrimaryCross.VendorName", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Vendor<br/>Name</center>").appendTo(header);}},
                { dataField: "PrimaryCross.VendorColorDefinition", caption: "Cross Vendor Status", dataType: "string", allowEditing: false, sFieldName: "PrimaryCross.VendorColorDefinition", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Vendor<br>Status</center>").appendTo(header); }},
                { dataField: "PrimaryCross.LocalL12StoresSold", caption: "Cross Local L12 Stores Sold", allowEditing: false, visible: false, sFieldName: "PrimaryCross.LocalL12StoresSold", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Local L12<br/>Stores Sold</center>").appendTo(header); } },
                { dataField: "PrimaryCross.NationalL12StoresSold", caption: "Cross Nat L12 Stores Sold", allowEditing: false, visible: false, sFieldName: "PrimaryCross.NationalL12StoresSold", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>National<br/>L12<br/>Stores<br/>Sold</center>").appendTo(header); } },

                { dataField: "PrimaryCross.TotalL12StoresSold", caption: "Cross Total L12 Stores Sold", allowEditing: false, visible: false, sFieldName: "PrimaryCross.TotalL12StoresSold", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Total<br/>L12<br/>Stores<br/>Sold</center>").appendTo(header); } },

                { dataField: "PrimaryCross.ReferenceTableName", caption: "Cross Reference Table", allowEditing: false, visible: false, sFieldName: "PrimaryCross.ReferenceTableName", headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Reference<br/>Table</center>").appendTo(header);}},
                { dataField: "PrimaryCross.PartDescription", caption: "Cross Part Description", dataType: "string", allowEditing: false, visible: false, sFieldName: "PrimaryCross.PartDescription" , headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>Part<br/>Description</center>").appendTo(header);}},
                { dataField: "PrimaryCross.NPMPartType", caption: "Cross NPM Part Type", allowEditing: false, visible: false, sFieldName: "PrimaryCross.NPMPartType" , headerCellTemplate: function (header, info) { $("<div>").html("<center>Cross<br/>NPM<br/>Part<br/>Type</center>").appendTo(header);}},

            ],
            //highlight part after save or decline
            onCellPrepared: function (e) {
                if (e.rowType === "header") {
                    e.cellElement.addClass('moveToCenter');
                }
                if (e.rowType === "data") {
                    e.cellElement.addClass('moveToCenter');
                    //set the color of the first cell
                    var value = e.data.IsFinalized;
                    if (value == 'True') {
                        if (e.column.dataField == 'CustomerPartNumber') {
                            e.cellElement.css('backgroundColor', '#64FF00');
                        }
                    }
                    if (value == 'False') {
                        if (e.column.dataField == 'CustomerPartNumber') {
                            e.cellElement.css('backgroundColor', '#FF5100');
                        }
                    }

                    //set the color of the Vendor Color Definition
                    if (e.column.dataField == 'PrimaryCross.VendorColorDefinition') {
                        var value = e.data.VendorColor;
                        if (value == 'Y' || value == 'O' || value == 'K') {
                            e.cellElement.css('backgroundColor', getColor(value));
                        }
                        if(value == 'R' ||  value == 'G' || value == 'P' || value == 'B') {
                            e.cellElement.css('backgroundColor', getColor(value));
                            e.cellElement.css('color', 'white');
                        }
                    }
                }
            },
            onRowExpanding: function (e) {
                var key = e.key;
                var index = e.component.getRowIndexByKey(key);
                var cell = e.component.getCellElement(index,  1);
                e.component.focus(cell);
            },
            onRowClick: function (e) {
                rowKey = e.component.getKeyByRowIndex(e.rowIndex);
            },
            masterDetail: {
                enabled: true,
                template: function (container, options) {
                    $("#spinner").show();
                    LoadCrossPartsList(options.data.BidPartId, options.data.IsFinalized, container, options);
                }
            }
        });

        $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
    }

    function getColor(value) {
        if (value == 'R') return 'red';
        if (value == 'G') return 'green';
        if (value == 'B') return 'blue';
        if (value == 'Y') return 'yellow';
        if (value == 'O') return 'orange';
        if (value == 'P') return 'purple';
        if (value == 'K') return 'khaki';
        return 'White';
    }

    $("#btnSearchPart").click(function () {
        var enteredPartNo = $("#txtPartNumber").val();
        var matchPartial = $("#chkMatchPartial").prop("checked");

        if( enteredPartNo ){
            $("#searchPart").modal("hide");
            CheckPartNumber(enteredPartNo, matchPartial);
        }
        else {
            DevExpress.ui.notify('Enter a part number.', "info", 3000);
        }
    });

    $("#btnAssignParts").click(function () {

        var selectedPools = [];
        var selectedParts = [];
        var selectedProductKeys = [];
        var ssflip = [];

        $.each($("#partsContent").find("input[type='checkbox']"), function (a, b) {
            if ($(b).prop("checked") == true) {
                selectedPools.push($(b).attr("poolid"));
                selectedParts.push($(b).attr("partid"));
                selectedProductKeys.push($(b).attr("productkey"));
                ssflip.push($(b).attr("ssflip"));
            }
        });

        if (selectedPools.length == 0) {
            DevExpress.ui.dialog.alert("Please select atleast one Part Number to save.", 'Message');
            return false;
        }
        else {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("SaveDbFoundPoolPart", "CrossEntry")",
                type: 'POST',
                data: JSON.stringify({ crowdSourcingPartId: crowdSourcingPartId, partNo: selectedParts[0].trim(), ssflip: ssflip[0], pools: selectedPools, productKeys: selectedProductKeys, isCrossReport: 1, source: "CrossReport" }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result == 0) {

                    }
                    $.ajax({
                        url: "@Url.Action("GetCrosses", "CrossReport")",
                        type: 'POST',
                        data: JSON.stringify({ bidPartId: crowdSourcingPartId }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (Cross) {
                            $("#spinner").hide();

                            $("#gridContainerDetail_" + crowdSourcingPartId).dxDataGrid("instance").option("dataSource", Cross);
                            $("#gridContainerDetail_" + crowdSourcingPartId).dxDataGrid("instance").cancelEditData();
                        }
                    });
                }
            });
        }
        //------------------//
    });

    $('#btnBulkFinalize').click(function () {
        SaveAll();
    });


    $('#btnPartsWithoutCross').click(function () {

        window.location = '@Url.Action("DownloadPartsWithoutCross", "CrossReport")?BidId=' + bidId + '&BidName=' + bidName;

        //code if Parts Without Crosses needs to be open in popup
        @*$.ajax({
            url: "@Url.Action("PartsWithoutCross", "CrossReport")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (partNumbers) {
                $('#partsWithoutCrossPopup').modal('show');
                $("#spinner").hide();
                $("#partsWithoutCrossList").empty();
                if(partNumbers.length > 0)
                {
                    $.map(partNumbers, function (item) {
                        $("#partsWithoutCrossList").append('<li> ' + item + '</li>');
                    });
                }
                else
                {
                    $("#partsWithoutCrossList").append('No such record found.');
                }
            }
        });*@
    });


    $('#btnVerifyAll').click(function () {
        var dataGrid = $("#gridContainer").dxDataGrid("instance");
        var filter = dataGrid.getCombinedFilter();

        var ds = new DevExpress.data.DataSource({
            store: $("#gridContainer").dxDataGrid("instance").getDataSource().items()
        });

        if( filter != NaN || filter != null && filter != "")
            filteredData = ds.filter(filter);

        ds.load();
        var filteredData = ds.items()

        $("#spinner").show();

        $(filteredData).each(function(i, e){
            $.ajax({
                url: "@Url.Action("UpdateBidPartVerificationAction", "CrossReport")",
                type: 'POST',
                data: JSON.stringify({ bidPartId: e.BidPartId, isVerified: true }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    var rowIndex = dataGrid.getRowIndexByKey(parseInt(e.BidPartId));
                    dataGrid.cellValue(rowIndex, "IsVerified", true);
                    if(i == filteredData.length - 1 )
                        $("#spinner").hide();
                }
            });
        });
    });

</script>
