﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Vendor Grade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dx-fileuploader-input-container {
        display: none !important;
    }

    .dx-fileuploader-button {
        background-color: #00a65a;
        color: white;
        padding: 0px;
    }

        .dx-fileuploader-button:hover {
            background-color: #008D4C !important;
            color: white;
        }

    .dx-group-panel-message {
        color: black !important;
    }

    #fileUploader .dx-button-content {
        height: 33px;
        width: 90px;
        padding-left: 0px;
        padding-top: 3px;
        font-size: 13px;
    }

    .dx-button .dx-state-hover {
        background-color: #008D4C !important;
    }

    /*#buttonsright .dx-button.dx-state-focused {
        background-color: #00a65a !important;
        border-color: #00a65a !important;
    }*/

    .editable {
        background-color: rgba(255, 255, 0, 0.25) !important;
    }

    .red {
        background-color: #ff471a !important;
    }

    .green {
        background-color: #ffff33 !important;
    }

    .yellow {
        background-color: #00e600 !important;
    }

    .marginRight {
        margin-right: 50px !important;
    }

    .dx-button-text {
        padding-top: 3px !important;
    }

    .dx-button .dx-state-hover {
        background-color: #51a351 !important;
    }

    /*#buttonsright .dx-button.dx-state-focused {
        background-color: #00a65a;
        border-color: #008d4c;
    }*/

    .dx-datagrid-export-button .dx-icon-export-to:before {
        content: "\f05f ";
    }
</style>

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Vendor Grade
            </h1>
            <div style="height: 35px;float: right;margin-top: 0px; margin-bottom: 10px !important;" id="buttonsright">
                <div id="fileUploader" style="display:inline-block;width:105px; height: 62px;padding: 0px; margin-top:-13px;border:solid 0px black;float: right;"></div>
            </div>
            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#VendorGrade').addClass('active');
        $("#box").hide();
        var dataGrid;
        LoadVendorGradeList();
    });

    $("#fileUploader").dxFileUploader({
        accept: ".xls,.xlsx",
        labelText: '',
        selectButtonText: 'Upload',
        uploadMode: 'instantly',
        uploadUrl: '@Url.Action("UploadVendorGradeFile", "VendorGrade")',
        showFileList: false,
        onUploadStarted: function () {
            $("#spinner").show();
        },
        onUploaded: function (e) {
            var uploadResponse = JSON.parse(e.jQueryEvent.target.responseText)
            if (uploadResponse.error) {
                DevExpress.ui.dialog.alert('Error occurred, please try again.</br>' + 'Error Message : ' + uploadResponse.errorText, 'Message');
                $("#spinner").hide();
            }
            else {
                if (uploadResponse.totalError == 0) {
                    DevExpress.ui.notify("File uploaded successfully, all data uploaded.", "success", 3000);
                    $("#spinner").hide();
                    LoadVendorGradeList();
                }
                else {
                    DevExpress.ui.dialog.alert('There were some record(s) which were not uploaded due to error(s).<br/>' + 'Total number of error(s) : ' + uploadResponse.totalError + '<br/> Please check downloaded excel sheet for error details, correct the error(s) and upload the excel again.', 'Message');
                    window.location = '@Url.Action("DownloadVendorGradeErrorDataFile", "VendorGrade")?fileName=' + uploadResponse.path;
                    $("#spinner").hide();
                    LoadVendorGradeList();
                }
            }
            e.component.reset();
        }
    });

    function LoadVendorGradeList() {
        $("#box").show();
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("GetVendorGrades", "VendorGrade")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (VendorGradeData) {
                $("#spinner").hide();
                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: VendorGradeData,
                    paging: {
                        pageSize: 50
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 190;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    "export": {
                        enabled: true,
                        fileName: "VendorGrade_List" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    columnChooser: {
                        enabled: true,
                        height: 360,
                        width: 250,
                        mode: "select",
                        emptyPanelText: 'Place to hide the columns.'
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    columns: [
                        { dataField: "VendorGradeId", caption: "Vendor Grade Id", visible: false, allowEditing: false, showInColumnChooser: false },
                        { dataField: "Category", caption: "Category", allowEditing: true, visible: true },
                        { dataField: 'VendorNumber', caption: "Vendor Number", allowEditing: true, visible: true },
                        { dataField: 'VendorName', caption: "Vendor Name", wordWrapEnabled: true, allowEditing: true, visible: true },
                        { dataField: "ColorCode", caption: "Color Code", allowEditing: true, visible: true },
                        { dataField: "Color", caption: "Color", allowEditing: true, visible: true },
                        { dataField: "Definition", caption: "Definition", allowEditing: true, visible: true },
                        { dataField: "LastModifiedBy", caption: "Modified By", allowEditing: false, visible: false, showInColumnChooser: true },
                        { dataField: "LastModifiedOn", caption: "Modified Date", dataType: 'date', allowEditing: false, visible: false, showInColumnChooser: true }
                    ],
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                });
                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
            }
        });
    }
</script>