﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


.editable {
    background-color: rgba(255, 255, 0, 0.25) !important;
}

.marginRight {
    margin-right: 50px !important;
}

/*---------DevEx css overrides-----------*/
.dx-fileuploader-input-container {
    display: none !important;
}

.dx-fileuploader-button {
    background-color: #00a65a !important;
    color: white !important;
    padding: 0px !important;
}

    .dx-fileuploader-button:hover {
        background-color: #008D4C !important;
        color: white;
    }

.dx-group-panel-message {
    color: black !important;
}

#fileUploader .dx-button-content {
    height: 33px !important;
    width: 90px !important;
    padding-left: 0px !important;
    padding-top: 3px !important;
    font-size: 13px !important;
}

.dx-button .dx-state-hover {
    background-color: #008D4C !important;
}

.dx-button-text {
    padding-top: 3px !important;
}

.dx-button .dx-state-hover {
    background-color: #51a351 !important;
}

.dx-datagrid-export-button .dx-icon-export-to:before {
    content: "\f05f ";
}
/*------------------------------*/