﻿#spinner {
    background: #e9e9e9;
    position: absolute;
    top: 0;
    display: none;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    z-index: 10000;
}

.spin-icon {
    margin-top: 21%;
    margin-left: 48%;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid blue;
    border-top: 30px solid black;
    -webkit-animation: spin-icon 1.2s ease-in-out infinite alternate;
    animation: spin-icon 1.2s ease-in-out infinite alternate;
    z-index: 20;
}

@keyframes spin-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

@-webkit-keyframes spin-icon {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(720deg);
    }
}

.spin-base {
    display: inline-block;
    font-size: 0px;
    padding: 0px;
    margin-left: 47%;
    margin-top: 1%;
}

    .spin-base span {
        vertical-align: middle;
        border-radius: 100%;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 3px 2px;
        -webkit-animation: spin-base 0.8s linear infinite alternate;
        animation: spin-base 0.8s linear infinite alternate;
    }

        .spin-base span:nth-child(1) {
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
            background: rgba(65,105,225,0.6);
        }

        .spin-base span:nth-child(2) {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
            background: rgba(65,105,225,0.8);
        }

        .spin-base span:nth-child(3) {
            -webkit-animation-delay: -0.26666s;
            animation-delay: -0.26666s;
            background: rgba(65,105,225,1);
        }

        .spin-base span:nth-child(4) {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
            background: rgba(65,105,225,0.8);
        }

        .spin-base span:nth-child(5) {
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
            background: rgba(65,105,225,0.4);
        }

@keyframes spin-base {
    from {
        transform: scale(0, 0);
    }

    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes spin-base {
    from {
        -webkit-transform: scale(0, 0);
    }

    to {
        -webkit-transform: scale(1, 1);
    }
}
