﻿@using FleetPride.BidManager.Utilities;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bid Management @System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()</title>

    <!-- Tell the browser to be responsive to screen width -->
    @*<meta name="viewport" content="width=device-width" />*@
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ionicons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AdminTool.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/_all-skins.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.4.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FPLib.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Spinner.css")" rel="stylesheet" />
    @* <link href="@Url.Content("~/Content/ProgressBar.css")" rel="stylesheet" />*@
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <style type="text/css">
        .dx-datagrid-text-content {
            color: black !important;
            font-weight: 500 !important;
        }

        .menu_text {
            font-size: 17px !important;
            font-weight: 500 !important;
        }

        .moveToCenter {
            text-align: center !important;
            vertical-align: middle !important;
        }

        .marginRight {
            margin-right: 50px !important;
        }

        .dx-scrollable-scroll-content {
            background-color: gray !important;
        }

        .dx-scrollbar-horizontal {
            height: 15px !important;
        }

        .dx-scrollbar-vertical {
            width: 15px !important;
        }

        .dx-scrollbar-horizontal .dx-scrollable-scroll {
            height: 15px !important;
        }
    </style>
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    <script>
        var flag = true;

        $.ajaxSetup({
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#spinner").hide();
                if (XMLHttpRequest && XMLHttpRequest.responseText) {
                    var alertResult = DevExpress.ui.dialog.alert(JSON.parse(XMLHttpRequest.responseText).replace(/['"]+/g, ''), 'Error');

                    alertResult.done(function (dialogResult) {
                        @*window.location = '@Url.Action("Index", "Home")';*@
                    });
                }
                else {
                    var alertResult = DevExpress.ui.dialog.alert('Internal error occurred.', 'Error');
                    alertResult.done(function (dialogResult) {
                        @*window.location = '@Url.Action("Index", "Home")';*@
                    });
                }
            }
        });

        var progressBarStatus;
        var currentProgress = 0;

        function ShowProgressBar(bidId, ProgressUrl, ProgressCheckInterval) {
            $("#progress").show("slow");
            if (ProgressCheckInterval = null || ProgressCheckInterval <= 0)
                ProgressCheckInterval = 3000;

            progressBarStatus = $("#progressBarStatus").dxProgressBar({
                min: 0,
                max: 100,
                width: "100%",
                height: 20,
                statusFormat: function (value) {
                    return "Status: " + value * 100 + "%";
                },
                onComplete: function (e) {
                    inProgress = false;
                    //e.element.addClass("complete");//some change to force the build
                }
            }).dxProgressBar("instance");

            currentProgress = 0;
            UpdateProgressBar(0);
            setTimeout(function () { ShowProgress(bidId, ProgressUrl, ProgressCheckInterval); }, ProgressCheckInterval);
        }

        function HideProgressBar() {
            $("#progress").hide("slow");
        }

        function UpdateProgressBar(val) {
            progressBarStatus.option("value", Math.ceil(val));
        }

        function ShowProgress(bidId, ProgressUrl, ProgressCheckInterval) {
            $.ajax({
                url: ProgressUrl,
                type: 'POST',
                data: JSON.stringify({ bidId: bidId }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (!result.error && result.progressStatus < 100) {
                        console.log(result)
                        if (result.progressStatus > currentProgress) {
                            currentProgress = result.progressStatus;
                            UpdateProgressBar(currentProgress);
                        }
                        setTimeout(function () { ShowProgress(bidId, ProgressUrl, ProgressCheckInterval); }, ProgressCheckInterval);
                    }
                },
                error: function (err) {
                    DevExpress.ui.dialog.alert(err, "Message");
                }
            });
        }
    </script>
</head>
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header" style="height: 58px;background-color: #0060A9 !important;">
            <nav class="navbar navbar-static-top">
                <div class="container" style="width:auto !important">
                    <div class="navbar-header" style="">
                        <a href="@Url.Action("Index", "Home")" style="float:left;margin-top: 3px;margin-left:-15px;"><img src="@Href("~/img/header-fleetlogo.png")" width="190" height="50" alt="Logo" /></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse  pull-left" id="navbar-collapse" style="margin-left:0px;margin-top: 4px;">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <ul id="nav_menu" class="nav navbar-nav target-active">
                            @if (AuthorizationRepository.HasAccess(Constants.Page.Home, ViewBag.Role))
                            {
                                <li id="home"><a href="@Url.Action("Index", "Home")" class="active menu_text"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                            }

                            @if (AuthorizationRepository.HasAccess(Constants.Page.ProgressSummary, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.CrossReport, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.PriceValidation, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.CompletedBids, ViewBag.Role))
                            {
                                <li class="dropdown" id="Bids">
                                    <a class="dropdown-toggle active menu_text" data-toggle="dropdown" href="#"><i class="fa fa-edit"></i>&nbsp; Bids <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        @if (AuthorizationRepository.HasAccess(Constants.Page.ProgressSummary, ViewBag.Role))
                                        {
                                            <li id="ProgressSummary"><a href="@Url.Action("ProgressSummary", "Summary")" class="active menu_text"><i class="fa fa-bar-chart"></i>Progress Summary</a></li>
                                        }
                                        @if (AuthorizationRepository.HasAccess(Constants.Page.CrossReport, ViewBag.Role))
                                        {
                                            <li id="CrossReport"><a href="@Url.Action("Index", "CrossReport")" class="active menu_text"><i class="fa fa-check-square-o"></i>Cross Report</a></li>
                                        }
                                        @if (AuthorizationRepository.HasAccess(Constants.Page.PriceValidation, ViewBag.Role))
                                        {
                                            <li id="PriceValidation"><a href="@Url.Action("Index", "PriceValidation")" class="active menu_text"><i class="fa fa-dollar"></i>Price Validation</a></li>
                                        }
                                        @if (AuthorizationRepository.HasAccess(Constants.Page.CompletedBids, ViewBag.Role))
                                        {
                                            <li id="CompletedBids"><a href="@Url.Action("Index", "CompletedBids")" class="active menu_text"><i class="fa fa-check-circle"></i>Completed Bids</a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            @if (AuthorizationRepository.HasAccess(Constants.Page.InventoryUpdate, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.InventoryVerification, ViewBag.Role))
                            {
                                <li class="dropdown" id="inventory">
                                    <a class="dropdown-toggle active menu_text" data-toggle="dropdown" href="#"><i class="fa fa-cubes"></i>&nbsp; Inventory <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        @if (AuthorizationRepository.HasAccess(Constants.Page.InventoryUpdate, ViewBag.Role))
                                        {
                                            <li id="InventoryUpdate"><a href="@Url.Action("Index", "Inventory")" class="active menu_text"><i class="fa fa-braille"></i>&nbsp; Inventory Update</a></li>
                                        }

                                        @if (AuthorizationRepository.HasAccess(Constants.Page.InventoryVerification, ViewBag.Role))
                                        {
                                            <li id="InventoryVerification"><a href="@Url.Action("InventoryVerification", "Inventory")" class="active menu_text"><i class="fa fa-check-square-o"></i>&nbsp; Inventory Verification</a></li>
                                        }

                                    </ul>
                                </li>
                            }

                            @if (AuthorizationRepository.HasAccess(Constants.Page.RevisePartsReport, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.DemandTeamReport, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.BidStatusReport, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.BidChangeReport, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.DataTeamReport, ViewBag.Role))
                            {
                                <li class="dropdown" id="reports">
                                    <a class="dropdown-toggle active menu_text" data-toggle="dropdown" href="#"><i class="fa fa-file"></i>&nbsp; Reports <span class="caret"></span></a>
                                    <ul class="dropdown-menu">

                                        @if (AuthorizationRepository.HasAccess(Constants.Page.RevisePartsReport, ViewBag.Role))
                                        {
                                            <li id="RevisePartsReport"><a href="@Url.Action("RevisePartsReport", "Reports")" class="active menu_text"><i class="fa fa-file"></i>&nbsp; Revise Parts Report</a></li>
                                        }

                                        @if (AuthorizationRepository.HasAccess(Constants.Page.DataTeamReport, ViewBag.Role))
                                        {
                                            <li id="DataTeamReport"><a href="@Url.Action("DataTeamReport", "Reports")" class="active menu_text"><i class="fa fa-file"></i>&nbsp; Data Team Report</a></li>
                                        }
                                        @if (AuthorizationRepository.HasAccess(Constants.Page.DemandTeamReport, ViewBag.Role))
                                        {
                                            <li id="DemandTeamReport"><a href="@Url.Action("DemandTeamReport", "Reports")" class="active menu_text"><i class="fa fa-file"></i>&nbsp; Demand Team Report</a></li>
                                        }

                                        @if (AuthorizationRepository.HasAccess(Constants.Page.BidStatusReport, ViewBag.Role))
                                        {
                                            <li id="BidStatusReport"><a href="@Url.Action("BidStatusReport", "Reports")" class="active menu_text"><i class="fa fa-file"></i>&nbsp; Bid Status Report</a></li>
                                        }

                                        @if (AuthorizationRepository.HasAccess(Constants.Page.BidStatusReportForDataTeam, ViewBag.Role))
                                        {
                                            <li id="BidStatusReportForDataTeam"><a href="@Url.Action("BidStatusReportForDataTeam", "Reports")" class="active menu_text"><i class="fa fa-file"></i>&nbsp; Bid Status Report - Data Team</a></li>
                                        }

                                        @if (AuthorizationRepository.HasAccess(Constants.Page.BidChangeReport, ViewBag.Role))
                                        {
                                            <li id="BidStatusReport"><a href="@Url.Action("BidChangeReport", "Reports")" class="active menu_text"><i class="fa fa-file"></i>&nbsp; Bid Change Report</a></li>
                                        }
                                        @if (AuthorizationRepository.HasAccess(Constants.Page.InventoryReport, ViewBag.Role))
                                        {
                                            <li id="InventoryReport"><a href="@Url.Action("InventoryReport", "Reports")" class="active menu_text"><i class="fa fa-file"></i>&nbsp; Inventory($) Report</a></li>
                                        }

                                    </ul>
                                </li>
                            }

                            @if (AuthorizationRepository.HasAccess(Constants.Page.CrowdsourcingSummary, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.CrossEntry, ViewBag.Role) || AuthorizationRepository.HasAccess(Constants.Page.CrossValidation, ViewBag.Role))
                            {
                                <li class="dropdown" id="crowdsourcing">
                                    <a class="dropdown-toggle active menu_text" data-toggle="dropdown" href="#"><i class="fa fa-exchange"></i>&nbsp; Crowdsourcing <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        @if (AuthorizationRepository.HasAccess(Constants.Page.CrowdsourcingSummary, ViewBag.Role))
                                        {
                                            <li id="CrowdsourcingSummary"><a href="@Url.Action("CrowdsourcingSummary", "Summary")" class="active menu_text"><i class="fa fa-bar-chart"></i>Crowdsourcing Summary</a></li>
                                        }

                                        @if (AuthorizationRepository.HasAccess(Constants.Page.CrossEntry, ViewBag.Role))
                                        {
                                            <li id="CrossEntry"><a href="@Url.Action("Index", "CrossEntry")" class="active menu_text"><i class="fa fa fa-pencil-square-o"></i>&nbsp; Cross Entry</a></li>
                                        }

                                        @if (AuthorizationRepository.HasAccess(Constants.Page.CrossValidation, ViewBag.Role))
                                        {
                                            <li id="CrossValidation"><a href="@Url.Action("Index", "CrossValidation")" class="active menu_text"><i class="fa fa-map-signs"></i>&nbsp; Cross Validation</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            @if (AuthorizationRepository.HasAccess(Constants.Page.VendorGrade, ViewBag.Role))
                            {
                                <li id="VendorGrade"><a href="@Url.Action("Index", "VendorGrade")" class="active menu_text"><i class="fa fa-upload"></i>&nbsp;Vendor Grade</a></li>
                            }
                        </ul>
                    </div>
                    <div class="navbar-custom-menu hidden-sm hidden-xs">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" style="margin-top: 4px">
                                    <span class="hidden-xs">
                                        <i class="fa fa-user-circle fa-lg"></i>
                                        &nbsp; @HttpContext.Current.User.Identity.Name &nbsp;
                                    </span>
                                </a>
                            </li>
                            <li>
                                @if (ViewBag.Role == UserRole.SuperUser.ToString() || ViewBag.Role == UserRole.LocalUser.ToString() || ViewBag.Role == UserRole.NAMSupervisor.ToString() || ViewBag.Role == UserRole.NAMValidator.ToString() || ViewBag.Role == UserRole.NAM.ToString() || ViewBag.Role == UserRole.RAMSupervisor.ToString() || ViewBag.Role == UserRole.RAMValidator.ToString() || ViewBag.Role == UserRole.RAM.ToString() || ViewBag.Role == UserRole.PricingTeam.ToString() || ViewBag.Role == UserRole.CategoryManager.ToString())
                                {
                                    <a href="@Url.Content("~/HelpDoc/Bid Management System -Training Manual.pdf")" target="_blank" style="margin-top: 4px"> <span class="hidden-xs"> <i class="fa fa-info-circle fa-lg"></i> &nbsp; Help</span> </a>
                                    @*<a href= "@Href("~/Views/Home/Bid Management System -Training Manual.pdf")" target="_blank" style="margin-top: 4px"> <span class="hidden-xs"> <i class="fa fa-info-circle fa-lg"></i> &nbsp; Help</span> </a>*@

                                }
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-custom-menu -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </header>

        <!-- Full Width Column -->
        <div id="content-header">
            <div id="spinner">
                <div class="spin-icon"></div>
                <div class="spin-base">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            @RenderBody()

            <div id="progress" style="background: white; width:100%; height: 40px; display:none; padding-left: 20px; padding-right: 30px; position:fixed; bottom: 0%; z-index:10001;">
                <div id="progressBarStatus" style="margin: 10px;  display: inline-block;">
                </div>
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <script>
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
        });

    </script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.slimscroll.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fastclick.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/adminlte.js")" type="text/javascript"></script>

</body>
</html>