﻿
@{
    ViewBag.Title = "Available Crosses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dx-button-text {
        padding-top: 3px !important;
    }

    .dx-button .dx-state-hover {
        background-color: #51a351 !important;
    }

    #buttonsright .dx-button.dx-state-focused {
        background-color: #00a65a;
        border-color: #008d4c;
    }

    .dx-datagrid-export-button .dx-icon-export-to:before {
        content: "\f05f ";
    }
</style>
<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Request Crowdsourcing: (@Session["BidName"])
            </h1>
            <div style="height: 35px;float: right;margin-top: 0px; margin-bottom: 10px !important;" id="buttonsright">
                <a href='@Url.Action("UploadBidParts", "Home")?BidId=@Session["BidId"]&BidName=@Session["BidName"]' id="btnAddParts" class="btn btn-primary" style="margin-right:30px; border-radius: 4px;">Add More Parts</a>
                <button type="submit" class="btn btn-success" id="btnSubmit" style="border-radius: 4px; margin-top:0px;">Submit</button>
            </div>
            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-body">
                    <span>
                        Select the parts for crowdsourcing (optional) and click Submit to proceed further.
                    </span>
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
    $(document).ready(function () {
        var allBidLoadData;
        $("#nav_menu li").removeClass("active");
        $('#home').addClass('active');

        var dataGrid;
        $("#spinner").show();

        // Function to load bid parts
        $.ajax({
            url: "@Url.Action("GetBidPartsList", "Home")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (BidLoadData) {
                $("#spinner").hide();

                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: BidLoadData,
                    paging: {
                        pageSize: 10
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 190;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    selection: {
                        mode: "multiple", showCheckBoxesMode: 'always', allowSelectAll: true, selectAllMode: "allPages"
                    },
                    @*"export": {
                        enabled: true,
                        fileName: "BidPartList" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                    },*@
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    columns: [
                        //{ dataField: "BidPartId", caption: "SN", dataType: 'number', visible: true, allowEditing: false },
                        { dataField: "BidPartId", caption: "Bid Part Id", dataType: 'number', visible: false, allowEditing: false },
                        { dataField: "CustomerPartNumber", caption: "Customer Part Number", allowEditing: false, visible: true },
                        { dataField: 'PartDescription', caption: "Description", wordWrapEnabled: true, allowEditing: false },
                        { dataField: 'Manufacturer', caption: "Manufacturer", allowEditing: false, visible: true },
                        { dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", allowEditing: false, visible: true },
                        { dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", allowEditing: false, visible: true, dataType: 'number' },
                        { dataField: "Note", caption: "Note", allowEditing: false, visible: true },
                        { dataField: "CreatedBy", caption: "Created By", allowEditing: false, visible: false },
                        { dataField: "CreatedOn", caption: "Created Date", dataType: 'date', allowEditing: false, visible: false }
                    ],
                    onExporting: function (e) {
                        e.component.beginUpdate();
                        e.component.columnOption("SNo", "visible", false);
                    },
                    onExported: function (e) {
                        e.component.columnOption("SNo", "visible", true);
                        e.component.endUpdate();
                    },
                    onInitialized: function (e) {
                        e.component.columnOption("command:edit", "width", 55);
                    },
                    onInitNewRow: function (options) {
                        if (options.parentType == 'dataRow' && options.dataField == "EstimatedAnnualUsage") {
                            e.cellElement.addClass('marginRight');
                        }
                    },
                    onContentReady: function (e) {
                        //e.component.columnOption("command:select", "width", 200);
                        e.component.columnOption("command:edit", "visibleIndex", -1);
                        e.element.find("a").filter(function () {
                            return $(this).text() == "Save";
                        }).html('<span title="Save" class="fa fa-save"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Cancel";
                        }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Edit";
                        }).html('<span title="Edit" class="fa fa-edit"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Delete";
                        }).html('<span title="Delete" class="fa fa-trash-o" style="margin-left:5px;"></span>');
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType == "header") {
                            e.cellElement.addClass('moveToCenter');
                        }
                        if (e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                    onRowExpanding: function (e) {
                        e.component.collapseAll(-1);
                    },
                    masterDetail: {
                        enabled: true,
                        template: function (container, options) {
                            $("#spinner").show();
                            container.css('padding', 10);
                            $.ajax({
                                url: "@Url.Action("GetCrosses", "Home")",
                                type: 'POST',
                                data: JSON.stringify({ bidPartId: options.data.BidPartId }),
                                contentType: 'application/json; charset=utf-8',
                                success: function (bidPartCrosses) {
                                    $("#spinner").hide();
                                    if (bidPartCrosses.length > 0) {
                                        crowdSourcingPartId = options.data.BidPartId;
                                        $("<div id='gridContainerDetail_" + options.data.BidPartId + "' partId='" + options.data.BidPartId + "' >")
                                            .addClass("internal-grid")
                                            .dxDataGrid({
                                                columnAutoWidth: true,
                                                showBorders: true,
                                                showColumnLines: true,
                                                showRowLines: true,
                                                onCellPrepared: function (e) {
                                                    if (e.rowType == "header") {
                                                        e.cellElement.addClass('moveToCenter');
                                                    }
                                                    if (e.rowType === "data") {
                                                        e.cellElement.addClass('moveToCenter');
                                                        var value = e.data.Color;
                                                        if (e.column.dataField == 'VendorColor') {
                                                            e.cellElement.css('backgroundColor', getColor(value));
                                                            if (value == 'R' || value == 'G' || value == 'P' || value == 'B') {
                                                                if (e.column.dataField == 'VendorStatus') {
                                                                    e.cellElement.css('color', 'white');
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                columns: [
                                                {
                                                    dataField: "CrossPartId",
                                                    caption: "Cross Part ID",
                                                    dataType: "number",
                                                    visible: false
                                                }, {
                                                    dataField: "ReferenceTableName",
                                                    caption: "Reference Table",
                                                    dataType: "string"
                                                }, {
                                                    dataField: "PartNumber",
                                                    caption: "Part Number",
                                                    dataType: "string"
                                                }, {
                                                    dataField: "PoolNumber",
                                                    caption: "Pool",
                                                    dataType: "number"
                                                }, {
                                                    dataField: "PartDescription",
                                                    caption: "Description",
                                                    dataType: "string"
                                                }, {
                                                    dataField: "PartCategory",
                                                    caption: "Category",
                                                    dataType: "string"
                                                }, {
                                                    dataField: "VendorColor",
                                                    caption: "Vendor Code",
                                                    dataType: "string",
                                                    visible: false
                                                }, {
                                                    dataField: "Manufacturer",
                                                    caption: "Manufacturer",
                                                    dataType: "string"
                                                }
                                                ],
                                                dataSource: bidPartCrosses
                                            }).appendTo(container);
                                    }
                                    else {
                                        $("<div id='gridContainerDetail_" + options.data.BidPartId + "' partId='" + options.data.BidPartId + "' >")
                                            .html("<span>No Crosses found.</span>")
                                            .appendTo(container);
                                    }
                                }
                            });
                        }
                    }
                });
                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
            }
        });

        function getColor(value) {
            if (value == 'R') return 'red';
            if (value == 'G') return 'green';
            if (value == 'B') return 'blue';
            if (value == 'Y') return 'yellow';
            if (value == 'O') return 'orrange';
            if (value == 'P') return 'purple';
            if (value == 'K') return 'khaki';
            return 'White';
        }

        function submit(selectedRows) {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("Submit", "Home")",
                type: 'POST',
                data: JSON.stringify({ selectedRows: selectedRows }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function () {
                    $("#spinner").hide();
                    DevExpress.ui.notify("The bid has been saved. Check the progress summary for current status of the Bid.", "success", 3000);
                    setTimeout(
                      function () {
                          window.location = '@Url.Action("Index", "Home")';
                      }, 3000);
                }
            });
        }

        $('#btnSubmit').click(function () {
            var selectedRows = $('#gridContainer').dxDataGrid('instance').getSelectedRowsData();
            var flag = true;

            if (selectedRows.length == 0) {
                var dialogResult = DevExpress.ui.dialog.confirm("Do you wish to proceed without selecting any parts for crowdsourcing?", "Confirm")
                dialogResult.done(function (result) {
                    if (result) {
                        submit(selectedRows)
                    }
                });
            }
            else {
                submit(selectedRows)
            }
        });
    });

</script>
