﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Home Page";
}
<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        @*<section class="content-header">
                <h1 style="float:left;">Create Bid</h1>
                <br>
            </section>*@

        <div class="accordion-container">
            <div class="set">
                <a href="#" id="CreateBid">
                    Create Bid
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div id="BidType" style="width:400px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div id="CustomerType" style="width:400px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div id="Company" style="width:400px; opacity:1;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="CustomerName" style="font-weight:normal;"><span id="customerLabel">Corp Id - Name</span><span style="color:red">&nbsp;*</span></label>
                                <div id="CustomerName" style="width:400px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="BidName" style="font-weight:normal;">Bid Name<span style="color:red">&nbsp;*</span></label>
                                <div id="BidName" style="width:290px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="RequestType" style="font-weight:normal;">Request Type<span style="color:red">&nbsp;*</span></label>
                                <div id="RequestType" style="width:290px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="DateSubmitted" style="font-weight:normal;">Date Provided<span style="color:red">&nbsp;*</span></label>
                                <div id="DateSubmitted" style="width:180px; opacity:1;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="BidDesc" style="font-weight:normal;">Bid Description Summary<span style="color:red">&nbsp;*</span></label>
                                <div id="BidDesc" style="width:400px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="FPFacingLoc" style="font-weight:normal;">FP Facing Locations</label>
                                <div id="FPFacingLoc" style="width:290px; opacity:1;"></div>
                            </div>
                            <div class="form-group">
                                <label for="TotalBidValue" style="font-weight:normal;">Total Bid Value</label>
                                <div id="TotalBidValue" style="width:290px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="FPPriceHold" style="font-weight:normal;">FP Price Hold (Cost Adjustments)</label>
                                <div id="FPPriceHold" style="width:290px; opacity:1;"></div>
                            </div>
                            <div class="form-group" style="margin-top:25px;">
                                <label for="PurchaseGuarantee" style="font-weight:normal;">Customer Inventory Purchase Guarantee</label>
                                <div id="PurchaseGuarantee" style="width:290px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="HoldUntill" style="font-weight:normal;">Price Hold Untill</label>
                                <div id="HoldUntill" style="width:180px; opacity:1;"></div>
                            </div>
                            <div class="form-group">
                                <label for="BidDueDate" style="font-weight:normal;">Bid Due Date<span style="color:red">&nbsp;*</span></label>
                                <div id="BidDueDate" style="width:180px; opacity:1;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="LevelofInventoryDetails" style="font-weight:normal;">What Level of Inventory Details Customer Can Provide?</label>
                                <div id="LevelofInventoryDetails" style="width:400px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="AllowSubstitutions" style="font-weight:normal;">Will Customer Allow Substitutions?</label>
                                <div id="AllowSubstitutions" style="width:290px; opacity:1;"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="BrandTextbox">
                            <div class="form-group">
                                <label for="BarndPreference" style="font-weight:normal;">Brand Preference</label>
                                <div id="BarndPreference" style="width:290px; opacity:1;"></div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <form id="excelUploadForm" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <div id="UploadExcel" class="custom-styled-file-upload-control" style="width:850px; opacity:1;"></div>
                            </div>
                        </form>
                        <center><button type="button" id="btnCreate" class="btn btn-success" style="position:absolute; margin-left:-5%; margin-top:-20px;">Save & Upload Parts</button></center>
                        <br />
                    </div>

                </div>
            </div>
            <div class="set">
                <a href="#" id="ExistingBid">
                    Existing Bids
                    <i class="fa fa-plus"></i>
                </a>
                
                <div class="content">
                    <div class="row">
                        <div  style="padding-left:15px;">
                            <div class="form-group">
                                <div id="ddlStatusFilter" style="width:200px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-default">
                        <div class="box-body">
                            <div id="gridContainer"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>

<style>
    .bluebutton {
        background-color:blue;
        color:white;
        
    }
    .custom-styled-file-upload-control .dx-fileuploader-files-container {
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 130px;
        margin-top: -60px;
        /*float: right;*/
    }

    .custom-styled-file-upload-control .dx-fileuploader-button {
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: -10px;
        border: 1px groove lightgray;
    }

    .dx-datagrid .dx-link {
        text-decoration: none !important;
    }

    .accordion-container {
        position: relative;
        max-width: 100%;
        height: auto;
        margin: 10px auto;
    }

        .accordion-container > h2 {
            text-align: center;
            color: #fff;
            padding-bottom: 5px;
            margin-bottom: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ddd;
        }

    .set {
        position: relative;
        width: 100%;
        height: auto;
        background-color: #f5f5f5;
        border: 1px solid #0060B9;
    }

        .set > a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #555;
            font-weight: 600;
            border-bottom: 1px solid #ddd;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

            .set > a i {
                float: right;
                margin-top: 2px;
            }

            .set > a.active {
                background-color: #0060B9;
                color: #fff;
                border: 0px;
            }

    .content {
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        display: none;
    }

        .content p {
            padding: 10px 15px;
            margin: 0;
            color: #333;
        }
</style>

<script type="text/javascript">

    var resultBidType = ["National", "Regional", "Local"];
    var resultCustomerType = [{ Val: 0, Text: "Existing" }, { Val: 1, Text: "New Customer" }];
    var resultRadio = [{ Val: 1, Text: "Yes" }, { Val: 0, Text: "No" }];
    var resultCustInfo = [];
    var resultRequestType = ["Formal RFQ", "Proactive Customer Solution", "Simple/Informal Bid Request", "Add On", "Other"];
    var resultInventoryLevel = ["Location Specific Usage", "Combined Annual Usage(All Locations)", "Some Usage Info", "No usage Info"];
    var statusAvailable = ["All", "Bid Launched", "Cross Review by CM", "Completed", "Cross Finalization",
        "Data Team", "Demand Team", "Invalid", "Inventory Re-Update", "Inventory Review by CM",
        "Inventory Review by VP", "Inventory Update", "Lost", "Pricing Team", "Upload Parts", "Won"];
    var statusForAdmin = [
        { "Id": "Won", "Name": "Won" },
        { "Id": "Invalid", "Name": "Invalid" },


    ];
    var bidDueDate;
    var holdUntillDate;
    var isNationalBidColumn = true;
    var isLocalBidColumn = true;
    var isSuperUserColumn = true;
    var isAllowedEditing = true;
    var isDemandTeamStatusExists = false;
    var loggedInUser = '@HttpContext.Current.User.Identity.Name';
    var displayLaunchBid = false;
    var isAdmin = false;
    if ('@ViewBag.Role.ToString().ToLower()' == 'superuser') {
        isAdmin = true;
    }

    $("#ExistingBid").on("click", function () {

        $("#spinner").show();
        LoadBids();
    });

    $(".set > a").on("click", function () {
        if ($(this).hasClass("active")) {
            $(this).removeClass("active");
            $(this)
              .siblings(".content")
              .slideUp(200);
            $(".set > a i")
              .removeClass("fa-minus")
              .addClass("fa-plus");
        } else {
            $(".set > a i")
              .removeClass("fa-minus")
              .addClass("fa-plus");
            $(this)
              .find("i")
              .removeClass("fa-plus")
              .addClass("fa-minus");
            $(".set > a").removeClass("active");
            $(this).addClass("active");
            $(".content").slideUp(200);
            $(this)
              .siblings(".content")
              .slideDown(200);
        }
    });

    $(document).ready(function () {
        $("#menu li").removeClass("active");
        $('#home').addClass('active');

        $("#spinner").show();
        $("#BrandTextbox").hide();

        $("#CustomerType").dxRadioGroup({
            items: resultCustomerType,
            value: 0,
            displayExpr: 'Text',
            valueExpr: 'Val',
            layout: "horizontal",
            onValueChanged: function (data) {
                if (data.value == 0) {
                    $("#CustomerName").dxAutocomplete('instance').option('minSearchLength', 3);
                }
                else {
                    $("#CustomerName").dxAutocomplete('instance').option('minSearchLength', 1000);
                }
            }
        });
        $("#Company").dxRadioGroup({
            dataSource: [{ Val: 1, Text: "FleetPride" }, { Val: 2, Text: "PDC" }],
            value: 1,
            displayExpr: 'Text',
            valueExpr: 'Val',
            disabled: true,
            //visible: false,
            layout: "horizontal",
        });
        $("#BidType").dxRadioGroup({
            dataSource: resultBidType,
            @if (ViewBag.Role == UserRole.SuperUser.ToString())
                {
                    <text>
            value: "National",
            </text>
                }
            else if (ViewBag.Role == UserRole.NAMSupervisor.ToString() || ViewBag.Role == UserRole.NAMValidator.ToString() || ViewBag.Role == UserRole.NAM.ToString())
            {
               <text>
            value: "National",
            disabled: true,
            </text>
            }
            else if (ViewBag.Role == UserRole.RAMSupervisor.ToString() || ViewBag.Role == UserRole.RAMValidator.ToString() || ViewBag.Role == UserRole.RAM.ToString())
            {
               <text>
            value: "Regional",
            disabled: true,
            </text>
            }
            else
            {
                <text>
            value: "Local",
            disabled: true,
            </text>
            }
            layout: "horizontal",
            onValueChanged: function (data) {
                //$("#spinner").show();

                $("#CustomerName").dxAutocomplete('instance').option('value', '');

                if (data.value == "National" || data.value == "Regional") {
                    $("#PurchaseGuarantee").dxRadioGroup('instance').option('disabled', true);
                    $("#FPFacingLoc").dxNumberBox('instance').option('disabled', true);
                    $("#PurchaseGuarantee").dxRadioGroup('instance').option('value', '');
                    $("#FPFacingLoc").dxNumberBox('instance').option('value', '');
                    $("#CustomerName").dxAutocomplete('instance').option('placeholder', 'Type Corp Id or Name');
                    $("#customerLabel").text('Corp Id - Name');
                }
                else {
                    $("#PurchaseGuarantee").dxRadioGroup('instance').option('disabled', false);
                    $("#FPFacingLoc").dxNumberBox('instance').option('disabled', false);
                    $("#PurchaseGuarantee").dxRadioGroup('instance').option('value', '');
                    $("#FPFacingLoc").dxNumberBox('instance').option('value', '');
                    $("#CustomerName").dxAutocomplete('instance').option('placeholder', 'Type Customer Number or Name');
                    $("#customerLabel").text('Customer Number - Branch - Name');
                }
            }
        });

        //Set the customer Name text box autocomplete
        $("#CustomerName").dxAutocomplete({
            minSearchLength: 3,
            searchMode: 'contains',
            searchTimeout: 500,
            placeholder: "Type Corp Id or Name",
            dataSource: new DevExpress.data.DataSource({
                load: function (loadOptions) {

                    var d = new $.Deferred();
                    var bidType = $("#BidType").dxRadioGroup('instance').option('value');
                    var Compy = $("#Company").dxRadioGroup('instance').option('value');
                    $("#spinner").show();

                    $.ajax({
                        url: "@Url.Action("GetAllCustInfo", "Home")",
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ bidType: bidType, company: Compy, filter: loadOptions.searchValue }),
                        success: function (result) {
                            $("#spinner").hide();
                            d.resolve(result.Data);
                        }
                    });
                    return d.promise();

                }

            }),
            valueExpr: "CustomerInfo"
        });

        if ($("#BidType").dxRadioGroup('instance').option('value') == 'Local') {
            $("#CustomerName").dxAutocomplete('instance').option('placeholder', 'Type Customer Number or Name');
            $("#customerLabel").text('Customer Number - Branch - Name');
        }
        else {
            $("#CustomerName").dxAutocomplete('instance').option('placeholder', 'Type Corp Id or Name');
            $("#customerLabel").text('Corp Id - Name');
        }

        $("#BidName").dxTextBox({
            "minLength": 3,
            "maxLength": 50,
            "showClearButton": true,
            placeholder: "Type Name of Bid"
        }).dxValidator({
            validationRules: [
                 { type: 'pattern', pattern: '^[a-zA-Z0-9].*$', message: '' }
            ]
        });
        $("#RequestType").dxSelectBox({
            items: resultRequestType,
            searchEnabled: true,
            placeholder: "Select Bid Request Type"
        });
        $("#DateSubmitted").dxDateBox({
            pickerType: "calendar",
            //min: minDate,
            //max: maxDate,
            //value: defaultDate,
            acceptCustomValue: false,
            placeholder: "mm/dd/yyyy"
        });
        $("#BidDesc").dxTextArea({
            height: 113,
            placeholder: "Type short narrative describing the scope and backgroud of bid"
        })
        $("#FPFacingLoc").dxNumberBox({
            value: '',
            min: 1,
            max: 99999,
            showSpinButtons: true,
            placeholder: "Type no. of FP Facing Location"
        });
        if ($("#BidType").dxRadioGroup('instance').option('value') == 'National' || $("#BidType").dxRadioGroup('instance').option('value') == 'Regional') {
            $("#FPFacingLoc").dxNumberBox('instance').option('disabled', true);
        }

        $("#FPPriceHold").dxRadioGroup({
            items: resultRadio,
            value: 1,
            displayExpr: 'Text',
            valueExpr: 'Val',
            layout: "horizontal",
        });
        $("#HoldUntill").dxDateBox({
            pickerType: "calendar",
            min: new Date(),
            //max: maxDate,
            //value: defaultDate,
            acceptCustomValue: false,
            placeholder: "mm/dd/yyyy"
        });
        $("#BidDueDate").dxDateBox({
            pickerType: "calendar",
            min: new Date(),
            acceptCustomValue: false,
            placeholder: "mm/dd/yyyy",
            onValueChanged: function (data) {
                bidDueDate = data.value;
                holdUntillDate = new Date(bidDueDate.getFullYear() + 1, bidDueDate.getMonth(), bidDueDate.getDate());
                $("#HoldUntill").dxDateBox('instance').option('value', holdUntillDate);
            }
        });
        $("#TotalBidValue").dxNumberBox({
            value: '',
            min: 1,
            max: 9999999999,
            showSpinButtons: true,
            placeholder: "Enter Bid Value"
        });
        $("#AllowSubstitutions").dxRadioGroup({
            items: resultRadio,
            value: 1,
            displayExpr: 'Text',
            valueExpr: 'Val',
            layout: "horizontal",
            onValueChanged: function (data) {
                if (data.value == 1) {
                    $("#BrandTextbox").hide();
                    $("#BarndPreference").dxTextBox('instance').option('value', "");
                }
                else {
                    $("#BrandTextbox").show();
                    $("#BarndPreference").dxTextBox('instance').option('value', "");
                }
            }
        });

        $("#BarndPreference").dxTextBox({
            "minLength": 1,
            "maxLength": 100,
            "showClearButton": true,
            placeholder: "Type Brand Preference"
        });
        $("#PurchaseGuarantee").dxRadioGroup({
            items: resultRadio,
            value: '',
            displayExpr: 'Text',
            valueExpr: 'Val',
            layout: "horizontal",
        });
        if ($("#BidType").dxRadioGroup('instance').option('value') == 'National' || $("#BidType").dxRadioGroup('instance').option('value') == 'Regional') {
            $("#PurchaseGuarantee").dxRadioGroup('instance').option('disabled', true);
        }

        $("#LevelofInventoryDetails").dxSelectBox({
            items: resultInventoryLevel,
            searchEnabled: true,
            placeholder: "Select Level of Inventory Details"
        });
        $("#UploadExcel").dxFileUploader({
            selectButtonText: "Upload Original Customer File",
            labelText: "",
            accept: "*",
            uploadMode: "useForm",
            multiple: false,
            value: [],
            onValueChanged: function (e) {
                var files = e.value;
                if (files.length > 0) {
                    $.each(files, function (i, file) {
                        var fileTypeAllowed = file.type.split("/");
                        //if (fileTypeAllowed[0].toUpperCase() != ".XLS") {
                        //    $("#UploadExcel").dxFileUploader('instance').option('value', "");
                        //    DevExpress.ui.dialog.alert('Invalid file.', 'Message');
                        //}
                        if (file.size > 10000000) {    // 10000000 is 10 MB
                            $("#UploadExcel").dxFileUploader('instance').option('value', "");
                            DevExpress.ui.dialog.alert('Max Image size allowed is 10 MB.', 'Message');
                        }
                    });
                }
            },
        });

        $("#ExistingBid").trigger("click");

    });

    function isSpecialCharacterEntered(input) {
        let invalidChars = ",\^?%*#";
        for (let i = 0; i < input.length; i++) {
            if (invalidChars.includes(input[i])) {
                return true;
            }
        }
        return false;

    }

    $('#btnCreate').click(function () {
        if ($("#CustomerName").dxAutocomplete('instance').option('value') == null) {
            var alertResult = DevExpress.ui.dialog.alert('Please enter valid Customer Details.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#CustomerName").dxAutocomplete('instance').option('value', "");
                $("#CustomerName").dxAutocomplete('instance').focus();
            });
            return false;
        }
        if ($("#CustomerName").dxAutocomplete('instance').option('value').trim() == "") {
            var alertResult = DevExpress.ui.dialog.alert('Please enter valid Customer Details.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#CustomerName").dxAutocomplete('instance').option('value', "");
                $("#CustomerName").dxAutocomplete('instance').focus();
            });
            return false;
        }
        if ($("#BidName").dxTextBox('instance').option('value') == "" && $("#BidName").dxTextBox('instance').option('value').trim() == "") {
            var alertResult = DevExpress.ui.dialog.alert('Please enter valid Bid Name.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#BidName").dxTextBox('instance').option('value', "");
                $("#BidName").dxTextBox('instance').focus();
            });
            return false;
        }
        if ($("#BidName").dxTextBox('instance').option('value').trim().length < 3) {
            var alertResult = DevExpress.ui.dialog.alert('Bid Name should be of atleast 3 characters.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#BidName").dxTextBox('instance').option('value', "");
                $("#BidName").dxTextBox('instance').focus();
            });
            return false;
        }
        if ($("#BidName").dxTextBox('instance').option('isValid') == false) {
            var alertResult = DevExpress.ui.dialog.alert('Bid Name should not have special charcter at begining.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#BidName").dxTextBox('instance').option('value', "");
                $("#BidName").dxTextBox('instance').focus();
            });
            return false;
        }

        if (isSpecialCharacterEntered($("#BidName").dxTextBox('instance').option('value'))) {
            var alertResult = DevExpress.ui.dialog.alert('Special characters are not allowed.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#BidName").dxTextBox('instance').option('value', "");
                $("#BidName").dxTextBox('instance').focus();
            });
            return false;
        }

        if ($("#RequestType").dxSelectBox('instance').option('value') == "" || $("#RequestType").dxSelectBox('instance').option('value') == undefined || $("#RequestType").dxSelectBox('instance').option('value') == null) {
            var alertResult = DevExpress.ui.dialog.alert('Please select a Request Type.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#RequestType").dxSelectBox('instance').option('value', "");
                $("#RequestType").dxSelectBox('instance').focus();
            });
            return false;
        }
        if ($("#DateSubmitted").dxDateBox('instance').option('value') == "" || $("#DateSubmitted").dxDateBox('instance').option('value') == null) {
            var alertResult = DevExpress.ui.dialog.alert('Please enter valid Date Provided.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#DateSubmitted").dxDateBox('instance').option('value', "");
                $("#DateSubmitted").dxDateBox('instance').focus();
            });
            return false;
        }
        if ($("#BidDesc").dxTextArea('instance').option('value') == "" && $("#BidDesc").dxTextArea('instance').option('value').trim() == "") {
            var alertResult = DevExpress.ui.dialog.alert('Please enter valid Bid Description.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#BidDesc").dxTextArea('instance').option('value', "");
                $("#BidDesc").dxTextArea('instance').focus();
            });
            return false;
        }
        if ($("#BidDesc").dxTextArea('instance').option('value').length > 250) {
            var alertResult = DevExpress.ui.dialog.alert('Bid Description should be maximum of 250 characters.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#BidDesc").dxTextArea('instance').option('value', "");
                $("#BidDesc").dxTextArea('instance').focus();
            });
            return false;
        }
        if ($("#BidDueDate").dxDateBox('instance').option('value') == "" || $("#BidDueDate").dxDateBox('instance').option('value') == null) {
            var alertResult = DevExpress.ui.dialog.alert('Please enter valid Bid Due Date.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#BidDueDate").dxDateBox('instance').option('value', "");
                $("#BidDueDate").dxDateBox('instance').focus();
            });
            return false;
        }
        if ($("#AllowSubstitutions").dxRadioGroup('instance').option('value') == 0 && $("#BarndPreference").dxTextBox('instance').option('value').trim() == "") {
            var alertResult = DevExpress.ui.dialog.alert('Please enter valid Brand Preference.', 'Message');
            alertResult.done(function (dialogResult) {
                $("#BarndPreference").dxTextBox('instance').option('value', "");
                $("#BarndPreference").dxTextBox('instance').focus();
            });
            return false;
        }
        var excelData = new FormData($('#excelUploadForm')[0]);

        var custNumber = "";
        var custBranch = "";
        var custName = "";
        var corpId = "";
        var corpName = "";
        var submittedDate = $("#DateSubmitted").dxDateBox('instance').option('value');
        var bidDueDate = $("#BidDueDate").dxDateBox('instance').option('value');
        var holdDate = $("#HoldUntill").dxDateBox('instance').option('value');

        var custInfo = $("#CustomerName").dxAutocomplete('instance').option('value');
        custInfo = custInfo.split(' - ');

        if ($("#BidType").dxRadioGroup('instance').option('value') == "National" || $("#BidType").dxRadioGroup('instance').option('value') == 'Regional') {
            if ($("#CustomerType").dxRadioGroup('instance').option('value') == "1") {
                corpName = $("#CustomerName").dxAutocomplete('instance').option('value');
            }
            else {
                corpId = custInfo[0];
                corpName = custInfo[1];
            }
        }
        else {
            if ($("#CustomerType").dxRadioGroup('instance').option('value') == "1") {
                custName = $("#CustomerName").dxAutocomplete('instance').option('value');
            }
            else {
                custNumber = custInfo[0];
                custBranch = custInfo[1];
                custName = custInfo[2];
            }
        }

        submittedDate = submittedDate.toLocaleDateString();
        bidDueDate = bidDueDate.toLocaleDateString();
        holdDate = holdDate.toLocaleDateString();

        var isFileUploaded = 0;
        $("#spinner").show();

        $.ajax({
            'url': "@Url.Action("ValidateExcelUpload", "Home")",
            'type': 'post',
            'data': excelData,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.Status == 1) {

                    isFileUploaded = 1;

                    $.ajax({
                        url: "@Url.Action("CreateBid", "Home")",
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            BidType: $("#BidType").dxRadioGroup('instance').option('value'),
                            IsProspect: $("#CustomerType").dxRadioGroup('instance').option('value'),
                            BidStatus: 'Created',
                            Company: $("#Company").dxRadioGroup('instance').option('value'),
                            CustNumber: custNumber,
                            CustBranch: custBranch,
                            CustName: custName,
                            CustCorpId: corpId,
                            CustCorpAccName: corpName,
                            BidName: $("#BidName").dxTextBox('instance').option('value').trim(),
                            RequestType: $("#RequestType").dxSelectBox('instance').option('value'),
                            SubmittedDate: submittedDate,
                            BidDescription: $("#BidDesc").dxTextArea('instance').option('value').trim(),
                            FPFacingLocations: $("#FPFacingLoc").dxNumberBox('instance').option('value'),
                            IsFPPriceHold: $("#FPPriceHold").dxRadioGroup('instance').option('value'),
                            DueDate: bidDueDate,
                            TotalValueOfBid: $("#TotalBidValue").dxNumberBox('instance').option('value'),
                            IsCustomerInventoryPurchaseGuarantee: $("#PurchaseGuarantee").dxRadioGroup('instance').option('value'),
                            HoldDate: holdDate,
                            LevelOfInvetoryDetailCustomerCanProvide: $("#LevelofInventoryDetails").dxSelectBox('instance').option('value'),
                            IsCustomerAllowSubstitutions: $("#AllowSubstitutions").dxRadioGroup('instance').option('value'),
                            BrandPreference: $("#BarndPreference").dxTextBox('instance').option('value').trim()
                        }),
                        success: function (result) {

                            var id = result;

                            if (result > 0 && isFileUploaded == 1) {
                                $.ajax({
                                    'url': "@Url.Action("ExcelUpload", "Home")?bidId=" + id + "&bidName=" + $("#BidName").dxTextBox('instance').option('value').trim(),
                                    'type': 'post',
                                    'data': excelData,
                                    processData: false,
                                    contentType: false,
                                    success: function (result) {
                                        DevExpress.ui.notify('Bid created successfully.', "success", 3000);

                                        window.location = "@Url.Action("UploadBidParts", "Home")?BidId=" + id + "&BidName=" + $("#BidName").dxTextBox('instance').option('value').trim();
                                    }
                                })
                            }
                            if (result > 0) {
                                DevExpress.ui.notify('Bid created successfully.', "success", 3000);

                                window.location = "@Url.Action("UploadBidParts", "Home")?BidId=" + id + "&BidName=" + $("#BidName").dxTextBox('instance').option('value').trim();
                            }
                            else if (result == -1) {
                                $("#spinner").hide();
                                $("#BidName").dxTextBox('instance').option('value', "");
                                DevExpress.ui.dialog.alert('Bid Name already exists.', 'Message');
                                return false;
                            }
                            else {
                                DevExpress.ui.notify('Error occured, Process failed.', "error", 3000);
                            }
                            $("#spinner").hide();
                        }
                    });
                }
                else if (result.Status == 2) {
                    $("#spinner").hide();
                    var alertResult = DevExpress.ui.dialog.alert('Only .xlsx and .xls formats are supported.', 'Message');
                    alertResult.done(function (dialogResult) {
                    });
                    return false;
                }
                else {
                    $("#spinner").hide();
                    var alertResult = DevExpress.ui.dialog.alert('Please upload original customer file.', 'Message');
                    alertResult.done(function (dialogResult) {
                    });
                    return false;
                }
            }
        })
    });

    function LoadBids() {
        $.ajax({
            url: "@Url.Action("GetAllBids", "Home")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                result.forEach((item, index) => {
                    if (item.BidStatus === 'DemandTeam' && item.CreatedBy.toLowerCase() === loggedInUser.toLowerCase() && item.CreatedByRole === 'NAM') {
                        displayLaunchBid = true;
                    }

                });
                @if (ViewBag.Role == UserRole.SuperUser.ToString() || ViewBag.Role == UserRole.DemandTeam.ToString())
                {
                    <text>
                displayLaunchBid = true;
                </text>
                }

                @if (ViewBag.Role == UserRole.NAMSupervisor.ToString() || ViewBag.Role == UserRole.NAMValidator.ToString() || ViewBag.Role == UserRole.NAM.ToString()
                    || ViewBag.Role == UserRole.RAMSupervisor.ToString() || ViewBag.Role == UserRole.RAMValidator.ToString() || ViewBag.Role == UserRole.RAM.ToString())
                {
                    <text>
                isLocalBidColumn = false;
                isSuperUserColumn = false;
                isAllowedEditing = false;
                </text>
                }

                @if (ViewBag.Role == UserRole.LocalUser.ToString())
                {
                    <text>
                isNationalBidColumn = false;
                isSuperUserColumn = false;
                isAllowedEditing = false;
                </text>
                }

                $("#gridContainer").dxDataGrid({
                    dataSource: result,
                    columnHidingEnabled: false,
                    showBorders: true,
                    "export": {
                        enabled: true,
                        fileName: "BM_Bids" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                    },
                    paging: {
                        pageSize: 50
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 240;
                    },
                    grouping: {
                        contextMenuEnabled: true,
                        expandMode: "rowClick"
                    },
                    pager: {
                        showPageSizeSelector: true,
                        showNavigationButtons: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    editing: {
                        mode: "popup",
                        allowUpdating: true,
                        allowDeleting: false,
                        allowAdding: false,
                        popup: {
                            title: "Update Bid Info",
                            showTitle: true,
                            width: 800,
                            height: 400,
                        },
                        texts: {
                            addRow: 'Add new record'
                        }
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    columnChooser: {
                        enabled: true,
                        height: 360,
                        width: 250,
                        mode: "select",
                        emptyPanelText: 'Place to hide the columns.'
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: false
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    rowAlternationEnabled: true,
                    allowColumnReordering: true,
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                    onRowUpdating: function (info) {
                        var oldRank;
                        var newRank;
                        var dueDate;
                        var phaseDueDate;
                        var totalValueOfBid;
                        var projectedGPDollar
                        var projectedGPPerc;
                        var sourceExcelFileName;
                        var regExp = /^[0-9]*?$/;;
                        console.log(info.oldData);
                        console.log(info.newData);

                        if (isAdmin === true && (info.newData.BidStatusDisplay !== undefined && info.newData.BidStatusDisplay !== null && info.oldData.BidStatusDisplay.toLowerCase() !== info.newData.BidStatusDisplay.toLowerCase())) {

                                $("#spinner").show();
                                $.ajax({
                                    url: "@Url.Action("AdminBidStatusUpdate", "Home")",
                                    type: 'POST',
                                    data: JSON.stringify({
                                        bidId: info.oldData.BidId, oldStatus: info.oldData.BidStatusDisplay, newStatus: info.newData.BidStatusDisplay
                                    }),
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (result) {
                                        if (result > 0) {
                                            DevExpress.ui.notify('Bid status updated successfully.', "success", 1000);
                                            location.reload();
                                        }
                                        else {
                                            $("#spinner").hide();
                                            DevExpress.ui.notify('Error occured, Process failed.', "error", 1000);
                                            return false;
                                        }
                                    }
                                });


                        }

                        else {
                            if (info.newData.Rank) {
                                oldRank = info.oldData.Rank;
                                newRank = info.newData.Rank;
                            }
                            else {
                                oldRank = info.oldData.Rank;
                                newRank = info.oldData.Rank;
                            }

                            if (info.newData.DueDate) {
                                dueDate = info.newData.DueDate;

                                var arr = [];
                                arr = dueDate.split('/');
                                dueDate = arr[1] + "/" + arr[2] + "/" + arr[0];

                                var todaysDate = new Date();
                                todaysDate = todaysDate.toLocaleDateString();
                                var arr1 = [];
                                arr1 = todaysDate.split('/');
                                if (arr1[0] < 10) {
                                    arr1[0] = '0' + arr1[0];
                                }
                                if (arr1[1] < 10) {
                                    arr1[1] = '0' + arr1[1];
                                }
                                todaysDate = arr1[0] + "/" + arr1[1] + "/" + arr1[2];

                                if (todaysDate > dueDate) {
                                    LoadBids();
                                    var alertResult = DevExpress.ui.dialog.alert('Bid due date should be future date.', 'Message');
                                    alertResult.done(function (dialogResult) {
                                    });
                                    return false;
                                }
                            }
                            else {
                                dueDate = info.oldData.DueDate;
                            }

                            if (info.newData.CurrentPhaseDueDate) {
                                phaseDueDate = info.newData.CurrentPhaseDueDate;

                                var arr = [];
                                arr = phaseDueDate.split('/');
                                phaseDueDate = arr[1] + "/" + arr[2] + "/" + arr[0];

                                var todaysDate = new Date();
                                todaysDate = todaysDate.toLocaleDateString();
                                var arr1 = [];
                                arr1 = todaysDate.split('/');
                                if (arr1[0] < 10) {
                                    arr1[0] = '0' + arr1[0];
                                }
                                if (arr1[1] < 10) {
                                    arr1[1] = '0' + arr1[1];
                                }
                                todaysDate = arr1[0] + "/" + arr1[1] + "/" + arr1[2];

                                if (todaysDate > phaseDueDate) {
                                    LoadBids();
                                    var alertResult = DevExpress.ui.dialog.alert('Bid phase due date should be future date.', 'Message');
                                    alertResult.done(function (dialogResult) {
                                    });
                                    return false;
                                }
                            }
                            else {
                                phaseDueDate = info.oldData.CurrentPhaseDueDate;
                            }

                            if (info.newData.TotalValueOfBid) {
                                totalValueOfBid = info.newData.TotalValueOfBid;
                            }
                            else {
                                totalValueOfBid = info.oldData.TotalValueOfBid;
                            }

                            if (info.newData.ProjectedGPDollar) {
                                projectedGPDollar = info.newData.ProjectedGPDollar;
                            }
                            else {
                                projectedGPDollar = info.oldData.ProjectedGPDollar;
                            }

                            if (info.newData.ProjectedGPPerc) {
                                projectedGPPerc = info.newData.ProjectedGPPerc;
                            }
                            else {
                                projectedGPPerc = info.oldData.ProjectedGPPerc;
                            }

                            if (newRank <= 0) {
                                LoadBids();
                                var alertResult = DevExpress.ui.dialog.alert('Rank should be greater than 0.', 'Message');
                                alertResult.done(function (dialogResult) {
                                });
                                return false;
                            }

                            if (!regExp.test(newRank)) {
                                LoadBids();
                                var alertResult = DevExpress.ui.dialog.alert('Rank can not have decimal value.', 'Message');
                                alertResult.done(function (dialogResult) {
                                });
                                return false;
                            }

                            $("#spinner").show();
                            $.ajax({
                                url: "@Url.Action("UpdateBid", "Home")",
                                type: 'POST',
                                data: JSON.stringify({
                                    bidId: info.oldData.BidId, oldRank: oldRank, newRank: newRank, dueDate: dueDate,
                                    phaseDueDate: phaseDueDate, totalValueOfBid: totalValueOfBid,
                                    projectedGPDollar: projectedGPDollar, projectedGPPerc: projectedGPPerc
                                }),
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {
                                    if (result == 1) {
                                        DevExpress.ui.notify('Bid details updated successfully.', "success", 1000);
                                        LoadBids();
                                    }
                                    else {
                                        $("#spinner").hide();
                                        DevExpress.ui.notify('Error occured, Process failed.', "error", 1000);
                                        return false;
                                    }
                                }
                            });
                        }
                    },
                    onContentReady: function (e) {
                        e.component.columnOption("command:edit", "visibleIndex", -1);
                        e.element.find("a").filter(function () {
                            return $(this).text() == "Save";
                        }).html('<span title="Save" class="fa fa-save"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Cancel";
                        }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Edit";
                        }).html('<span title="Edit" class="fa fa-edit"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Delete";
                        }).html('<span title="Delete" class="fa fa-trash-o" style="margin-left:5px;"></span>');
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType == "header") {
                            if (e.column.dataField == "DueDate" || e.column.dataField == "Rank" || e.column.dataField == "TotalValueOfBid"
                                || e.column.dataField == "ProjectedGPDollar" || e.column.dataField == "ProjectedGPPerc" || e.column.dataField == "SourceExcelFileName") {
                                e.cellElement.css('backgroundColor', 'rgba(255, 255, 0, 0.25)');
                            }
                        }

                    },
                    onEditorPreparing: function (e) {
                        //if (e.parentType === 'dataRow' && e.column.d == 'Launch Bid') {
                        //    alert(1);
                        //}
                        if (e.parentType === 'dataRow' && e.dataField === 'SourceExcelFileName') {
                            var bidId = e.row.data.BidId;
                            var bidName = e.row.data.BidName;
                            e.editorElement.dxFileUploader({
                                selectButtonText: "Upload Customer File",
                                labelText: "",
                                accept: "*",
                                uploadMode: "instantly",
                                uploadUrl: "@Url.Action("ExcelUpload", "Home")?BidId=" + bidId + "&bidName=" + bidName,
                                multiple: false,
                                value: [],
                                onValueChanged: function (e) {
                                    var files = e.value;
                                    if (files.length > 0) {
                                        $.each(files, function (i, file) {
                                            var fileTypeAllowed = file.type.split("/");
                                            if (file.size > 10000000) {    // 10000000 is 10 MB
                                                $("#UploadExcel").dxFileUploader('instance').option('value', "");
                                                DevExpress.ui.dialog.alert('Max Image size allowed is 10 MB.', 'Message');
                                            }
                                        });
                                    }
                                },
                            });
                            e.cancel = true;
                        }
                    },
                    columns: [
                        { dataField: 'BidType', caption: "Bid Type", visible: isSuperUserColumn, allowEditing: false, showInColumnChooser: isSuperUserColumn, formItem: { visible: false } },
                        {
                            dataField: "BidId",
                            caption: "Launch Bid",
                            visible: displayLaunchBid,
                            width: 80,
                            allowFiltering: false,
                            allowSorting: false,
                            showInColumnChooser: false, formItem: { visible: false } ,
                            cellTemplate: function (container, options) {
                                $("<div />").dxButton({
                                    disabled: options.data.BidStatus !== 'DemandTeam',
                                    onClick: function (e) {
                                        $("#spinner").show();
                                        if (options.data.BidStatus === 'DemandTeam') {
                                            $.ajax({
                                                url: "@Url.Action("LaunchBid", "Reports")",
                                                type: 'POST',
                                                data: JSON.stringify({ bidId: options.data.BidId }),
                                                contentType: 'application/json; charset=utf-8',
                                                success: function (result) {
                                                    $("#spinner").hide();
                                                    if (result === true) {
                                                        DevExpress.ui.notify('Bid launched successfully.', "success", 3000);
                                                        document.location.reload();

                                                    }
                                                    else {
                                                        DevExpress.ui.notify('Error occured.', "error", 3000);
                                                    }
                                                }
                                            });
                                        }
                                        else {
                                            DevExpress.ui.notify("Bid with status 'Demand Team' can be launched", "error", 3000);
                                        }
                                        $("#spinner").hide();

                                    }
                                })
                                    .text('Launch')
                                    .addClass('bluebutton')
                                    .appendTo(container);
                            }
                        }    ,
                        //{ dataField: 'BidId', caption: "Bid Id", allowEditing: false, visible: false, showInColumnChooser: false, formItem: { visible: false } },
                        {
                            dataField: 'BidStatusDisplay', caption: "Status", visible: false, allowEditing: true, formItem: { visible: isAdmin }, lookup: {
                                dataSource: statusForAdmin,
                                displayExpr: "Name",
                                valueExpr: "Id",
                            },

                        },
                        {
                            dataField: 'BidStatusDisplay', caption: "Status", visible: true, allowEditing: true, formItem: { visible: false },
                        },
                        //{ dataField: 'IsProspect', caption: "Is Prospect", dataType: 'boolean', visible: true, allowEditing: false, formItem: { visible: false } },



                    {
                        dataField: 'BidName', caption: "Bid Name", visible: true, allowEditing: false, dataType: 'string', formItem: { visible: false },
                        cellTemplate: function (container, options) {
                            if (options.data.BidStatus == "@Constants.Created") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("UploadBidParts", "Home")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if (options.data.BidStatus == "@Constants.CrossesGenerated") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("AvailableCrosses", "Home")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if ('@ViewBag.Role.ToString()' == 'PricingTeam' && options.data.BidStatus == "@Constants.CategoryManager")
                            {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("Index", "PriceValidation")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if (options.data.BidStatus == "@Constants.CrossFinalization" || options.data.BidStatus == "@Constants.CategoryManager") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("Index", "CrossReport")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if (options.data.BidStatus == "@Constants.PricingTeam") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("Index", "PriceValidation")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if (options.data.BidStatus == "@Constants.Completed" || options.data.BidStatus == "@Constants.Won" || options.data.BidStatus == "@Constants.Lost") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("Index", "CompletedBids")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if (options.data.BidStatus == "@Constants.InventoryUpdate" || options.data.BidStatus == "@Constants.InventoryReUpdate") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("Index", "Inventory")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if (options.data.BidStatus == "@Constants.LineReview_CM" || options.data.BidStatus == "@Constants.LineReview_Dir" || options.data.BidStatus == "@Constants.LineReview_VP") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("InventoryVerification", "Inventory")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if (options.data.BidStatus == "@Constants.DataTeam") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("DataTeamReport", "Reports")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if (options.data.BidStatus == "@Constants.DemandTeam" || options.data.BidStatus == "@Constants.BidLaunched") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("DemandTeamReport", "Reports")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else if (options.data.BidStatus == "@Constants.CrowdSourcing") {
                                $('<a/>').addClass('dx-link')
                                     .text(options.data.BidName)
                                     .on('dxclick', function () {
                                         window.location = "@Url.Action("CrowdsourcingSummary", "Summary")?BidId=" + options.data.BidId + "&BidName=" + options.data.BidName;
                                     }).appendTo(container);
                            }
                            else {
                                $('<a/>').addClass('dx-link')
                                      .text(options.data.BidName)
                                      .appendTo(container);
                            }
                        },
                        calculateSortValue: function (rowData) {
                            return rowData.BidName;
                        }
                        },
                        { dataField: 'CreatedBy', caption: "Created By", visible: false, allowEditing: false, formItem: { visible: false } },
                        { dataField: 'CreatedByFullName', caption: "Created By", visible: true, allowEditing: false, formItem: { visible: false } },
                        { dataField: 'CreatedOn', dataType: "date", caption: "Created On", visible: true, allowEditing: false, formItem: { visible: false } },
                        { dataField: 'BidDescription', caption: "Bid Description", visible: true, allowEditing: false, width: 300, formItem: { visible: false } },
                        @if(ViewBag.Role == "CategoryManager") {
                             <text> { dataField: 'CrossActionStatus', caption: "Crosses Verifed", dataType: 'boolean', visible: true, allowEditing: false, formItem: { visible: false } },
                             { dataField: 'InventoryActionStatus', caption: "Inventory Verifed", dataType: 'boolean', visible: true, allowEditing: false, formItem: { visible: false } },</text>
                        }
                        { dataField: 'LaunchDate', caption: "Expected Launch Date", visible: true, allowEditing: false, dataType: 'date', formItem: { visible: false } },
                        { dataField: 'ActualLaunchDate', caption: "Actual Launch Date", visible: true, allowEditing: false, dataType: 'date', formItem: { visible: false } },
                    { dataField: 'DueDate', caption: "Bid Due Date", visible: true, allowEditing: true, dataType: 'date' },
                    {
                        dataField: 'CalculatedDueDate', caption: "Estimated Bid Due Date", visible: true, allowEditing: false, showInColumnChooser: true, formItem: { visible: false },
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Estimated <br>Bid Due Date</center>").appendTo(header);
                        },
                    },
                    {
                        dataField: 'CurrentPhaseDueDate', caption: "Estimated Phase Due Date", dataType: 'date', visible: true, allowEditing: true, showInColumnChooser: true, formItem: { visible: true },
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Estimated <br>Phase Due Date</center>").appendTo(header);
                        },
                    },
                    {
                        dataField: 'Rank', caption: "Rank", visible: true, allowEditing: true
                    },
                    { dataField: 'Company', caption: "Company", visible: true, allowEditing: false, formItem: { visible: false } },
                        { dataField: 'CustNumber', caption: "Customer Number", visible: isLocalBidColumn, allowEditing: false, showInColumnChooser: isLocalBidColumn, formItem: { visible: false } },
                        { dataField: 'CustBranch', caption: "Customer Branch", visible: isLocalBidColumn, allowEditing: false, showInColumnChooser: isLocalBidColumn, formItem: { visible: false } },
                        { dataField: 'CustName', caption: "Customer Name", visible: isLocalBidColumn, allowEditing: false, showInColumnChooser: isLocalBidColumn, formItem: { visible: false } },
                    { dataField: 'CustCorpId', caption: "Customer Corp Id", visible: isNationalBidColumn, allowEditing: false, showInColumnChooser: isNationalBidColumn, formItem: { visible: false } },
                    {
                        dataField: 'CustCorpAccName', caption: "Customer Corp Account Name", visible: isNationalBidColumn, allowEditing: false, showInColumnChooser: isNationalBidColumn, formItem: { visible: false },
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Customer Corp<br>Account Name</center>").appendTo(header);
                        },
                    },
                    { dataField: 'GroupId', caption: "Group Id", visible: isNationalBidColumn, allowEditing: false, showInColumnChooser: isNationalBidColumn, formItem: { visible: false } },
                    { dataField: 'GroupDesc', caption: "Group Description", visible: isNationalBidColumn, allowEditing: false, showInColumnChooser: isNationalBidColumn, formItem: { visible: false } },
                    { dataField: 'RequestType', caption: "Request Type", visible: true, allowEditing: false, formItem: { visible: false } },
                    { dataField: 'SubmittedDate', caption: "Submitted Date", visible: true, allowEditing: false, formItem: { visible: false } },
                    {
                        dataField: 'FPFacingLocations', caption: "No. of FP Facing Locations", visible: true, allowEditing: false, formItem: { visible: false },
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>No. of FP<br>Facing<br>Locations</center>").appendTo(header);
                        },
                    },
                    { dataField: 'TotalValueOfBid', caption: "Total Bid Value($)", dataType: 'number', format: { type: 'currency', precision: 2 }, visible: true, allowEditing: true },
                    { dataField: 'ProjectedGPDollar', caption: "Projected GP($)", dataType: 'number', format: { type: 'currency', precision: 2 }, visible: true, allowEditing: true },
                    {
                        dataField: 'ProjectedGPPerc', caption: "Projected GP(%)", dataType: 'number', format: { type: 'percent', precision: 2 }, visible: true, allowEditing: true,
                        calculateDisplayValue: function (rowData) {
                            if (rowData.ProjectedGPPerc == "") {
                                return null;
                            }
                            else {
                                return (rowData.ProjectedGPPerc / 100);
                            }
                        }
                    },
                    { dataField: 'IsFPPriceHold', caption: "FP Price Hold(Cost Adjustments)", dataType: 'boolean', visible: true, allowEditing: false, formItem: { visible: false } },
                    { dataField: 'HoldDate', caption: "Hold Date", visible: true, allowEditing: false, formItem: { visible: false } },
                    {
                        dataField: 'IsCustomerAllowSubstitutions', caption: "Customer Allow Substitutions", dataType: 'boolean', visible: true, allowEditing: false, formItem: { visible: false },
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Customer<br>Allow<br>Substitutions</center>").appendTo(header);
                        },
                    },
                    {
                        dataField: 'BrandPreference', caption: "Brand Preference", visible: true, allowEditing: false, formItem: { visible: false },
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Exclusive<br>Brands<br>Allowed</center>").appendTo(header);
                        },
                    },
                    {
                        dataField: 'IsCustomerInventoryPurchaseGuarantee', caption: "Customer Inventory Purchase Guarantee", dataType: 'boolean', visible: true, formItem: { visible: false }, allowEditing: false,
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Customer<br>Inventory<br>Purchase Guarantee</center>").appendTo(header);
                        },
                    },
                    {
                        dataField: 'LevelOfInvetoryDetailCustomerCanProvide', caption: "Level Of Invetory Detail", visible: true, allowEditing: false, formItem: { visible: false },
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Level Of<br>Invetory Detail</center>").appendTo(header);
                        },
                    },
                    {
                        dataField: 'SourceExcelFileName', caption: "Customer Original File", visible: true, allowEditing: false, dataType: 'String',
                        cellTemplate: function (container, options) {
                            $('<a/>').addClass('dx-link')
                                 .text(options.data.SourceExcelFileName)
                                 .on('dxclick', function () {
                                     window.location = "@Url.Action("DownloadSourceExcel", "Home")?sourceExcelFileName=" + options.data.SourceExcelFileName;
                                 }).appendTo(container);
                        },
                        calculateSortValue: function (rowData) {
                            return rowData.SourceExcelFileName;
                        }
                    },
                    { dataField: 'CreatedByRole', caption: "Created By Role", visible: true, allowEditing: false, formItem: { visible: false } },
                    { dataField: 'NAMUserID', caption: "NAM/RAM User ID", visible: isNationalBidColumn, allowEditing: false, showInColumnChooser: isNationalBidColumn, formItem: { visible: false } }

                    ],
                }).dxDataGrid("instance");
                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');

                $("#spinner").hide();
            }
        });

        $("#ddlStatusFilter").dxSelectBox({
            items: statusAvailable,
            searchEnabled: true,
            placeholder: "Select Status",
            onValueChanged: function (e) {
                //const previousValue = e.previousValue;
                //const newValue = e.value;
                //$("#gridContainer").dxDataGrid("instance").columnOption("BidStatusDisplay", "selectedFilterOperation", "equal");
                //$("#gridContainer").dxDataGrid("instance").columnOption("BidStatusDisplay", "filterValue", e.value);
                let dataGrid = $("#gridContainer").dxDataGrid("instance");
                if (e.value === 'All') { dataGrid.clearFilter(); } else { dataGrid.filter(['BidStatusDisplay', '=', e.value]); }
            }
        });
    }
</script>
