﻿
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="container" style="width:auto !important">
        <section class="content-header">
            <h2 class="danger">Unauthorized Access</h2>
            <br />
            <P> You do not have access to this application. </P>
            @*<P> If you are a new user, please follow the steps in the manual below </P>
        <P>
            <a href="@Url.Content("~/HelpDoc/Bid Orboarding Document.pdf")" target="_blank" style="margin-top: 4px"> <span class="hidden-xs"> &nbsp; Bid Tool onboarding document</span> </a>
        </P>*@
            <P>
                If you require access to this application, please send an email to <a href="mailto:help@fleetpride.com" style="text-decoration:underline;" target="_top">help@fleetpride.com</a> and copy your Manager.
            </P>
            <P> Please use <b>“Request to access the Bid Management Application”</b> in your subject line of the email. </P>

        </section>
    </div>
</div>

