﻿
@{
    ViewBag.Title = "Upload Bid Parts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dx-fileuploader-input-container {
        display: none !important;
    }

    .dx-fileuploader-button {
        background-color: #00a65a;
        color: white;
        padding: 0px;
    }

        .dx-fileuploader-button:hover {
            background-color: #008D4C !important;
            color: white;
        }

    .dx-group-panel-message {
        color: black !important;
    }

    #fileUploader .dx-button-content {
        height: 33px;
        width: 90px;
        padding-left: 0px;
        padding-top: 3px;
        font-size: 13px;
    }

    .dx-button .dx-state-hover {
        background-color: #008D4C !important;
    }

    #buttonsright .dx-button.dx-state-focused {
        background-color: #00a65a !important;
        border-color: #00a65a !important;
    }

    .editable {
        background-color: rgba(255, 255, 0, 0.25) !important;
    }

    .red {
        background-color: #ff471a !important;
    }

    .green {
        background-color: #ffff33 !important;
    }

    .yellow {
        background-color: #00e600 !important;
    }

    .marginRight {
        margin-right: 50px !important;
    }
</style>
<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Upload Bid Parts: (@Session["BidName"])
            </h1>
            <div style="height: 35px;float: right;margin-top: 0px; margin-bottom: 10px !important;" id="buttonsright">
                <i class="fa fa-info-circle fa-2x" id="btnOpenHelpPopUp" aria-hidden="true" style="margin-right:20px; float:left; border-radius: 4px;margin-top:3px; cursor:pointer; display:block;"></i>
                <div id="fileUploader" style="display:inline-block;width:105px; height: 62px;padding: 0px; margin-top:-18px;border:solid 0px black"></div>
                <button type="submit" class="btn btn-success" id="btnGenerateCrosses" style="border-radius: 4px; margin-top:-50px;">Finish Uploading</button>
                <button type="button" class="btn btn-primary hidden-xs" id="btnTemp" style="margin-right:20px; float:left; border-radius: 4px;">Download Template</button>
            </div>
            <br /><br />

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->
<!-- Modal to show help/steps to upload a part-->
<div class="modal fade" id="HelpPopup" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <h3>Steps to upload bid parts</h3>
            </div>
            <div class="modal-body" style="padding:0px !important;">
                <ul style="list-style-type:decimal">
                    <li>Click on the "Download Template" button to get the excel template.</li>
                    <li>Save Part Numbers and related data in downloaded excel.</li>
                    <li>Click on the "Upload" button to upload the saved excel.</li>
                    <li>After upload, Part Numbers and related data will be displayed in the grid.</li>
                    <li>Click on the "Finish Uploading" button to generate crosses for the uploaded parts.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnCloseHelpPopUp" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#home').addClass('active');
        var dataGrid;
        $("#spinner").show();
        LoadBidPartsList();
        $("#spinner").hide();
    });

    $("#fileUploader").dxFileUploader({
        accept: ".xls,.xlsx",
        labelText: '',
        selectButtonText: 'Upload',
        uploadMode: 'instantly',
        uploadUrl: '@Url.Action("UploadBidPartData", "Home")?bidId='+@Session["BidId"],
        showFileList: false,
        onUploadStarted: function () {
            $("#spinner").show();
        },
        onUploaded: function (e) {
            var uploadResponse = JSON.parse(e.jQueryEvent.target.responseText)
            if (uploadResponse.error) {
                DevExpress.ui.dialog.alert('Error occurred, please try again.</br>' + 'Error Message : ' + uploadResponse.errorText, 'Message');
                $("#spinner").hide();
            }
            else {
                if (uploadResponse.totalError == 0) {
                    DevExpress.ui.notify("File uploaded successfully, all parts added to bid.", "success", 3000);
                    LoadBidPartsList();
                }
                else {
                    DevExpress.ui.dialog.alert('There were some records which were not uploaded due to error(s).<br/>' + 'Total number of error(s) : ' + uploadResponse.totalError + '<br/> Please check downloaded excel sheet for error details. ', 'Message');
                    window.location = '@Url.Action("DownloadBidDataFile", "Home")?fileName=' + uploadResponse.path;
                    LoadBidPartsList();
                }
            }
            e.component.reset();
        }
    });

    var biddata;

    // Function to load bid parts
    function LoadBidPartsList() {
        $.ajax({
            url: "@Url.Action("GetBidPartsList", "Home")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (BidLoadData) {
                $("#spinner").hide();
                biddata = BidLoadData;

                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: BidLoadData,
                    paging: {
                        pageSize: 10
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 190;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    editing: {
                        mode: "row",
                        allowUpdating: false,
                        allowDeleting: true,
                        allowAdding: true,
                        texts: {
                            addRow: 'Add new record'
                        }
                    },
                    "export": {
                        enabled: true,
                        fileName: "BidPartList" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    columns: [
                        //{
                        //    dataField: "SNo",
                        //    caption: 'S. No.',
                        //    cellTemplate: function (cellElement, cellInfo) {
                        //        if (cellInfo.row.isEditing || cellInfo.row.inserted)
                        //            cellElement.text($("#gridContainer").dxDataGrid("instance").totalCount() + 1)
                        //        else
                        //            if (cellInfo.component.pageIndex() == 0) {
                        //                cellElement.text(cellInfo.row.rowIndex + 1)
                        //            }
                        //            else {
                        //                cellElement.text((cellInfo.component.pageSize() * cellInfo.component.pageIndex()) + cellInfo.row.rowIndex + 1);
                        //            }

                        //    },
                        //    allowEditing: false,
                        //    allowFiltering: false,
                        //    allowSorting: false,
                        //    visible: false,
                        //},
                        { dataField: "BidPartId", caption: "Bid Part Id", dataType: 'number', visible: false, allowEditing: false },
                        { dataField: "CustomerPartNumber", caption: "Customer Part Number", allowEditing: true, visible: true, validationRules: [{ type: 'stringLength', max: 30, message: 'Maximum 30 characters allowed.' }] },
                        { dataField: 'PartDescription', caption: "Description", wordWrapEnabled: true, allowEditing: true, validationRules: [{ type: 'stringLength', max: 50, message: 'Maximum 50 characters allowed.' }] },
                        { dataField: 'Manufacturer', caption: "Manufacturer", allowEditing: true, visible: true, validationRules: [{ type: 'stringLength', max: 50, message: 'Maximum 50 characters allowed.' }] },
                        { dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", allowEditing: true, visible: true, validationRules: [{ type: 'stringLength', max: 30, message: 'Maximum 30 characters allowed.' }] },
                        { dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", allowEditing: true, visible: true, dataType: 'number',
                             validationRules: [{ type: 'required', trim: true },
                                 {type: "pattern", message: 'Only positive integer values are allowed.', pattern: /\d+/},
                                 {type: "range", message: 'Value should be between 1-99999999', min:"1", max:"99999999"} ],
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Estimated<br> Annual Usage</center>").appendTo(header);
                             },
                         },
                        { dataField: "Note", caption: "Note", allowEditing: true, visible: true, validationRules: [{ type: 'stringLength', max: 100, message: 'Maximum 100 characters allowed.' }] },
                        { dataField: "CreatedBy", caption: "Created By", allowEditing: false, visible: false },
                        { dataField: "CreatedOn", caption: "Created Date", dataType: 'date', allowEditing: false, visible: false },
                    ],
                    //onExporting: function (e) {
                    //    e.component.beginUpdate();
                    //    e.component.columnOption("SNo", "visible", false);
                    //},
                    //onExported: function (e) {
                    //    e.component.columnOption("SNo", "visible", true);
                    //    e.component.endUpdate();
                    //},
                    onInitialized: function (e) {
                        e.component.columnOption("command:edit", "width", 55);
                    },
                    onInitNewRow: function (options) {
                        if (options.parentType == 'dataRow' && options.dataField == "EstimatedAnnualUsage") {
                            e.cellElement.addClass('marginRight');
                        }
                    },
                    onContentReady: function (e) {
                        e.component.columnOption("command:edit", "visibleIndex", -1);
                        e.element.find("a").filter(function () {
                            return $(this).text() == "Save";
                        }).html('<span title="Save" class="fa fa-save"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Cancel";
                        }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Edit";
                        }).html('<span title="Edit" class="fa fa-edit"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Delete";
                        }).html('<span title="Delete" class="fa fa-trash-o" style="margin-left:5px;"></span>');
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                    onEditorPreparing: function (options) {
                        if (options.parentType == 'dataRow') {
                            if (options.dataField == 'CustomerPartNumber') {
                                if (options.value) {
                                    options.editorOptions.disabled = true;
                                    options.allowEditing = false;
                                }
                                else {
                                    options.editorOptions.disabled = false;
                                    options.allowEditing = true;
                                }
                            }
                        }
                    },
                    onEditorPrepared: function (options) {
                        if (options.parentType == 'dataRow') {
                            if (options.dataField == 'EstimatedAnnualUsage') {
                                options.editorElement.dxNumberBox('instance').option('onFocusOut', function (e) {
                                    if (e.component._options.value < 0) {
                                        DevExpress.ui.notify("Estimated Annual Usage can't be negative.", 'Error', 3000);
                                        $('#gridContainer').dxDataGrid('instance').cellValue(options.row.rowIndex, options.visibleIndex, 0);
                                    }
                                    else if (e.component._options.value % 1 != 0) {
                                        DevExpress.ui.notify("Estimated Annual Usage can't be a decimal number. Rounded upt to the nearest integer.", 'Warning', 3000);
                                        $('#gridContainer').dxDataGrid('instance').cellValue(options.row.rowIndex, options.visibleIndex, Math.round(e.component._options.value));
                                    }
                                    else if (e.component._options.value > 99999999)  {
                                        DevExpress.ui.notify("Estimated annual usage can't be larger than 99999999.", 'Warning', 3000);
                                        $('#gridContainer').dxDataGrid('instance').cellValue(options.row.rowIndex, options.visibleIndex, 99999999);
                                    }

                                });
                            }
                        }
                    },
                    onRowInserting: function (e) {
                        if(e.data.CustomerPartNumber)
                        {
                            e.data.CustomerPartNumber = e.data.CustomerPartNumber.trim();
                        }
                        if(e.data.ManufacturerPartNumber)
                        {
                            e.data.ManufacturerPartNumber = e.data.ManufacturerPartNumber.trim();
                        }
                        if(!e.data.CustomerPartNumber && !e.data.ManufacturerPartNumber)
                        {
                            DevExpress.ui.dialog.alert("Please enter Manufacturer Part Number or Customer Part Number.", 'Message');
                        }
                        else
                        {
                            $("#spinner").show();
                            var datatoPost = {
                                customerPartNumber: e.data.CustomerPartNumber,
                                partDescription: e.data.PartDescription,
                                manufacturer: e.data.Manufacturer,
                                manufacturerPartNumber: e.data.ManufacturerPartNumber,
                                note: e.data.Note,
                                estimatedAnnualUsage: e.data.EstimatedAnnualUsage
                            };
                            $.ajax({
                                url: "@Url.Action("InsertBidPart", "Home")",
                                data: JSON.stringify(datatoPost),
                                type: 'POST',
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {

                                    if (result.Status == false && result.BidPartId == -1) {
                                        DevExpress.ui.dialog.alert("Customer Part Number already exists.", 'Message');
                                        return false;
                                    }
                                    else if (result.Status == false && result.BidPartId == 0) {
                                        DevExpress.ui.notify("Error occured, Record creation failed.", "error", 1000);
                                        return false;
                                    }
                                    else {
                                        DevExpress.ui.notify("Record created successfully.", "success", 1000);
                                    }

                                }
                            });
                        }
                    },
                    onRowInserted: function (e) {
                        LoadBidPartsList();
                    },

                    onRowUpdating: function (e) {
                        $("#spinner").show();
                        var bidPartID;
                        var customerPartNumber;
                        var partDescription;
                        var manufacturer;
                        var manufacturerPartNumber;
                        var note;
                        var estimatedAnnualUsage;

                        if (e.newData.CustomerPartNumber) {
                            customerPartNumber = e.newData.CustomerPartNumber;
                        }
                        else {
                            customerPartNumber = e.oldData.CustomerPartNumber;
                        }
                        if (e.newData.PartDescription) {
                            partDescription = e.newData.PartDescription;
                        }
                        else {
                            partDescription = e.oldData.PartDescription;
                        }
                        if (e.newData.Manufacturer) {
                            manufacturer = e.newData.Manufacturer;
                        }
                        else {
                            manufacturer = e.oldData.Manufacturer;
                        }
                        if (e.newData.ManufacturerPartNumber) {
                            manufacturerPartNumber = e.newData.ManufacturerPartNumber;
                        }
                        else {
                            manufacturerPartNumber = e.oldData.ManufacturerPartNumber;
                        }
                        if (e.newData.Note) {
                            note = e.newData.Note;
                        }
                        else {
                            note = e.oldData.Note;
                        }
                        if (e.newData.EstimatedAnnualUsage) {
                            estimatedAnnualUsage = e.newData.EstimatedAnnualUsage;
                        }
                        else {
                            estimatedAnnualUsage = e.oldData.EstimatedAnnualUsage;
                        }

                        var datatoPost = {
                            bidPartId: e.oldData.BidPartId,
                            customerPartNumber: customerPartNumber,
                            partDescription: partDescription,
                            manufacturer: manufacturer,
                            manufacturerPartNumber: manufacturerPartNumber,
                            note: note,
                            estimatedAnnualUsage: estimatedAnnualUsage
                        };
                        $.ajax({
                            url: "@Url.Action("UpdateBidPart", "Home")",
                            type: 'POST',
                            data: JSON.stringify(datatoPost),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                if (result.Status == false && result.BidPartId == -1) {
                                    $("#gridContainer").dxDataGrid("instance").cancelEditData();
                                    DevExpress.ui.dialog.alert("Customer Part Number already exists.", 'Message');
                                    return false;
                                }
                                else if (result.Status == false && result.BidPartId == 0) {
                                    DevExpress.ui.notify("Error occured, Bid data updation failed.", "error", 1000);
                                    return false;
                                }
                                else {
                                    DevExpress.ui.notify("Record updated successfully.", "success", 1000);
                                    return false;
                                }
                            }
                        });

                    },
                    onRowUpdated: function (e) {
                        LoadBidPartsList();
                    },

                    onRowRemoving: function (e) {
                        $("#spinner").show();
                        var datatoPost = {
                            bIdPartId: e.data.BidPartId,
                        };
                        $.ajax({
                            url: "@Url.Action("DeleteBidPart", "Home")",
                            type: 'POST',
                            data: JSON.stringify(datatoPost),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                if (result > 0) {
                                    DevExpress.ui.notify("Record deleted successfully.", "success", 1000);
                                }
                                else {
                                    $("#spinner").hide();
                                    DevExpress.ui.notify("Error occured, Rsecord deletion failed.", "error", 1000);
                                    return false;
                                }

                            }
                        });
                    },
                    onRowRemoved: function (e) {
                        LoadBidPartsList();
                    }
                });

                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
            }
        });
    }

    // button click event to call the excel template download method
    $('#btnTemp').click(function () {
        window.location = '@Url.Action("DownloadTemplateFile", "Home")';
    });

    $('#btnGenerateCrosses').click(function () {
        if (biddata.length > 0) {
            //$("#spinner").show();
            $.ajax({
                url: "@Url.Action("GenerateCrossesForBidParts", "Home")",
                type: 'POST',
                data: JSON.stringify({BidId: @Session["BidId"]}),
                contentType: 'application/json; charset=utf-8'
                @*,success: function (data) {
                    $("#spinner").hide();
                    window.location = '@Url.Action("AvailableCrosses", "Home")?BidId=@Session["BidId"]';
                }*@
            });
            window.location = '@Url.Action("Index", "Home")'
        }
        else {
            DevExpress.ui.dialog.alert("Please add and save atleast one record.", 'Message');
            return false;
        }
    });

    $('#btnOpenHelpPopUp').click(function () {
        $('#HelpPopup').modal('show');
    });

    $('#btnCloseHelpPopUp').click(function () {
        $('#HelpPopup').modal('hide');
    });
</script>
