﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Crowdsourcing Summary";
}


<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Crowdsourcing Summary
            </h1>
            <br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">

    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#crowdsourcing').addClass('active');
        $('#CrowdsourcingSummary').addClass('active');
        GetCrowdsourcingSummary();
    });

    function CloseBid(s) {
        var result = DevExpress.ui.dialog.confirm("Do you want to pull the bid from Crowdsourcing?", "Confirm");
        result.done(function (dialogResult) {
            if (dialogResult) {
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("UpdateBidStatus", "CrossReport")",
                    type: 'POST',
                    data: JSON.stringify({
                        BidId: s.currentTarget.getAttribute('BidId'), bidName: s.currentTarget.getAttribute('BidName'), status: '@Constants.CrossFinalization'
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#spinner").hide();
                        DevExpress.ui.notify("Bid pulled from Crowdsourcing successfully. Please go to Cross Report for CrossFinalization of this bid.", "success", 5000);
                        GetCrowdsourcingSummary();
                    }
                });
            }
        });
    }

    function GetCrowdsourcingSummary() {
        $.ajax({
            url: "@Url.Action("GetCrowdsourcingSummary", "Summary")",
            type: 'GET',
        contentType: 'application/json; charset=utf-8',
        success: function (bidSummary) {
            $("#gridContainer").dxDataGrid({
                dataSource: bidSummary,
                paging: {
                    pageSize: 50
                },
                height: function () {
                    return dynamicheight = $(document).height() - 195;
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 50, 100, 200, 500],
                    showInfo: true
                },
                editing: {
                    mode: "row",
                    allowUpdating: false,
                    allowDeleting: false,
                    allowAdding: false,
                    texts: {
                        addRow: 'Add new record'
                    }
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                headerFilter: {
                    visible: true
                },
                selection: {
                    mode: "single"
                },
                scrolling: {
                    showScrollbar: 'always'
                },
                columnChooser: {
                    enabled: true,
                    height: 360,
                    width: 250,
                    mode: "select",
                    emptyPanelText: 'Place to hide the columns.'
                },
                hoverStateEnabled: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                onCellPrepared: function (e) {
                    if (e.rowType == "header" || e.rowType === "data") {
                        e.cellElement.addClass('moveToCenter');
                    }
                },
                columns: [
                     {
                         dataField: '',
                         headerCellTemplate: function (header, info) {
                             $("<div>").html("<center>Pull Bid From <br/>Crowdsourcing</center>").appendTo(header);
                         },
                         allowEditing: false,
                         visible: true,
                         showInColumnChooser: false,
                         cellTemplate: function (container, options) {
                             if (options.data.BidStatus == '@Constants.CrowdSourcing') {
                                 $("<a>", { "BidId": options.data.BidId, "BidName": options.data.BidName }).click(function (s) { CloseBid(s) })
                                .append($("<span>", { "title": "Pull bid from Crowdsourcing, It will move the bid to CrossFinalization." }).addClass('fa fa-fw fa-check fa-lg'))
                                .appendTo(container);

                             }
                             else {
                                 $("<a>").css('opacity', '0.4')
                              .append($("<span>", { "title": "Bid is not in Crowdsourcing." }).addClass('fa fa-fw fa-check fa-lg'))
                              .appendTo(container);
                             }

                         }
                     },
                    { dataField: "BidName", caption: "Bid Name", wordWrapEnabled: true, visible: true },
                    { dataField: "BidType", caption: "Bid Type", wordWrapEnabled: true, visible: true },
                    { dataField: "Rank", caption: "Bid Rank", visible: true, dataType: 'number' },
                    { dataField: 'DueDate', caption: 'Due Date', visible: false, showInColumnChooser: false, dataType: 'date' },
                    { dataField: "BidStatus", caption: "Bid Status", wordWrapEnabled: true, visible: true },
                    {
                        dataField: 'UploadPartCount', caption: "Uploaded Parts Count", visible: true, dataType: 'number',
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Uploaded<br/>Parts Count</center>").appendTo(header);
                        }
                    },
                    {
                        dataField: 'CrowdSourcingPartCount', caption: "Crowdsourcing Parts Count", visible: true, dataType: 'number',
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Crowd Sourcing<br/>Parts Count</center>").appendTo(header);
                        }
                    },
                    {
                        dataField: 'UserSubmittedPartCount', caption: "Submitted Parts", visible: true, dataType: 'number',
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Submitted<br/>Parts</center>").appendTo(header);
                        }
                    },
                    {
                        dataField: 'ValidatedPartCount', caption: "Validated Parts", visible: true, dataType: 'number',
                        headerCellTemplate: function (header, info) {
                            $("<div>").html("<center>Validated<br/>Parts</center>").appendTo(header);
                        }
                    },
                ],
            });
        }
    });
    }

  
</script>
