﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "ProgressSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Progress Summary
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#Bids').addClass('active');
        $('#ProgressSummary').addClass('active');
        $.ajax({
            url: "@Url.Action("GetProgressSummary", "Summary")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (progressSummary) {
                $("#gridContainer").dxDataGrid({
                    dataSource: progressSummary,
                    paging: {
                        pageSize: 50
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 175;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    columnChooser: {
                        enabled: true,
                        height: 360,
                        width: 250,
                        mode: "select",
                        emptyPanelText: 'Place to hide the columns.'
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnReordering: true,
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                    columns: [
                        //{ dataField: 'BidId', caption: "BidId", visible: false, showInColumnChooser: false },
                        { dataField: "BidName", caption: "Bid Name", visible: true },
                        { dataField: 'BidDescription', caption: "Bid Description", wordWrapEnabled: true, visible: false, showInColumnChooser: true },
                        { dataField: "BidStatusDisplay", caption: "Bid Status", visible: true },
                        { dataField: "BidType", caption: "Bid Type", visible: false, showInColumnChooser: true, },
                        { dataField: 'Company', caption: "Company", visible: false, showInColumnChooser: true, },
                        { dataField: 'LaunchDate', caption: "Launch Date", visible: true, showInColumnChooser: true, dataType: 'date' },
                        { dataField: 'DueDate', caption: "Bid Due Date", visible: false, showInColumnChooser: true, dataType: 'date' },
                        {
                            dataField: 'CalculatedDueDate', caption: "Estimated Bid Due Date", visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Estimated <br>Bid Due Date</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: 'CurrentPhaseDueDate', caption: "Estimated Phase Due Date", dataType: 'date', visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Estimated <br>Phase Due Date</center>").appendTo(header);
                            },
                        },

                        { dataField: 'CustNumber', caption: "Customer Number", visible: false, showInColumnChooser: true, },
                        { dataField: 'CustBranch', caption: "Customer Branch", visible: false, showInColumnChooser: true, },
                        { dataField: 'CustName', caption: "Customer Name", visible: false, showInColumnChooser: true, },
                        { dataField: 'CustCorpId', caption: "Customer Corp Id", visible: false, showInColumnChooser: true, },
                        {
                            dataField: 'CustCorpAccName', caption: "Customer Corp Account Name", visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Customer Corp<br>Account Name</center>").appendTo(header);
                            },
                        },
                        { dataField: 'GroupId', caption: "Group Id", visible: false, showInColumnChooser: true, },
                        { dataField: 'GroupDesc', caption: "Group Description", visible: false, showInColumnChooser: true, },
                        { dataField: 'CreatedBy', caption: "Created By", visible: false, showInColumnChooser: true, },
                        { dataField: 'CreatedOn', caption: "Created On", visible: false, showInColumnChooser: true, },
                        {
                            dataField: 'CrossesFinalized', caption: "Crosses Finalized", visible: true, showInColumnChooser: true, headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Finalized<br/>Parts</center>").appendTo(header);
                            }
                        },
                        {
                            dataField: "CrossesReviewedBy", caption: "Crosses Reviewed By", visible: true, showInColumnChooser: true, wordWrapEnabled: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Crosses<br /> Reviewed By</center>").appendTo(header);
                            }
                        },
                        {
                            dataField: "CrossesNotReviewedBy", caption: "Crosses Not Reviewed By", visible: true, showInColumnChooser: true, wordWrapEnabled: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Crosses Not<br /> Reviewed By</center>").appendTo(header);
                            }
                        },
                        {
                            dataField: "InventoryReviewedBy", caption: "Inventory Reviewed By", visible: true, showInColumnChooser: true, wordWrapEnabled: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Inventory<br /> Reviewed By</center>").appendTo(header);
                            }
                        },
                         {
                             dataField: "InventoryNotReviewedBy", caption: "Inventory Not Reviewed By", visible: true, showInColumnChooser: true, wordWrapEnabled: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Inventory Not<br /> Reviewed By</center>").appendTo(header);
                             }
                         },
                    ],
                });
            }
        });
    });
</script>
