﻿
@{
    ViewBag.Title = "Cross Validation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Cross Validation
            </h1>
            <div style="float: right;margin-top: 0px; margin-bottom: 10px !important;">
                <table cellspacing="3" border="0">
                    <tr>
                        <td>MTD Cross Validation Count :&nbsp;<span id="mtd_cross_validated"></span></td>
                    </tr>
                    <tr>
                        <td>Remaining Cross Validations allowed for the Day :&nbsp;<span id="mtd_todaycross_entered"></span></td>
                    </tr>
                </table>
            </div>
            <div style="float: right;margin-top: 0px; margin-bottom: 10px !important;margin-right:20px;">
                <button type="button" class="btn btn-success" id="btnLoadValidationPart" style="border-radius: 4px;">Load Part for Cross Validation</button>
            </div>
        </section>
        <br />
        <br />
        <!-- Main content -->
        <div id="grids_buttons">
            <section class="content">
                <div class="box box-default">
                    <div class="box-body">
                        <div id="gridContainer1" style="width:25%; float:left;"></div>
                        <div id="gridContainer2" style="width:70%; float:right;"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
            <div style="height: 35px;float: right;margin-top: -25px; margin-bottom: 10px; margin-right:20px; !important;">
                <button type="button" class="btn btn-success" id="btnSubmit" style="margin-left:30px;float:left; border-radius: 4px;">Next</button>
                <button type="button" class="btn btn-success" id="btnDontKnow" style="margin-left:30px;float:left; border-radius: 4px; display:none;">I Don't know</button>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#Crowdsourcing').addClass('active');
        $('#CrossValidation').addClass('active');
        $("#btnLoadEntryPart").hide();
        $("#grids_buttons").hide();
        var CrossValidationPart = [];
        var dataGrid;
        var selectedPartId;
        var action;
        var isValidationAllowed = false;

        ValidationCountUser();
        function ValidationCountUser() {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("GetCrossValidatorCounts", "CrossValidation")",
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (count) {
                    $("#spinner").hide();
                    $("#mtd_cross_validated").text(count[1]);
                    $("#mtd_todaycross_entered").text(count[2]);

                    if (count[2] <= 0) {
                        isValidationAllowed = false;
                    }
                    else {
                        isValidationAllowed = true;
                    }

                }
            });
        }

        CheckFromPartForValidation();
        function CheckFromPartForValidation() {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("CheckLockedValidationPartForUser", "CrossValidation")",
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result == 0) {
                        $("#btnLoadValidationPart").show();
                    }
                    else {
                        LoadFromPartForValidation();
                    }
                }
            });
        }

        function LoadFromPartForValidation() {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("GetPartForValidation", "CrossValidation")",
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (crossValidationPart) {
                    CrossValidationPart = crossValidationPart;
                    var PartData = [
                        {
                            "Info": "Part Number", "FromPart": crossValidationPart.CustomerPartNumber
                        },
                        {
                            "Info": "Description", "FromPart": crossValidationPart.PartDescription
                        },
                        {
                            "Info": "Brand", "FromPart": crossValidationPart.Manufacturer
                        },
                        {
                            "Info": "Note", "FromPart": crossValidationPart.Note
                        }
                    ];
                    if (crossValidationPart.BidPartId == 0) {
                        $('#btnSubmit').attr('disabled', true);
                        $("#btnSubmit").attr('title', 'There is no Part available for validation. Please come again later.');
                        DevExpress.ui.notify('There is no Part available for validation. Please come again later.', "info", 3000);
                    }
                    else {
                        $("#btnLoadValidationPart").hide();
                        $("#grids_buttons").show();
                    }

                    $("#gridContainer1").dxDataGrid({
                        dataSource: PartData,
                        height: 172,
                        editing: {
                            mode: "cell",
                            allowUpdating: false,
                            allowDeleting: false,
                            allowAdding: false,
                            texts: {
                                addRow: 'Add new record'
                            }
                        },
                        filterRow: {
                            visible: false,
                            applyFilter: "auto"
                        },
                        headerFilter: {
                            visible: false
                        },
                        scrolling: {
                            showScrollbar: 'never'
                        },
                        hoverStateEnabled: true,
                        allowColumnResizing: true,
                        columnAutoWidth: true,
                        showBorders: true,
                        showColumnLines: true,
                        showRowLines: true,
                        columns: [
                            { dataField: "Info", caption: "", visible: true, allowEditing: false, allowSorting: false },
                            { dataField: "FromPart", caption: "From Part", visible: true, allowEditing: false, allowSorting: false },
                        ],

                    });

                    //---------load second grid----------//

                    $.ajax({
                        url: "@Url.Action("GetCrossesForValidation", "CrossValidation")",
                        type: 'POST',
                        data: JSON.stringify({ crossValidationPartId: CrossValidationPart.BidPartId }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (Cross) {
                            $("#spinner").hide();

                            dataGrid = $("#gridContainer2").dxDataGrid({
                                dataSource: Cross,
                                height: "auto",
                                filterRow: {
                                    visible: false,
                                    applyFilter: "auto"
                                },
                                headerFilter: {
                                    visible: false
                                },
                                selection: {
                                    mode: "single"
                                },
                                scrolling: {
                                    showScrollbar: 'never'
                                },
                                hoverStateEnabled: true,
                                allowColumnResizing: true,
                                columnAutoWidth: true,
                                showBorders: true,
                                showColumnLines: true,
                                showRowLines: true,
                                columns: [
                                    {
                                        dataField: "SNo",
                                        caption: 'S No.',
                                        cellTemplate: function (cellElement, cellInfo) {
                                            cellElement.text("Cross-" + (cellInfo.row.rowIndex + 1))
                                        },
                                        allowEditing: false,
                                        allowSorting: false,
                                    },
                                    { dataField: "CrossPartId", caption: "CrossPartId", dataType: 'number', visible: true, allowEditing: false, allowSorting: false },
                                    { dataField: "PartNumber", caption: "Part Number", dataType: 'number', visible: true, allowEditing: false, allowSorting: false },
                                    { dataField: "PoolNumber", caption: "Pool", allowEditing: false, visible: true, dataType: 'number', allowSorting: false },
                                    { dataField: "PartDescription", caption: "Description", allowEditing: false, visible: true, allowSorting: false },
                                    { dataField: 'PartCategory', caption: "Category", allowEditing: false, visible: true, allowSorting: false },
                                    { dataField: 'IsFlip', caption: "SS/Flip", allowEditing: false, visible: true, allowSorting: false, dataType: 'boolean' },
                                    { dataField: 'IsNonFP', caption: "Non-FP Part", allowEditing: false, visible: true, allowSorting: false },
                                    {
                                        dataField: 'Validation',
                                        caption: "Validation",
                                        allowEditing: false,
                                        visible: true,
                                        cellTemplate: function (container, options) {
                                            if (options.data.ValidationStatus == '') {
                                                $("<a>", { "crossPartId": options.data.CrossPartId, "action": "A" }).click(function (s) { ValidationAction(s) })
                                               .append($("<span>", { "title": "Approve" }).addClass('fa fa-fw fa-check fa-lg').css('cursor', 'pointer').css('margin-left', '10px'))
                                               .appendTo(container);

                                                $("<a>", { "crossPartId": options.data.CrossPartId, "action": "R" }).click(function (s) { ValidationAction(s) })
                                                .append($("<span>", { "title": "Reject" }).addClass('fa fa-fw fa-close fa-lg').css('cursor', 'pointer').css('margin-left', '10px'))
                                                .appendTo(container);
                                            }
                                            else {
                                                if (options.data.ValidationStatus.trim() == 'A') {
                                                    $("<a>", { "crossPartId": options.data.CrossPartId, "action": "A" }).css('opacity', '0.3')
                                                   .append($("<span>", { "title": "Approved" }).addClass('fa fa-fw fa-check fa-lg').css('margin-left', '10px'))
                                                   .appendTo(container);

                                                    $("<a>", { "crossPartId": options.data.CrossPartId, "action": "R" }).click(function (s) { ValidationAction(s) })
                                                    .append($("<span>", { "title": "Reject" }).addClass('fa fa-fw fa-close fa-lg').css('cursor', 'pointer').css('margin-left', '10px'))
                                                    .appendTo(container);
                                                }
                                                else {
                                                    $("<a>", { "crossPartId": options.data.CrossPartId, "action": "A" }).click(function (s) { ValidationAction(s) })
                                                    .append($("<span>", { "title": "Approve" }).addClass('fa fa-fw fa-check fa-lg').css('cursor', 'pointer').css('margin-left', '10px'))
                                                    .appendTo(container);

                                                    $("<a>", { "crossPartId": options.data.CrossPartId, "action": "R" }).css('opacity', '0.3')
                                                   .append($("<span>", { "title": "Rejected" }).addClass('fa fa-fw fa-close fa-lg').css('margin-left', '10px'))
                                                   .appendTo(container);
                                                }
                                            }

                                        }
                                    },
                                ],

                            });
                        }
                    });

                }

            });
        }


        function ValidationAction(s) {
            if (!isValidationAllowed) {
                DevExpress.ui.dialog.alert('Your daily Cross Validation limit has been completed, Please come again later.', 'Message');
                return false;
            }
            else {
                selectedPartId = $(s.currentTarget).attr('CrossPartId');
                action = $(s.currentTarget).attr('action');
                $("#spinner").show();
                var datatoPost = { CrossPartId: selectedPartId, Status: action };
                $.ajax({
                    url: "@Url.Action("UpdateCrossValidationStatus", "CrossValidation")",
                    type: 'POST',
                    data: JSON.stringify(datatoPost),
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        $.ajax({
                            url: "@Url.Action("GetCrossesForValidation", "CrossValidation")",
                            type: 'POST',
                            data: JSON.stringify({ crossValidationPartId: CrossValidationPart.BidPartId }),
                            contentType: 'application/json; charset=utf-8',
                            success: function (Cross) {
                                $("#spinner").hide();
                                $("#gridContainer2").dxDataGrid("instance").option("dataSource", Cross);

                                if (action == 'A') {
                                    DevExpress.ui.notify('Cross approved successfully.', "success", 2000);
                                }
                                else {
                                    DevExpress.ui.notify('Cross rejected successfully.', "success", 2000);
                                }

                                ValidationCountUser();
                            }

                        });

                    }
                });
            }
        }

        $('#btnSubmit').click(function () {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("SubmitValidatedPart", "CrossValidation")",
                type: 'POST',
                data: JSON.stringify({ ValidatedCrossPartId: CrossValidationPart.BidPartId }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $("#spinner").hide();
                    DevExpress.ui.notify('Part submitted successfully.', "success", 2000);
                    setTimeout(
                      function () {
                          window.location = '@Url.Action("Index", "CrossValidation")';
                      }, 2000);

                }
            });
        });

        $('#btnLoadValidationPart').click(function () {
            LoadFromPartForValidation();
        });

    });

</script>
