﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Completed Bids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dx-fileuploader-input-container {
        display: none !important;
    }

    .dx-fileuploader-button {
        background-color: #00a65a;
        color: white;
        padding: 0px;
    }

        .dx-fileuploader-button:hover {
            background-color: #008D4C !important;
            color: white;
        }

    .dx-group-panel-message {
        color: black !important;
    }

    #fileUploader .dx-button-content {
        height: 33px;
        width: 90px;
        padding-left: 0px;
        padding-top: 3px;
        font-size: 13px;
    }

    .dx-button .dx-state-hover {
        background-color: #008D4C !important;
    }

    /*#buttonsright .dx-button.dx-state-focused {
        background-color: #00a65a !important;
        border-color: #00a65a !important;
    }*/

    .editable {
        background-color: rgba(255, 255, 0, 0.25) !important;
    }

    .red {
        background-color: #ff471a !important;
    }

    .green {
        background-color: #ffff33 !important;
    }

    .yellow {
        background-color: #00e600 !important;
    }

    .marginRight {
        margin-right: 50px !important;
    }

    .dx-button-text {
        padding-top: 3px !important;
    }

    .dx-button .dx-state-hover {
        background-color: #51a351 !important;
    }

    /*#buttonsright .dx-button.dx-state-focused {
        background-color: #00a65a;
        border-color: #008d4c;
    }*/

    .dx-datagrid-export-button .dx-icon-export-to:before {
        content: "\f05f ";
    }
</style>

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Completed Bids&nbsp<label id="bidWonLostMsg"></label>
            </h1>
            <div style="float: right;margin-top: 6px !important; font-weight:bold">
                <div id="dropDownBids" style="width:200px;display:inline-block;"></div>
            </div>
            <div style="height: 35px;float: right;margin-top: 0px; margin-bottom: 10px !important;" id="buttonsright">
                <button type="button" class="btn btn-primary" id="btnNotifySupplyChain" style="border-radius: 4px; margin-top:6px !important;margin-right:10px;float:right;">Notify Supply Chain</button>
                <button type="button" class="btn btn-danger" id="btnMarkLost" style="border-radius: 4px; margin-top:6px !important;margin-right:10px;float:right;" status="Lost">Mark Lost</button>
                <button type="button" class="btn btn-primary" id="btnMarkWon" style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;" status="Won">Mark Won</button>

                <button type="button" class="btn btn-primary" id="btnAssignToInventory" style="border-radius: 4px; margin-top:6px !important;margin-right:10px;float:right;display:block;">Assign To Inventory</button>

                <button type="button" class="btn btn-success" id="btnDownload" style="border-radius: 4px; margin-top:6px !important;margin-right:10px;float:right;width:105px;display:block;">Download</button>

                <div id="fileUploader" style="display:inline-block;width:105px; height: 62px;padding: 0px; margin-top:-13px;border:solid 0px black;float: right;"></div>
            </div>

           
            <div id="buttonsleft">
                <button type="button" class="btn btn-success" id="btnMarkPrimaryWon" style="border-radius: 4px; margin-top:6px !important;margin-right:10px;float:right;display:block;">Mark All Primay As Won</button>
            </div>

            <br /><br />
        </section>
        <div id="expandCheckBox" style="margin-left:15px"></div>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<div class="modal fade" id="modelNotifySupplyChain" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <h4 class="modal-title"><b>Notify Supply Chain</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="saveAllResultPopup_body">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        Add comment for supply chain team
                        <br />
                        <div class="form-group">
                            <textarea style="width: 550px; height: 150px;" id="txtSupplyChainMessage"></textarea>
                        </div>
                    </div>
                    
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnNotify" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Notify</button>
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnCancelNotify" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Cancel</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var bidId;
    var bidName;
    var bidStatus;
    var bidType;
    var createdBy;
    var bidPartId;
    var selectedBidId = "";
    var showCheckBoxes = 'none';
    $("#expandCheckBox").hide();
    var expandAllCheckBox= $("#expandCheckBox").dxCheckBox({
        text: 'Expand All',
        onValueChanged: function (e) {
            var newValue = e.value;
            var dataGrid = $('#gridContainer').dxDataGrid('instance');
            if(e.value == true) {
                dataGrid.expandAll(-1);
            } else {
                dataGrid.collapseAll(-1);
            }
        }
    }).dxCheckBox("instance");

    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#Bids').addClass('active');
        $('#CompletedBids').addClass('active');

        $("#box").hide();
        $("#btnMarkWon,#btnMarkLost").hide();
        $("#btnDownload").hide();
        $("#btnMarkPrimaryWon").hide();
        $("#btnAssignToInventory").hide();
        $("#fileUploader").hide();
        $("#btnNotifySupplyChain").hide();
        @if(ViewBag.bidId != null)
        {
            <text>selectedBidId=</text>@ViewBag.bidId<text>;</text>
        }

        // button click event to call the excel template download method
        $('#btnDownload').click(function () {
            window.location = '@Url.Action("DownloadCompletedBidPartsMarkWonDetails", "CompletedBids")?BidId=' + bidId + '&BidName=' + bidName;
        });


        var dataGrid;
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("GetAllBids", "CompletedBids")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (bidList) {
                $("#spinner").hide();
                $("#dropDownBids").dxDropDownBox({
                    value: selectedBidId,
                    width: 350,
                    valueExpr: "BidId",
                    placeholder: "Select Bid",
                    displayExpr: "BidName",
                    showClearButton: false,
                    dataSource: bidList,
                    contentTemplate: function (e) {
                        var value = e.component.option("value"),
                            $dataGrid = $("<div style='padding:0px' >").dxDataGrid({
                                dataSource: {
                                    store: {
                                        type: 'array',
                                        key: 'BidId',
                                        data: e.component.option("dataSource")
                                    }
                                },
                                columns: ["BidName"],
                                hoverStateEnabled: true,
                                filterRow: { visible: true },
                                scrolling: {
                                    mode: "virtual",
                                    showScrollbar: 'always'
                                },
                                height: 350,
                                selection: { mode: "single" },
                                selectedRowKeys: value,
                                showColumnHeaders: false,
                                onSelectionChanged: function (selectedItems) {
                                    var keys = selectedItems.selectedRowKeys;
                                    e.component.option("value", keys);
                                    e.component.close();
                                    bidId = keys[0];
                                    bidType = selectedItems.selectedRowsData[0].BidType;
                                    bidName = selectedItems.selectedRowsData[0].BidName;
                                    bidStatus = selectedItems.selectedRowsData[0].BidStatus;
                                    createdBy = selectedItems.selectedRowsData[0].CreatedBy;
                                    $("#bidWonLostMsg").text("");
                                    LoadBidPartsList();
                                }
                            });
                        dataGrid = $dataGrid.dxDataGrid("instance");
                        e.component.on("valueChanged", function (args) {
                            var value = args.value;
                            dataGrid.selectRows(value, false);
                        });
                        return $dataGrid;
                    }
                });
                var data = $("#dropDownBids").dxDropDownBox('instance').option('dataSource');

                @if(ViewBag.bidId != null)
                {
                    <text>
                bidId=</text>@ViewBag.bidId<text>;

                $.each(data, function( i ) {
                    if(data[i].BidId == bidId){
                        bidName = data[i].BidName;
                        bidStatus = data[i].BidStatus;
                    }
                });

                LoadBidPartsList();
                </text>
                }
            }
        });
    });

    $("#fileUploader").dxFileUploader({
        accept: ".xls,.xlsx",
        labelText: '',
        selectButtonText: 'Upload',
        uploadMode: 'instantly',
        uploadUrl: '@Url.Action("UploadPartsMarkWonData", "CompletedBids")',
        showFileList: false,
        onUploadStarted: function () {
            $("#spinner").show();
        },
        onUploaded: function (e) {
            var uploadResponse = JSON.parse(e.jQueryEvent.target.responseText)
            if (uploadResponse.error) {
                DevExpress.ui.dialog.alert('Error occurred, please try again.</br>' + 'Error Message : ' + uploadResponse.errorText, 'Message');
                $("#spinner").hide();
            }
            else {
                if (uploadResponse.totalError == 0) {
                    DevExpress.ui.notify("File uploaded successfully, all data uploaded.", "success", 3000);
                    $("#spinner").hide();
                    LoadBidPartsList();
                }
                else {
                    DevExpress.ui.dialog.alert('There were some record(s) which were not uploaded due to error(s).<br/>' + 'Total number of error(s) : ' + uploadResponse.totalError + '<br/> Please check downloaded excel sheet for error details, correct the error(s) and upload the excel again.', 'Message');
                    window.location = '@Url.Action("DownloadPartsMarkWonDataFile", "CompletedBids")?fileName=' + uploadResponse.path;
                    $("#spinner").hide();
                    LoadBidPartsList();
                }
            }
            e.component.reset();
        }
    });

    function LoadBidPartsList() {
        var userName = '@HttpContext.Current.User.Identity.Name';
        if(bidType == '@Constants.National.ToString()' || bidType == '@Constants.Regional.ToString()')
        {
            if ('@ViewBag.Role' == '@UserRole.SuperUser.ToString()' || '@ViewBag.Role' == '@UserRole.NAMSupervisor.ToString()' || createdBy == userName
                || '@ViewBag.Role' == '@UserRole.RAM.ToString()' || '@ViewBag.Role' == '@UserRole.RAMSupervisor.ToString()')
            {
                $("#btnMarkWon,#btnMarkLost").show();
            }
        }
        if(bidType == '@Constants.Local.ToString()')
        {
            if ('@ViewBag.Role' == '@UserRole.SuperUser.ToString()' || createdBy == userName)
            {
                $("#btnMarkWon,#btnMarkLost").show();
            }
        }
        expandAllCheckBox.option("value", false);
        $("#expandCheckBox").show();
        $("#box").show();
        $("#btnDownload").show();
        $('#btnAssignToInventory').attr('disabled',false);
        $('#btnAssignToInventory').prop('title', '');

        if(bidStatus == '@Constants.Completed'){
            $("#btnMarkWon,#btnMarkLost").show();
            showCheckBoxes = 'none';
            $("#btnMarkPrimaryWon").hide();
            $("#btnAssignToInventory").hide();
            $("#fileUploader").hide();
            $("#btnNotifySupplyChain").hide();
        }
        else if(bidStatus == '@Constants.Won'){
            $("#btnMarkWon,#btnMarkLost").hide();
            $("#bidWonLostMsg").text(": " + '@Constants.Won');
            $("#bidWonLostMsg").css("color", 'green');
            showCheckBoxes = 'always';
            $("#btnMarkPrimaryWon").show();
            $("#btnAssignToInventory").show();
            $("#fileUploader").show();
            $("#btnNotifySupplyChain").show();
        }
        else if(bidStatus == '@Constants.Lost'){
            $("#btnMarkWon,#btnMarkLost").hide();
            $("#bidWonLostMsg").text(": " + '@Constants.Lost');
            $("#bidWonLostMsg").css('color', 'red');
            showCheckBoxes = 'none';
            $("#btnMarkPrimaryWon").hide();
            $("#btnAssignToInventory").hide();
            $("#fileUploader").hide();
            $("#btnNotifySupplyChain").hide();
        }
        else if(bidStatus == '@Constants.InventoryUpdate')
        {
            $("#btnMarkWon,#btnMarkLost").hide();
            $("#bidWonLostMsg").text(": " + '@Constants.InventoryUpdate');
            $("#bidWonLostMsg").css('color', 'green');
            showCheckBoxes = 'none';
            $("#btnMarkPrimaryWon").hide();
            $("#btnAssignToInventory").show();
            $('#btnAssignToInventory').attr('disabled',true);
            $('#btnAssignToInventory').prop('title', 'Bid is assigned to Inventory Update.');
            $("#fileUploader").hide();
            $("#btnNotifySupplyChain").show();
        }
        else
        {
            $("#btnMarkWon,#btnMarkLost").hide();
            $("#btnNotifySupplyChain").hide();
        }
        $("#spinner").show();
        // Function to load bid parts
        $.ajax({
            url: "@Url.Action("GetFinalBidParts", "PriceValidation")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (BidLoadData) {
                $("#spinner").hide();
                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: BidLoadData,
                    paging: {
                        pageSize: 10
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 227;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    columns: [
                        { dataField: "BidPartId", caption: "Bid Part Id", dataType: 'number', visible: false, allowEditing: false },
                        { dataField: "CustomerPartNumber", caption: "Customer Part Number", allowEditing: false, visible: true },
                        { dataField: 'PartDescription', caption: "Description", wordWrapEnabled: true, allowEditing: false },
                        { dataField: 'Manufacturer', caption: "Manufacturer", allowEditing: false, visible: true },
                        { dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", allowEditing: false, visible: true },
                        { dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", allowEditing: false, visible: true, dataType: 'number' },
                        { dataField: "Note", caption: "Note", allowEditing: false, visible: true },
                        { dataField: "CreatedBy", caption: "Created By", allowEditing: false, visible: false },
                        { dataField: "CreatedOn", caption: "Created Date", dataType: 'date', allowEditing: false, visible: false }
                    ],
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                    onRowExpanding: function (e) {
                        //e.component.collapseAll(-1);
                    },
                    masterDetail: {
                        enabled: true,
                        template: function (container, options) {
                            $("#spinner").show();
                            container.css('padding', 10);
                            if(showCheckBoxes == 'always')
                            {
                                $("<button type='button' style='float:left; margin-right: 10px' class='btn btn-success btn-sm' id='btnMarkWonCrossPart_" + options.data.BidPartId + "' onclick='MarkWonCrossPart(this)'>").text("Mark as Won").appendTo(container);
                                $("<br/><br/>").appendTo(container);
                            }
                            $.ajax({
                                url: "@Url.Action("GetFinalCrosses", "PriceValidation")",
                                type: 'POST',
                                data: JSON.stringify({ bidPartId: options.data.BidPartId }),
                                contentType: 'application/json; charset=utf-8',
                                success: function (bidPartCrosses) {
                                    $("#spinner").hide();
                                    bidPartId = options.data.BidPartId;
                                    if (bidPartCrosses.length > 0) {
                                        $("<div id='gridContainerDetail_" + options.data.BidPartId + "' partId='" + options.data.BidPartId + "' >")
                                            .addClass("internal-grid")
                                            .dxDataGrid({
                                                columnAutoWidth: true,
                                                showBorders: true,
                                                showColumnLines: true,
                                                showRowLines: true,
                                                onCellPrepared: function (e) {
                                                    if (e.rowType === "header") {
                                                        e.cellElement.addClass('moveToCenter');
                                                    }
                                                    if (e.rowType === "data") {
                                                        e.cellElement.addClass('moveToCenter');
                                                        if (e.column.dataField == 'VendorColorDefinition') {
                                                            var value = e.data.VendorColor;
                                                            if (value == 'Y' || value == 'O' || value == 'K') {
                                                                e.cellElement.css('backgroundColor', getColor(value));
                                                            }
                                                            if(value == 'R' ||  value == 'G' || value == 'P' || value == 'B') {
                                                                e.cellElement.css('backgroundColor', getColor(value));
                                                                e.cellElement.css('color', 'white');
                                                            }
                                                        }
                                                    }
                                                },
                                                editing: {
                                                    mode: "row",
                                                    allowUpdating: false,
                                                    allowDeleting: false,
                                                    allowAdding: false,
                                                },
                                                onContentReady: function (e) {
                                                    e.component.columnOption("command:edit", "visibleIndex", -1);
                                                    e.element.find("a").filter(function () {
                                                        return $(this).text() == "Save";
                                                    }).html('<span title="Save" class="fa fa-save"></span>');

                                                    e.element.find("a").filter(function () {
                                                        return $(this).text() == "Cancel";
                                                    }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                                                    e.element.find("a").filter(function () {
                                                        return $(this).text() == "Edit";
                                                    }).html('<span title="Edit" class="fa fa-edit"></span>');

                                                    e.element.find("a").filter(function () {
                                                        return $(this).text() == "Delete";
                                                    }).html('<span title="Delete" class="fa fa-trash-o" style="margin-left:5px;"></span>');

                                                    var recordsToSelect;
                                                    $.each(e.component.getDataSource()._items, function (index, item) {
                                                        if (item.IsWon == "True") {
                                                            recordsToSelect = index;
                                                        }
                                                    });
                                                    e.component.selectRowsByIndexes(recordsToSelect);
                                                },
                                                selection: {
                                                    mode: "multiple", showCheckBoxesMode: showCheckBoxes
                                                },
                                                columns: [
                                                {
                                                    dataField: "CrossPartId",
                                                    caption: "Cross Part ID",
                                                    dataType: "number",
                                                    allowEditing: false,
                                                    visible: false
                                                }, {
                                                    dataField: "FinalPreference",
                                                    caption: "Cross Preference",
                                                    dataType: "string",
                                                    allowEditing: false
                                                }
                                                ,{
                                                    dataField: "ReferenceTableName",
                                                    caption: "Reference Table",
                                                    allowEditing: false,
                                                    dataType: "string"
                                                }, {
                                                    dataField: "PartNumber",
                                                    caption: "Part Number",
                                                    allowEditing: false,
                                                    dataType: "string"
                                                }, {
                                                    dataField: "PoolNumber",
                                                    caption: "Pool",
                                                    allowEditing: false,
                                                    dataType: "number"
                                                }, {
                                                    dataField: "PartDescription",
                                                    caption: "Description",
                                                    allowEditing: false,
                                                    dataType: "string"
                                                }, {
                                                    dataField: "PartCategory",
                                                    caption: "Category",
                                                    allowEditing: false,
                                                    dataType: "string"
                                                }, {
                                                    dataField: "VendorName",
                                                    caption: "Vendor Name",
                                                    dataType: "string",
                                                    allowEditing: false
                                                },{
                                                    dataField: "VendorColorDefinition",
                                                    caption: "Vendor Status",
                                                    dataType: "string",
                                                    allowEditing: false
                                                }
                                                , {
                                                    dataField: "PriceToQuote",
                                                    caption: "Price To Quote",
                                                    allowEditing: true,
                                                    dataType: "number"
                                                },
                                                 {
                                                     dataField: "SuggestedPrice",
                                                     caption: "Suggested Price",
                                                     allowEditing: true,
                                                     dataType: "number"
                                                 }
                                                , {
                                                    dataField: "ICost",
                                                    caption: "ICOST",
                                                    allowEditing: true,
                                                    dataType: "number"
                                                }
                                                , {
                                                    dataField: "Margin",
                                                    caption: "Margin",
                                                    allowEditing: true,
                                                    dataType: "number"
                                                }
                                                 , {
                                                     dataField: "AdjustedICost",
                                                     caption: "Adjusted ICOST",
                                                     allowEditing: true,
                                                     dataType: "number"
                                                 }
                                                , {
                                                    dataField: "AdjustedMargin",
                                                    caption: "AdjustedMargin",
                                                    allowEditing: true,
                                                    dataType: "number"
                                                }
                                                ],
                                                dataSource: bidPartCrosses
                                            }).appendTo(container);
                                    }
                                    else {
                                        $("<div id='gridContainerDetail_" + options.data.BidPartId + "' partId='" + options.data.BidPartId + "' >")
                                            .html("<span>No Crosses found.</span>")
                                            .appendTo(container);
                                    }
                                }
                            });
                        }
                    }
                });
                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
            }
        });
    }

    function getColor(value) {
        if (value == 'R') return 'red';
        if (value == 'G') return 'green';
        if (value == 'B') return 'blue';
        if (value == 'Y') return 'yellow';
        if (value == 'O') return 'orrange';
        if (value == 'P') return 'purple';
        if (value == 'K') return 'khaki';
        return 'White';
    }

    $("#btnMarkWon").click(function () {
        MarkWonLost('@Constants.Won');
    });

    $("#btnMarkLost").click(function () {
        MarkWonLost('@Constants.Lost');
    });

    $("#btnAssignToInventory").click(function () {
        MarkWonLost('@Constants.InventoryUpdate');
    });

    $("#btnNotifySupplyChain").click(function () {
        $('#modelNotifySupplyChain').modal('show');
    });
    $("#btnCancelNotify").click(function () {
        $("#txtSupplyChainMessage").val('');
        $('#modelNotifySupplyChain').modal('hide');
    });
    $('#btnNotify').click(function () {
        let msg = $("#txtSupplyChainMessage").val();
        if ($.trim(msg) === null || $.trim(msg) === '') {
            DevExpress.ui.notify("Please enter comments.", "error", 3000);
            return false;
        }
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("NotifySupplyChain", "CompletedBids")",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ bidId: bidId, bidName: bidName, comment: msg }),
            success: function (result) {
                $("#spinner").hide();
                //if (result == 1) {
                    DevExpress.ui.notify('Notification sent to supply chain team', "success", 3000);
                //}
                //else {
                //    DevExpress.ui.notify("Error Occured.", "error", 3000);
                //}
            }
        });
    });

    $("#btnMarkPrimaryWon").click(function () {
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("MarkAllPrimaryWon", "CompletedBids")",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ bidId: bidId }),
            success: function (result) {
                $("#spinner").hide();
                if (result == 1) {
                    //$("#gridContainer").dxDataGrid("instance").collapseAll(-1);
                    LoadBidPartsList();
                    DevExpress.ui.notify('All Primary crosses marked as won successfully.', "success", 3000);
                    @*setTimeout(
                      function () {
                          window.location = '@Url.Action("Index", "CompletedBids")';
                      }, 3000);*@
                }
                else {
                    DevExpress.ui.notify("Error Occured.", "error", 3000);
                }
            }
        });
    });

    function MarkWonLost(status) {
        var result = DevExpress.ui.dialog.confirm('This will mark the bid as ' + status + ' and you can not change the decision after that.' + '<br />' + 'Click Yes to proceed.', "Confirm");
        result.done(function (dialogResult) {
            if(dialogResult) {
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("CompleteBidStatus", "PriceValidation")",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ bidId: bidId, status: status }),
                    success: function (result) {
                        $("#spinner").hide();
                        if (result) {
                            DevExpress.ui.notify('Bid marked as ' + status + ' successfully.', "success", 3000);
                            $("#btnMarkWon,#btnMarkLost").hide();
                            if(status == '@Constants.Won')
                            {
                                $("#btnMarkWon,#btnMarkLost").hide();
                                $("#bidWonLostMsg").text(": " + '@Constants.Won');
                                $("#bidWonLostMsg").css("color", 'green');
                                showCheckBoxes = 'always';
                                $("#btnMarkPrimaryWon").show();
                                $("#btnAssignToInventory").show();
                                $("#fileUploader").show();
                            }
                            if(status == '@Constants.Lost')
                            {
                                $("#btnMarkWon,#btnMarkLost").hide();
                                $("#bidWonLostMsg").text(": " + '@Constants.Lost');
                                $("#bidWonLostMsg").css('color', 'red');
                                showCheckBoxes = 'none';
                                $("#btnMarkPrimaryWon").hide();
                                $("#btnAssignToInventory").hide();
                                $("#fileUploader").hide();
                            }
                            if(status == '@Constants.InventoryUpdate')
                            {
                                $("#btnMarkWon,#btnMarkLost").hide();
                                $("#bidWonLostMsg").text(": " + '@Constants.InventoryUpdate');
                                $("#bidWonLostMsg").css('color', 'green');
                                showCheckBoxes = 'none';
                                $("#btnMarkPrimaryWon").hide();
                                $("#btnAssignToInventory").show();
                                $('#btnAssignToInventory').attr('disabled',true);
                                $('#btnAssignToInventory').prop('title', 'Bid is assigned to Inventory Update.');
                                $("#fileUploader").hide();
                            }

                            setTimeout(
                              function () {
                                  window.location = '@Url.Action("Index", "CompletedBids")';
                              }, 3000);
                        }
                        else {
                            DevExpress.ui.notify("Error Occured.", "error", 3000);
                        }
                    }
                });
            }
        });
    }

    function MarkWonCrossPart(src) {

        var partid = src.id.replace('btnMarkWonCrossPart_', '');
        var selectedRows = $("div[partid=" + partid + " ]").dxDataGrid('instance').getSelectedRowKeys();
        if (selectedRows.length > 1) {
            DevExpress.ui.dialog.alert('Please select only one Cross to mark as won.', 'Message');
            return false;
        }
        else if (selectedRows.length == 0) {
            DevExpress.ui.dialog.alert('Please select a Cross to mark as won.', 'Message');
            return false;
        }
        else {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("MarkWonSelectedCross", "CompletedBids")",
                type: 'POST',
                data: JSON.stringify({ bidId: bidId, bidPartId: partid, crossPartId: selectedRows[0].CrossPartId }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $("#spinner").hide();
                    DevExpress.ui.notify('Part marked as won successfully.', "success", 3000);
                    //var gridMaster = $("div[partid=" + partid + " ]").dxDataGrid('instance');
                    //gridMaster.option("disabled", true);
                    //$('#btnMarkWonCrossPart_' + partid).attr('disabled', true);
                    //$('#btnMarkWonCrossPart_' + partid).attr('title', 'Cross already Finalized.');
                    //$.each($("#gridContainer").dxDataGrid("instance").getDataSource().items(), function (i, e) {
                    //    if (e.BidPartId == partid)
                    //        e.IsSelected = "True";
                    //});

                    @*$.ajax({
                        url: "@Url.Action("GetBidPartsList", "CrossReport")",
                        type: 'POST',
                        data: JSON.stringify({ bidId: bidId }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (bidPartReport) {
                            $("#gridContainer").dxDataGrid("instance").option("dataSource", bidPartReport);
                        }
                    });

                    $("#gridContainer").dxDataGrid("instance").collapseAll(-1);*@

                }
            });
        }
    }

</script>