﻿
@{
    ViewBag.Title = "Cross Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .modal-dialog {
        width: 95%;
        height: 93%;
        margin: 2%;
        padding: 0;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
</style>

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Cross Entry
            </h1>
            <div style="float: right;margin-top: 0px; margin-bottom: 10px !important;">
                <table cellspacing="3" border="0">
                    <tr>
                        <td>MTD Cross Entered Count :&nbsp;<span id="mtd_cross_entered"></span></td>
                    </tr>
                    <tr>
                        <td>Remaining Cross Entries allowed for the Day :&nbsp;<span id="mtd_todaycross_entered"></span></td>
                    </tr>
                </table>
            </div>
            <div style="float: right;margin-top: 0px; margin-bottom: 10px !important;margin-right:20px;">
                <button type="button" class="btn btn-success" id="btnLoadEntryPart" style="border-radius: 4px;">Load Part for Cross Entry</button>
            </div>
        </section>
        <br />
        <br />
        <!-- Main content -->
        <div id="grids_buttons">
            <section class="content">
                <div class="box box-default">
                    <div class="box-body">
                        <div id="gridContainer1" style="width:25%; float:left; margin-top:45px;"></div>
                        <div id="gridContainer2" style="width:70%; float:right;"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
            <div style="height: 35px;float: right;margin-top: -20px; margin-bottom: 10px; margin-right:20px !important;">
                <button type="button" class="btn btn-success" id="btnSubmit" style="margin-left:30px;float:left; border-radius: 4px;">Submit</button>
                <button type="button" class="btn btn-success" id="btnDontKnow" style="margin-left:30px;float:left; border-radius: 4px;">I Don't Know</button>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->
<!-- Modal to show available parts of a cross-->
<div class="modal fade" id="partList" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Select Part(s)</b></h4>
            </div>
            <div class="modal-body" id="partsContent" style="min-height:200px; max-height:500px; overflow-y:auto;">
                <p>
                    <div id="divPartDataTable"></div>
                </p>
                <br />
                <p>
                    <h5 id="flipMsgHeader"><b>SS/Flip part(s) found, please select either above entered part(s) or below SS/Flip part(s):</b></h5>
                    <br />
                    <div id="divFlipPartDataTable"></div>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAssignParts">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchpartmodal" role="dialog" tabindex='-1'>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Search Parts</b></h4>
            </div>
            <div class="modal-body" id="searchtextbox" style="overflow-y:auto;">
                 
                    @*<label for="SearchPart" style="font-weight:normal;"><span id="partLabel">Enter Part Number or Description to search</span><span style="color:red">&nbsp;*</span></label>*@
                    <div id="SearchPart" style="width:400px; opacity:1;"></div>
                
                <br />
                <div id="gridSearchPart"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSaveParts">Save Selected Parts</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#crowdsourcing').addClass('active');
        $('#CrossEntry').addClass('active');
        $("#btnLoadEntryPart").hide();
        $("#btnSaveParts").hide();
        $("#gridSearchPart").hide();
        $("#grids_buttons").hide();
        var CrowdSourcingPart = [];
        var PartList = [];
        var flipPartList = [];
        var isEditEnable = false;
        var isEntryAllowed = true;
        var enteredPartNo;
        var crossGrid;
        var noofRowupdateRequest = 0;
        var bidId;
        var Records = [];

        EntryCountUser();
        function EntryCountUser() {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("GetCrossEntryUserCounts", "CrossEntry")",
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (count) {
                    $("#spinner").hide();

                    $("#mtd_cross_entered").text(count[0]);
                    $("#mtd_todaycross_entered").text(count[2]);

                    if (count[2] <= 0) {
                        isEntryAllowed = false;
                    }
                    else {
                        isEntryAllowed = true;
                    }
                }
            });
        }

        CheckFromPartForEntry();
        function CheckFromPartForEntry() {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("CheckLockedEntryPartForUser", "CrossEntry")",
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result == 0) {
                        $("#btnLoadEntryPart").show();
                    }
                    else {
                        LoadFromPartForEntry();
                    }
                }
            });
        }


        function LoadFromPartForEntry() {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("GetPartForCrowdSourcing", "CrossEntry")",
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (crowdSourcingPart) {
                    CrowdSourcingPart = crowdSourcingPart;
                    bidId = crowdSourcingPart.BidId
                    var PartData = [
                        {
                            "Info": "Part Number", "FromPart": crowdSourcingPart.CustomerPartNumber
                        },
                        {
                            "Info": "Description", "FromPart": crowdSourcingPart.PartDescription
                        },
                        {
                            "Info": "Manufacturer", "FromPart": crowdSourcingPart.Manufacturer
                        },
                        {
                            "Info": "Note", "FromPart": crowdSourcingPart.Note
                        }
                    ];
                    if (crowdSourcingPart.BidPartId == 0) {
                        $('#btnSubmit').attr('disabled', true);
                        $("#btnSubmit").attr('title', 'There is no Part available for entry. Please come again later.');
                        $('#btnDontKnow').attr('disabled', true);
                        $("#btnDontknow").attr('title', 'There is no Part available for entry. Please come again later.');
                        DevExpress.ui.notify('There is no Part available for entry. Please come again later.', "info", 3000);

                    }
                    else {
                        $("#btnLoadEntryPart").hide();
                        $("#grids_buttons").show();
                    }

                    $("#gridContainer1").dxDataGrid({
                        dataSource: PartData,
                        height: 172,
                        editing: {
                            mode: "cell",
                            allowUpdating: false,
                            allowDeleting: false,
                            allowAdding: false,
                            texts: {
                                addRow: 'Add new record'
                            }
                        },
                        filterRow: {
                            visible: false,
                            applyFilter: "auto"
                        },
                        headerFilter: {
                            visible: false
                        },
                        scrolling: {
                            showScrollbar: 'never'
                        },
                        hoverStateEnabled: true,
                        allowColumnResizing: true,
                        columnAutoWidth: true,
                        showBorders: true,
                        showColumnLines: true,
                        showRowLines: true,
                        columns: [
                            { dataField: "Info", caption: "", visible: true, allowEditing: false, allowSorting: false },
                            { dataField: "FromPart", caption: "From Part", visible: true, allowEditing: false, allowSorting: false },
                        ],

                    });

                    //---------load second grid----------//

                    $.ajax({
                        url: "@Url.Action("GetCrossesForEntry", "CrossEntry")",
                        type: 'POST',
                        data: JSON.stringify({ bidPartId: CrowdSourcingPart.BidPartId }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (Cross) {
                            $("#spinner").hide();

                            $("#gridContainer2").dxDataGrid({
                                dataSource: Cross,
                                height: 423,
                                editing: {
                                    mode: "row",
                                    allowUpdating: false,
                                    allowDeleting: true,
                                    allowAdding: true,
                                    texts: {
                                        addRow: 'Add new record'
                                    }
                                },
                                filterRow: {
                                    visible: false,
                                    applyFilter: "auto"
                                },
                                headerFilter: {
                                    visible: false
                                },
                                scrolling: {
                                    showScrollbar: 'never'
                                },
                                hoverStateEnabled: false,
                                allowColumnResizing: true,
                                columnAutoWidth: true,
                                showBorders: true,
                                showColumnLines: true,
                                showRowLines: true,
                                onEditorPreparing: function (options) {
                                    if (options.parentType == 'dataRow' && options.dataField == "PartNumber") {
                                        var grid = options.component;
                                        var value = grid.cellValue(options.row.dataIndex, "PartNumber");
                                    }

                                },
                                onEditorPrepared: function (options) {
                                    if (options.parentType == 'dataRow' && options.dataField == "PartNumber") {
                                        var grid = options.component;
                                        var value = grid.cellValue(options.row.dataIndex, "CrossPartId");
                                        options.editorElement.dxTextBox('instance').option('onFocusOut', function (e) {
                                            if (e.component._options.value.trim() == '') {
                                                //DevExpress.ui.dialog.alert('Please enter Cross Part Number.', 'Message');
                                                //return false;
                                            }
                                            else {
                                                $("#spinner").show();
                                                enteredPartNo = e.component._options.value;

                                                $.ajax({
                                                    url: "@Url.Action("CheckPartNumber", "CrossEntry")",
                                                    type: 'POST',
                                                    data: JSON.stringify({ partNumber: enteredPartNo, bidId: bidId, matchPartial: false }),
                                                    contentType: 'application/json; charset=utf-8',
                                                    success: function (result) {
                                                        if (result.length > 0) {
                                                            //PartList = result;

                                                            PartList = $.map(result, function (item) {
                                                                if (!item.IsFlip) {
                                                                    return item;
                                                                }
                                                            });

                                                            flipPartList = $.map(result, function (item) {
                                                                if (item.IsFlip) {
                                                                    return item;
                                                                }
                                                            });
                                                            $("#spinner").hide();

                                                            if (PartList.length > 0) {
                                                                var strPartData;
                                                                strPartData = "<table class='table table-bordered'>";
                                                                strPartData += "<th>" + "<td>" + "<b>Part No</b>" + "</td>" + "<td>" + "<b>Pool No</b>" + "</td>" + "<td>" + "<b>Description</b>" + "</td>" + "<td>" + "<b>Category</b>" + "</td>" + "</th>";
                                                                $.each(PartList, function (index, part) {
                                                                    strPartData += "<tr>" +
                                                 "<td >" + "<input type='checkbox' poolid='" + part.PoolNumber + "' productkey='" + part.ProductKey + "' partid='" + part.PartNumber + "' ssflip='" + false + "'  id='ch" + part.PoolNumber + "' value=''>" + "</td>" +
                                                  "<td style='padding-left:10px;'> <span partno='" + part.PartNumber + "' > " + part.PartNumber + "</span> </td>" +
                                                  "<td style='padding-left:10px;'> <span poolno='" + part.PoolNumber + "' > " + part.PoolNumber + "</span> </td>" +
                                                  "<td style='padding-left:10px;'> <span partdescription='" + part.PartDescription + "' > " + part.PartDescription + "</span> </td>" + "<td style='padding-left:10px;'> <span partcategory='" + part.PartCategory + "'> " + part.PartCategory + "</span> </td>" +
                                                  "</tr>";
                                                                });
                                                                strPartData += "</table>";
                                                                $("#divPartDataTable").html(strPartData);

                                                            }

                                                            if (flipPartList.length > 0) {
                                                                var strflipPartData;
                                                                strflipPartData = "<table class='table table-bordered'>";
                                                                strflipPartData += "<th>" + "<td>" + "<b>Part No</b>" + "</td>" + "<td>" + "<b>Pool No</b>" + "</td>" + "<td>" + "<b>Description</b>" + "</td>" + "<td>" + "<b>Category</b>" + "</td>" + "</th>";
                                                                $.each(flipPartList, function (index, flipPart) {
                                                                    strflipPartData += "<tr>" +
                                                "<td >" + "<input type='checkbox' poolid='" + flipPart.PoolNumber + "' productkey='" + flipPart.ProductKey + "' partid='" + flipPart.PartNumber + "' ssflip='" + true + "' id='ch" + flipPart.PoolNumber + "' value=''>" + "</td>" +
                                                "<td style='padding-left:10px;'> <span partno='" + flipPart.PartNumber + "' > " + flipPart.PartNumber + "</span> </td>" +
                                               "<td style='padding-left:10px;'> <span poolno='" + flipPart.PoolNumber + "' > " + flipPart.PoolNumber + "</span> </td>" +
                                               "<td style='padding-left:10px;'> <span partdescription='" + flipPart.PartDescription + "' > " + flipPart.PartDescription + "</span> </td>" +
                                               "<td style='padding-left:10px;'> <span partcategory='" + flipPart.PartCategory + "'> " + flipPart.PartCategory + "</span> </td>" +
                                                "</tr>";
                                                                });
                                                                strflipPartData += "</table>";
                                                                $("#divFlipPartDataTable").html(strflipPartData);

                                                                $("#flipMsgHeader").show();
                                                            }
                                                            else {

                                                                $("#flipMsgHeader").hide();
                                                                var container = $("#divFlipPartDataTable");
                                                                container[0].innerHTML = "";
                                                            }

                                                            $("#partList").modal();

                                                            $('#divPartDataTable input:checkbox').change(function () {
                                                                $('#divFlipPartDataTable input:checkbox').prop('checked', false);
                                                            });

                                                            $('#divFlipPartDataTable input:checkbox').change(function () {
                                                                $('#divPartDataTable input:checkbox').prop('checked', false);
                                                            });

                                                        }
                                                        else {
                                                            $("#spinner").hide();
                                                            DevExpress.ui.notify('Part Number not found. Please enter details manually.', "info", 3000);
                                                            var grid = options.component;
                                                            var value = grid.cellValue(options.row.dataIndex, "CrossPartId");
                                                        }
                                                    }
                                                });
                                            }
                                        });

                                        options.editorElement.dxTextBox('instance').option('onKeyDown', function (e) {
                                            e.jQueryEvent.stopPropagation();                             
                                        });
                                    }
                                },
                                onInitNewRow: function (options) {

                                    //$("#searchpartmodal").modal();

                                    //if (options.parentType == 'dataRow' && options.dataField == "PartNumber") {
                                    //    var grid = options.component;
                                    //    var value = grid.cellValue(options.row.dataIndex, "PartNumber");
                                    //    if (!value) {
                                    //        options.editorOptions.disabled = false;
                                    //        options.allowEditing = true;
                                    //    }
                                    //}
                                },
                                onRowRemoving: function (e) {
                                    $("#spinner").show();
                                    var datatoPost = {
                                        crossPartId: e.data.CrossPartId,
                                    };
                                    $.ajax({
                                        url: "@Url.Action("DeleteCross", "CrossEntry")",
                                        type: 'POST',
                                        data: JSON.stringify(datatoPost),
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (result) {
                                            $("#spinner").hide();
                                            DevExpress.ui.notify('Record deleted successfully.', "success", 1000);
                                        }
                                    });
                                },
                                onRowRemoved: function (e) {
                                    EntryCountUser();
                                },
                                onRowInserting: function (info) {
                                    $("#spinner").show();
                                    $.ajax({
                                        url: "@Url.Action("SaveManualPoolPart", "CrossEntry")",
                                        type: 'POST',
                                        data: JSON.stringify({
                                            crowdSourcingPartId: CrowdSourcingPart.BidPartId, CrossPartNo: info.data.PartNumber,
                                            CrossPoolNo: info.data.PoolNumber, CrossPartDescription: info.data.PartDescription,
                                            CrossPartCategory: info.data.PartCategory, isCrossReport: 0
                                        }),
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (result) {
                                            if (result.status == false) {
                                                $("#spinner").hide();
                                                var result = DevExpress.ui.dialog.alert("Entered Cross Part already exists.", 'Message');

                                                result.done(function (dialogResult) {
                                                    if (dialogResult) {
                                                        window.location = '@Url.Action("Index", "CrossEntry")';
                                                    }
                                                });
                                            }
                                            else {
                                                $.ajax({
                                                    url: "@Url.Action("GetCrossesForEntry", "CrossEntry")",
                                                    type: 'POST',
                                                    data: JSON.stringify({ bidPartId: CrowdSourcingPart.BidPartId }),
                                                    contentType: 'application/json; charset=utf-8',
                                                    success: function (Cross) {
                                                        $("#spinner").hide();
                                                        $("#gridContainer2").dxDataGrid("instance").option("dataSource", Cross);
                                                        EntryCountUser();
                                                    }
                                                });
                                            }
                                        }

                                    });
                                },
                                columns: [
                                    {
                                        dataField: "SNo",
                                        caption: 'S. No.',

                                        cellTemplate: function (cellElement, cellInfo) {
                                            if (cellInfo.row.isEditing || cellInfo.row.inserted) {
                                                cellElement.text('Cross-' + ($("#gridContainer2").dxDataGrid("instance").totalCount() + 1))
                                            }
                                            else {
                                                cellElement.text('Cross-' + (cellInfo.row.rowIndex + 1))
                                            }
                                        },
                                        allowEditing: false, allowSorting: false
                                    },
                                    { dataField: 'CrossPartId', visible: false, dataType: 'number' },
                                    { dataField: "PartNumber", caption: "Part Number", visible: true, showEditorAlways: true, allowEditing: true, allowSorting: false, validationRules: [{ type: 'required', trim: true }, { type: 'stringLength', max: 30, message: 'Maximum 30 characters allowed.' }] },
                                    { dataField: "PoolNumber", caption: "Pool", allowEditing: true, showEditorAlways: true, visible: true, dataType: 'number', allowSorting: false },
                                    { dataField: "PartDescription", caption: "Description", allowEditing: true, visible: true, allowSorting: false, validationRules: [{ type: 'stringLength', max: 50, message: 'Maximum 50 characters allowed.' }] },
                                    { dataField: 'PartCategory', caption: "Category", allowEditing: true, visible: true, allowSorting: false, validationRules: [{ type: 'stringLength', max: 8, message: 'Maximum 8 characters allowed.' }] },
                                    { dataField: 'IsFlip', caption: "SS/Flip", allowEditing: false, visible: true, allowSorting: false, dataType: 'boolean' },
                                    { dataField: 'IsNonFP', caption: "Non-FP Part", allowEditing: false, visible: true, allowSorting: false, dataType: 'boolean' },
                                ],
                                onCellPrepared: function (e) {
                                    if (e.column.command === 'edit')
                                        e.cellElement.on('click', '.dx-link-cancel', function () {
                                            alert('cancelled');
                                        });
                                },
                                onContentReady: function (e) {
                                    e.element.find("a").filter(function () {
                                        return $(this).text() == "Save";
                                    }).html('<span title="Save" class="fa fa-fw fa-save fa-lg"></span>');

                                    e.element.find("a").filter(function () {
                                        return $(this).text() == "Cancel";
                                    }).html('<span id="abc" title="Cancel" class="fa fa-fw fa-mail-reply fa-lg"></span>');

                                    e.element.find("a").filter(function () {
                                        return $(this).text() == "Edit";
                                    }).html('<span title="Edit" class="fa fa-fw fa-pencil fa-lg"></span>');

                                    e.element.find("a").filter(function () {
                                        return $(this).text() == "Delete";
                                    }).html('<span title="Delete" class="fa fa-fw fa-trash fa-lg"></span>');

                                    e.element.find("#abc").click(function () {
                                        //alert("Cancel");
                                    });
                                },

                                onToolbarPreparing: function (e) {
                                    var toolbarItems = e.toolbarOptions.items;
                                    $.each(toolbarItems, function (_, item) {
                                        if (item.name === "addRowButton") {
                                            item.options.onClick = function (args) {
                                                if (e.component.totalCount() == 10) {
                                                    DevExpress.ui.dialog.alert('Maximum 10 crosses allowed.', 'Message');
                                                }
                                                else if (!isEntryAllowed) {
                                                    DevExpress.ui.dialog.alert("Your daily Cross Entry limit has been completed, please come again later.", 'Message');
                                                }
                                                else
                                                    e.component.addRow();
                                            };
                                        }

                                    });
                                }
                            });
                            if (crowdSourcingPart.BidPartId == 0) {

                                $('#gridContainer2').dxDataGrid('instance').option("disabled", true);

                            }
                        }
                    });
                }
            });
        }

        var MaxPartSearchNoAllowed = @System.Configuration.ConfigurationManager.AppSettings["MaxPartSearchNoAllowed"];
        //Set the SearchPart text box autocomplete
        $("#SearchPart").dxAutocomplete({
            minSearchLength: 1,
            searchMode: 'contains',
            searchTimeout: 1000,
            placeholder: "Type Part Number or Description",
            valueExpr: "PartInfo",
            dataSource: new DevExpress.data.DataSource({
                load: function (loadOptions) {
                    var d = new $.Deferred();
                    $("#spinner").show();
                    $.ajax({
                        url: "@Url.Action("GetAllPartInfo", "CrossEntry")",
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ bidId: bidId, filter: loadOptions.searchValue }),
                        success: function (result) {
                            d.resolve(result.Data);
                            $("#spinner").hide();
                            if (result.Data.length == 0) {
                                $("#btnSaveParts").hide();
                                $("#gridSearchPart").hide();
                                DevExpress.ui.notify('No result found,  please refine your search criteria.', "info", 2000);
                                return false;
                            }
                            if (result.Data.length > MaxPartSearchNoAllowed) {
                                $("#btnSaveParts").hide();
                                $("#gridSearchPart").hide();
                                DevExpress.ui.dialog.alert("Your search result returns more than " + MaxPartSearchNoAllowed + " parts, please refine your search criteria.", 'Message');
                            }
                            else {
                                $("#btnSaveParts").show();
                                $("#gridSearchPart").show();
                                $("#gridSearchPart").dxDataGrid({
                                    dataSource: result.Data,
                                    paging: {
                                        pageSize: 50
                                    },
                                    height: function () {
                                        return dynamicheight = $(document).height() - 265;
                                    },
                                    pager: {
                                        showPageSizeSelector: true,
                                        allowedPageSizes: [10, 50, 100, 200, 500],
                                        showInfo: true
                                    },
                                    filterRow: {
                                        visible: true,
                                        applyFilter: "auto"
                                    },
                                    headerFilter: {
                                        visible: true
                                    },
                                    selection: {
                                        mode: "single"
                                    },
                                    scrolling: {
                                        showScrollbar: 'always'
                                    },
                                    selection: {
                                        mode: "multiple", showCheckBoxesMode: 'always', allowSelectAll: true,             selectAllMode: "allPages"
                                    },
                                    hoverStateEnabled: true,
                                    allowColumnResizing: true,
                                    columnAutoWidth: true,
                                    showBorders: true,
                                    showColumnLines: true,
                                    showRowLines: true,
                                    onCellPrepared: function (e) {
                                        if (e.rowType == "header" || e.rowType === "data") {
                                            e.cellElement.addClass('moveToCenter');
                                        }
                                    },
                                    columns: [
                                        { dataField: "PartInfo", caption: "Pool-PartNumber-Description", wordWrapEnabled: true, visible: true },
                                        { dataField: "ProductKey", caption: "ProductKey", wordWrapEnabled: true, visible: false },
                                        { dataField: "IsFlip", caption: "SS/Flip",  visible: true },
                                    ],
                                });
                            }
                           
                        }

                    });
                    return d.promise();
                }
            }),
        });

        $("#btnAssignParts").click(function () {
            if ($("#gridContainer2").dxDataGrid("instance").totalCount()
                + $("#partList").find('input[type="checkBox"]:Checked').length > 10) {
                DevExpress.ui.dialog.alert("Your selection has exceeded the limit of 10 crosses per part.", 'Message');
                return false;
            }

            var selectedPools = [];
            var selectedParts = [];
            var selectedProductKeys = [];
            var ssflip = [];

            $.each($("#partsContent").find("input[type='checkbox']"), function (a, b) {
                if ($(b).prop("checked") == true) {
                    selectedPools.push($(b).attr("poolid"));
                    selectedParts.push($(b).attr("partid"));
                    selectedProductKeys.push($(b).attr("productkey"));
                    ssflip.push($(b).attr("ssflip"));
                }
            });

            if (selectedPools.length == 0) {
                DevExpress.ui.dialog.alert("Please select atleast one Part Number to save.", 'Message');
                return false;
            }
            else {
                debugger;
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("SaveDbFoundPoolPart", "CrossEntry")",
                    type: 'POST',
                    data: JSON.stringify({ crowdSourcingPartId: CrowdSourcingPart.BidPartId, partNo: selectedParts[0].trim(), ssflip: ssflip[0], pools: selectedPools, productKeys: selectedProductKeys, isCrossReport: 0, source: "CrowdSourcing" }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $.ajax({
                            url: "@Url.Action("GetCrossesForEntry", "CrossEntry")",
                            type: 'POST',
                            data: JSON.stringify({ bidPartId: CrowdSourcingPart.BidPartId }),
                            contentType: 'application/json; charset=utf-8',
                            success: function (Cross) {

                                $("#gridContainer2").dxDataGrid("instance").option("dataSource", Cross);
                                $("#gridContainer2").dxDataGrid("instance").cancelEditData();

                                EntryCountUser();

                                $('#modal').modal('toggle');
                                $("#spinner").hide();
                            }
                        });
                    }
                });
            }
            //------------------//
        });

        $("#btnSaveParts").click(function () {
            var selectedRows = $('#gridSearchPart').dxDataGrid('instance').getSelectedRowsData();

            if ($("#gridContainer2").dxDataGrid("instance").totalCount()
                + selectedRows.length > 10) {
                DevExpress.ui.dialog.alert("Your selection has exceeded the limit of 10 crosses per part.", 'Message');
                return false;
            }

            if (selectedRows.length == 0) {
                DevExpress.ui.dialog.alert("Please select atleast one record to save.", 'Message');
                return false;
            }
            else {
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("SaveSearchedDbFoundPoolPart", "CrossEntry")",
                    type: 'POST',
                    data: JSON.stringify({ crowdSourcingPartId: CrowdSourcingPart.BidPartId, isCrossReport: 0, source: "CrowdSourcing", selectedRows: selectedRows }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (result) {
                        $.ajax({
                            url: "@Url.Action("GetCrossesForEntry", "CrossEntry")",
                            type: 'POST',
                            data: JSON.stringify({ bidPartId: CrowdSourcingPart.BidPartId }),
                            contentType: 'application/json; charset=utf-8',
                            success: function (Cross) {

                                $("#gridContainer2").dxDataGrid("instance").option("dataSource", Cross);
                                $("#gridContainer2").dxDataGrid("instance").cancelEditData();
                                EntryCountUser();
                                $('#modal').modal('toggle');
                                $("#spinner").hide();
                            }
                        });
                    }
                });
            }
            //------------------//
        });

        $('#btnSubmit').click(function () {
            if ($('#gridContainer2').dxDataGrid('instance').hasEditData()) {
                DevExpress.ui.dialog.alert('Unsaved changes found in grid, Please  save or revert the changes.', 'Message');
                return false;
            }
            if ($("#gridContainer2").dxDataGrid("instance").getVisibleRows().length > 0) {
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("SubmitCrowdSourcingPart", "CrossEntry")",
                    type: 'POST',
                    data: JSON.stringify({ crowdSourcingPartId: CrowdSourcingPart.BidPartId }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#spinner").hide();
                        window.location = '@Url.Action("Index", "CrossEntry")';
                    }
                });
            }
            else {
                DevExpress.ui.dialog.alert("Please add atleast one Cross before submitting the Part.", 'Message');
                return false;
            }
        });

        $('#btnDontKnow').click(function () {
            if ($("#gridContainer2").dxDataGrid("instance").getVisibleRows().length > 0) {
                DevExpress.ui.dialog.alert("Action can not be taken as one or more Cross already saved.<br/>Please delete all the Crosses to proceed.", 'Message');
                return false;
            }
            else {
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("ReleaseCrowdSourcingPart", "CrossEntry")",
                    type: 'POST',
                    data: JSON.stringify({ crowdSourcingPartId: CrowdSourcingPart.BidPartId }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {

                        if (result.status) {
                            $("#spinner").hide();
                            DevExpress.ui.notify("Part released from your queue", "success", 2000);

                            setTimeout(
                                function () {
                                    $("#spinner").show();
                                    window.location = '@Url.Action("Index", "CrossEntry")';
                                }, 2000);

                        }
                        else {
                            $("#spinner").hide();
                            DevExpress.ui.notify("Error occurred, please try again.", "error", 1000);
                            return false;
                        }
                    }
                });
            }
        });

        $('#btnLoadEntryPart').click(function () {
            LoadFromPartForEntry();
        });

    });

</script>