﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Inventory Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="sendEmailPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="gridContainer_SendEmail"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSendMailToCM" style="margin-left:10px; margin-top:0px; float:right; border-radius: 4px;">Send Email & Assign</button>
                <div id="BidLaunchDate" style="width:180px; opacity:1;float:right;margin-right:15px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="downloadLocationInvPopup" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <label>Locations</label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="gridContainer_Locations"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnDownloadLocInv" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Download selected locations for parts inventory</button>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Inventory Update
            </h1>
            <div style="float: right;margin-top: 6px !important; font-weight:bold">
                <div id="dropDownBids" style="width:200px;display:inline-block;"></div>
            </div>
            <div id="buttonsright">
                @if (!ViewBag.ReadOnly)
                {
                    <button type="button" class="btn btn-primary" id="btnPullback" style="margin-right:20px; float:right; border-radius: 4px;margin-top:6px;">Pullback</button>
                    <button type="button" class="btn btn-primary" id="btnUpdateInv" style="margin-right:20px; float:right; border-radius: 4px;margin-top:6px;">Update Inventory</button>
                    <button type="button" class="btn btn-primary" id="btnNotifySupplyChain" style="border-radius: 4px; margin-top:6px !important;margin-right:10px;float:right;">Notify Supply Chain</button>
                    <button type="button" class="btn btn-primary" id="btnDelete" style="margin-right:20px; float:right; border-radius: 4px;margin-top:6px;">Delete</button>
                    <button type="button" class="btn btn-success" id="btnAssignToCM" style="border-radius: 4px; margin-top:6px !important;margin-right:30px; float: right;">Assign to CM</button>
                    <button type="button" class="btn btn-primary" id="btnSubmitUpdateInv" style="margin-right:20px; float:right; border-radius: 4px;margin-top:6px;display:none;">Submit Updates</button>
                    <div id="fileUploader" style="display:inline-block;width:105px; height: 62px;padding: 0px; margin-top:-11px;border:solid 0px black;float: right;"></div>
                }
                <button type="button" class="btn btn-success" id="btnLocations" style="border-radius: 4px; margin-top:6px !important;margin-right:0px;float:right;min-width:10px;display:block;">Download Locations Inventory</button>
                @if (ViewBag.HasAccessToVerification)
                {
                    <button type="button" class="btn btn-info" id="btnReview" style="margin-right:20px; float:right; border-radius: 4px;margin-top:6px;">Inventory Verification</button>
                }
            </div>
            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<div class="modal fade" id="modelNotifySupplyChain" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <h4 class="modal-title"><b>Notify Supply Chain</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="saveAllResultPopup_body">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        Add comment for supply chain team
                        <br />
                        <div class="form-group">
                            <textarea style="width: 550px; height: 150px;" id="txtSupplyChainMessage"></textarea>
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnNotify" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Notify</button>
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnCancelNotify" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Cancel</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var uploadURL;
    var bidId;
    var bidName;
    var bidStatus;
    var bidType;
    var createdBy;
    var bidPartId;
    var selectedBidId;
    var showCheckBoxes = 'none';
    var isInventoryUpdateAllowed;
    var isInventoryDeleteAllowed;
    var crossPartsInventoryData;
    var bidLaunchDate;
    //var isUploading = @ViewBag.IsUploading;

    $("#BidLaunchDate").dxDateBox({
        pickerType: "calendar",
        min: new Date(),
        acceptCustomValue: false,
        placeholder: "Bid Launch Date",
        onValueChanged: function (data) {
            bidLaunchDate = data.value;
        }
    });

    function DeleteCrossPartsInventory(crossPartInventoryIds) {
        $.ajax({
            url: "@Url.Action("DeleteCrossPartsInventory", "Inventory")",
            type: 'POST',
            data: JSON.stringify({ crossPartInventoryIds: crossPartInventoryIds }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function () {
                DevExpress.ui.notify("Selected record(s) location inventory deleted successfully.", "success", 2000);
            }
        });
    }

    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#inventory').addClass('active');
        $('#InventoryUpdate').addClass('active');

        $("#box").hide();
        $("#btnLocations").hide();
        $("#fileUploader").hide();
        $("#btnDelete").hide();
        $("#btnPullback").hide();
        $("#btnUpdateInv").hide();
        $("#btnAssignToCM").hide();
        $("#btnReview").hide();
        @if(ViewBag.bidId != null)
        {
            <text>bidId=</text>@ViewBag.BidId<text>;
        </text>
        }

        $('#btnReview').click( function(){
            window.location = '@Url.Action("InventoryVerification", "Inventory")?bidId=' + bidId + '&bidName=' + bidName;
        });

        // button click event to open locations/area/region grid popup to download with inv
        $('#btnLocations').click(function () {
            LoadLocationsList();
        });

        // button click event to pullback the bid from inventory review
        $('#btnPullback').click(function () {
            var result = DevExpress.ui.dialog.confirm('This will pullback the bid from ' + bidStatus + '.' + '<br />' + 'Click Yes to proceed.', "Confirm");
            result.done(function (dialogResult) {
                if(dialogResult) {
                    $("#spinner").show();
                    $.ajax({
                        url: "@Url.Action("CompleteBidStatus", "PriceValidation")",
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ bidId: bidId, status: '@Constants.InventoryUpdate' }),
                        success: function (result) {
                            $("#spinner").hide();
                            if (result) {
                                DevExpress.ui.notify('Bid is now in @Constants.InventoryUpdate status.', "success", 3000);

                                $("#btnReview").hide();
                                $("#btnLocations").show();
                                $("#fileUploader").show();
                                $("#btnDelete").show();
                                $("#btnPullback").hide();
                                $("#btnUpdateInv").hide();
                                $("#btnAssignToCM").show();
                                $('#btnAssignToCM').attr('disabled',false);
                                $('#btnAssignToCM').prop('title', '');
                                showCheckBoxes = 'always';
                                isInventoryUpdateAllowed = true;
                                isInventoryDeleteAllowed = true;

                                $("#gridContainer").dxDataGrid("instance").option('editing.allowUpdating',isInventoryUpdateAllowed);
                                $("#gridContainer").dxDataGrid("instance").option('editing.allowDeleting',isInventoryDeleteAllowed);
                                $("#gridContainer").dxDataGrid("instance").option('selection.showCheckBoxesMode',showCheckBoxes);

                                bidStatus = '@Constants.InventoryUpdate';

                                //--delete all inventory review action records when bid is pulled back --//
                                $.ajax({
                                    url: "@Url.Action("PullbackBidFromInventoryReview", "Inventory")",
                                    type: 'POST',
                                    contentType: 'application/json; charset=utf-8',
                                    data: JSON.stringify({  bidId: bidId }),
                                    success: function (result) {
                                        console.log("Bid pulled back successfully.");
                                    }
                                });

                            }
                            else {
                                DevExpress.ui.notify("Error Occured.", "error", 3000);
                            }
                        }
                    });
                }
            });
        });

        // button click event to update inventory after all approvals
        $('#btnUpdateInv').click(function () {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("CompleteBidStatus", "PriceValidation")",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ bidId: bidId, status: '@Constants.InventoryReUpdate' }),
                success: function (result) {
                    $("#spinner").hide();
                    if (result) {
                        DevExpress.ui.dialog.alert('Bid is now in @Constants.InventoryReUpdate status. <br/> You can now update inventory and submit again to Data/Demand Team.', 'Message');
                        $("#btnLocations").show();
                        $("#fileUploader").show();
                        $("#btnDelete").hide();
                        $("#btnPullback").hide();
                        $("#btnAssignToCM").hide();
                        $("#btnUpdateInv").hide();
                        $("#btnReview").show();
                        showCheckBoxes = 'none';
                        isInventoryUpdateAllowed = true;
                        isInventoryDeleteAllowed = false;
                        $("#gridContainer").dxDataGrid("instance").option('editing.allowUpdating',isInventoryUpdateAllowed);
                        $("#gridContainer").dxDataGrid("instance").option('editing.allowDeleting',isInventoryDeleteAllowed);
                        $("#gridContainer").dxDataGrid("instance").option('selection.showCheckBoxesMode',showCheckBoxes);

                        bidStatus = '@Constants.InventoryReUpdate';

                        $("#btnSubmitUpdateInv").show();
                    }
                    else {
                        DevExpress.ui.notify("Error Occured.", "error", 3000);
                    }
                }
            });
        });

        // button click event to submit the updated inventory
        $('#btnSubmitUpdateInv').click(function () {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("SubmitInventoryReview", "Inventory")",
                type: 'POST',
                data: JSON.stringify({ bidId: bidId, bidName: bidName }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (msg) {
                    $("#btnLocations").hide();
                    $("#fileUploader").hide();
                    $("#btnDelete").hide();
                    $("#btnPullback").hide();
                    $("#btnUpdateInv").show();
                    $("#btnReview").hide();
                    $("#btnSubmitUpdateInv").hide();
                    $("#btnAssignToCM").show();
                    $('#btnAssignToCM').attr('disabled',true);
                    $('#btnAssignToCM').prop('title', 'Bid is assigned to Data/Demand Team.');
                    showCheckBoxes = 'none';
                    isInventoryUpdateAllowed = false;
                    isInventoryDeleteAllowed = false;
                    $("#gridContainer").dxDataGrid("instance").option('editing.allowUpdating',isInventoryUpdateAllowed);
                    $("#gridContainer").dxDataGrid("instance").option('editing.allowDeleting',isInventoryDeleteAllowed);
                    $("#gridContainer").dxDataGrid("instance").option('selection.showCheckBoxesMode',showCheckBoxes);

                    $("#spinner").hide();
                    DevExpress.ui.notify(msg, "success", 3000);
                }
            });
        });

        // button click event to download locationwise parts inventory
        $('#btnDownloadLocInv').click(function () {
            var selectedRows = $('#gridContainer_Locations').dxDataGrid('instance').getSelectedRowsData();
            if (selectedRows.length == 0) {
                DevExpress.ui.dialog.alert('Please select atleast one location to download.', 'Message');
            }
            else {
                $("#spinner").show();
                var locations = []
                locations = $.map(selectedRows, function(item) {
                    return item.Location;
                });
                $.ajax({
                    url: "@Url.Action("DownloadLocationInventory", "Inventory")",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ locations: locations, bidId: bidId, bidname: bidName}),
                    success: function (result) {
                        $("#spinner").hide();
                        if (result) {
                            $('#gridContainer_Locations').dxDataGrid('instance').deselectAll();
                            $('#downloadLocationInvPopup').modal('hide');
                            DevExpress.ui.notify("Excel download is in progress, it will be available/downloaded shortly.", "success", 4000);
                            window.location = '@Url.Action("DownloadLocationInventoryExcel", "Inventory")?bidId=' + bidId + '&bidName=' + bidName;
                        }
                        else {
                            DevExpress.ui.notify("Error Occured, Please try again.", "error", 2000);
                        }
                    }
                });
            }
        });

        $("#btnNotifySupplyChain").click(function () {
            $('#modelNotifySupplyChain').modal('show');
        });
        $("#btnCancelNotify").click(function () {
            $("#txtSupplyChainMessage").val('');
            $('#modelNotifySupplyChain').modal('hide');
        });
        $('#btnNotify').click(function () {
            let msg = $("#txtSupplyChainMessage").val();
            if ($.trim(msg) === null || $.trim(msg) === '') {
                DevExpress.ui.notify("Please enter comments.", "error", 3000);
                return false;
            }
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("NotifySupplyChain", "CompletedBids")",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ bidId: bidId, bidName: bidName, comment: msg }),
                success: function (result) {
                    $("#spinner").hide();
                    //if (result == 1) {
                    DevExpress.ui.notify('Notification sent to supply chain team', "success", 3000);
                    //}
                    //else {
                    //    DevExpress.ui.notify("Error Occured.", "error", 3000);
                    //}
                }
            });
        });

        // function to show locations/area/region grid popup to download with inv
        function LoadLocationsList() {
            $("#spinner").show();
            $('#downloadLocationInvPopup').modal('show');

            $.ajax({
                url: "@Url.Action("GetLocationsList", "Inventory")",
                type: 'POST',
                data: JSON.stringify({ bidId: bidId }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    setTimeout(function () {
                        $("#spinner").hide();
                        $("#gridContainer_Locations").dxDataGrid({
                            dataSource: result,
                            paging: { pageSize: 50 },
                            height: function () { return dynamicheight = $(document).height() - 270; },
                            pager: { showPageSizeSelector: true, allowedPageSizes: [10, 50, 100, 200, 500], showInfo: true },
                            selection: {
                                mode: "multiple", showCheckBoxesMode: 'always', allowSelectAll: true, selectAllMode: "allPages"
                            },
                            filterRow: { visible: true, applyFilter: "auto" },
                            headerFilter: { visible: true },
                            rowAlternationEnabled: true,
                            hoverStateEnabled: true,
                            allowColumnResizing: true,
                            columnAutoWidth: true,
                            showBorders: true,
                            showColumnLines: true,
                            showRowLines: true,
                            columns: [
                                { dataField: "Location", caption: "Location", visible: true, dataType: "string"},
                                { dataField: "LocationName", caption: "Location Name ", visible: true, dataType: "string"},
                                { dataField: "TerritoryId", caption: "Territory", visible: true, dataType: "string"},
                                { dataField: "PriceRegion", caption: "Region", visible: true, dataType: "string"},
                            ],
                        }).dxDataGrid("instance");
                        $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
                    }, 1000);
                }
            });
        }

        $("#fileUploader").dxFileUploader({
            accept: ".xls,.xlsx",
            labelText: '',
            selectButtonText: 'Upload',
            uploadMode: 'instantly',
            uploadUrl: uploadURL,
            visible: true,
            showFileList: false,
            onUploadStarted: function () {
                $("#spinner").show();
                var progressCheckUrl = "@Url.Action("GetInventoryUploadProgress", "Inventory")";
                ShowProgressBar(bidId, progressCheckUrl, 3000);
            },
            onUploaded: function (e) {
                UpdateProgressBar(100);
                HideProgressBar();

                var uploadResponse = JSON.parse(e.jQueryEvent.target.responseText)
                if (uploadResponse.error) {
                    DevExpress.ui.dialog.alert('Error occurred, please try again.</br>' + 'Error Message : ' + uploadResponse.errorText, 'Message');
                    $("#spinner").hide();
                }
                else {
                    if (uploadResponse.totalError == 0) {
                        DevExpress.ui.notify("File uploaded successfully, all data uploaded.", "success", 3000);
                        $("#spinner").hide();
                        LoadCrossPartsInventory();
                    }
                    else {
                        DevExpress.ui.dialog.alert('There were some record(s) which were not uploaded due to error(s).<br/>' + 'Total number of error(s) : ' + uploadResponse.totalError + '<br/> Please check downloaded excel sheet for error details, correct the error(s) and upload the excel again.', 'Message');
                        window.location = '@Url.Action("DownloadCrossPartsInventoryDataFile", "Inventory")?fileName=' + uploadResponse.path;
                        $("#spinner").hide();
                        LoadCrossPartsInventory();
                    }
                }
                e.component.reset();
            }
        });

        var dataGrid;
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("GetInventoryUpdateBids", "Inventory")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (bidList) {
                console.log(bidList);
                $("#spinner").hide();
                $("#dropDownBids").dxDropDownBox({
                    value: bidId,
                    width: 350,
                    valueExpr: "BidId",
                    placeholder: "Select Bid",
                    displayExpr: "BidName",
                    showClearButton: false,
                    dataSource: bidList,
                    contentTemplate: function (e) {
                        var value = e.component.option("value"),
                            $dataGrid = $("<div style='padding:0px' >").dxDataGrid({
                                dataSource: {
                                    store: {
                                        type: 'array',
                                        key: 'BidId',
                                        data: e.component.option("dataSource")
                                    }
                                },
                                columns: ["BidName"],
                                hoverStateEnabled: true,
                                filterRow: { visible: true },
                                scrolling: {
                                    mode: "virtual",
                                    showScrollbar: 'always'
                                },
                                height: 350,
                                selection: { mode: "single" },
                                selectedRowKeys: value,
                                showColumnHeaders: false,
                                onSelectionChanged: function (selectedItems) {
                                    var keys = selectedItems.selectedRowKeys;
                                    e.component.option("value", keys);
                                    e.component.close();
                                    bidId = keys[0];
                                    bidType = selectedItems.selectedRowsData[0].BidType;
                                    bidName = selectedItems.selectedRowsData[0].BidName;
                                    bidStatus = selectedItems.selectedRowsData[0].BidStatus;
                                    createdBy = selectedItems.selectedRowsData[0].CreatedBy;
                                    @*uploadURL = '@Url.Action("UploadCrossPartsInventoryFile", "Inventory")?bidId='+ bidId;
                                    $("#fileUploader").dxFileUploader('instance').option('uploadUrl', uploadURL);*@
                                    LoadCrossPartsInventory();
                                }
                            });
                        dataGrid = $dataGrid.dxDataGrid("instance");
                        e.component.on("valueChanged", function (args) {
                            var value = args.value;
                            dataGrid.selectRows(value, false);
                        });
                        return $dataGrid;
                    }
                });

                @if(ViewBag.bidId != null)
                {
                    <text>
                var data = $("#dropDownBids").dxDropDownBox('instance').option('dataSource');
                bidId=</text>@ViewBag.bidId<text>;
                $.each(data, function( i ) {
                    if(data[i].BidId == bidId){
                        bidName = data[i].BidName;
                        bidStatus = data[i].BidStatus;
                    }
                });

                @*uploadURL = '@Url.Action("UploadCrossPartsInventoryFile", "Inventory")?bidId='+ bidId;
                $("#fileUploader").dxFileUploader('instance').option('uploadUrl', uploadURL);*@
                LoadCrossPartsInventory();
                </text>
                }
            }
        });

        $('#btnAssignToCM').click(function () {
            var gridDataSource = $('#gridContainer').dxDataGrid('instance').getDataSource()._items;
            var isActiveList = []
            isActiveList = $.map(gridDataSource, function(item) {
                if(item.IsActive == 'Yes')
                    return item.IsActive;
            });
            if(isActiveList.length == 0)
            {
                DevExpress.ui.dialog.alert('Atleast one record should be active before assigning to CM.', 'Message');
                return false;
            }
            var isStockingTypeOList = []
            isStockingTypeOList = $.map(gridDataSource, function(item) {
                if(item.StockingType == 'O')
                    return item.StockingType;
            });
            if(gridDataSource.length == isStockingTypeOList.length)
            {
                DevExpress.ui.dialog.alert('Atleast one record should be of except "O" stocking type before assigning to CM.', 'Message');
                return false;
            }
            LoadCMList();
        });

        var selectedData;
        $('#btnSendMailToCM').click(function () {
            selectedData = $('#gridContainer_SendEmail').dxDataGrid('instance').getDataSource().items();
            if ($("#BidLaunchDate").dxDateBox('instance').option('value') == "" || $("#BidLaunchDate").dxDateBox('instance').option('value') == null) {
                var alertResult = DevExpress.ui.dialog.alert('Please enter valid Bid Launch Date.', 'Message');
            }
            else if (selectedData.length == 0) {
                DevExpress.ui.dialog.alert('Atleaset one CM is required to assign.', 'Message');
            }
            else{
                bidLaunchDate = bidLaunchDate.toLocaleDateString();

                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("SendEmailToCM", "Inventory")",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ dataToPost: selectedData, bidName: bidName, bidId: bidId, bidLaunchDate: bidLaunchDate }),
                    success: function (result) {
                        $("#spinner").hide();
                        if (result) {
                            DevExpress.ui.notify("Bid submitted for Inventory Review. CM\'s will be notified once the Inventory Review Report is ready for them.", "success", 2000);
                            $("#btnAssignToCM").hide();
                            $("#btnPT").show();
                            $('#sendEmailPopup').modal('hide');
                            var alertResult = DevExpress.ui.dialog.alert('Bid submitted for Inventory Review.<br/> CM\'s will be notified once the Inventory Review Report is ready for them. <br/> You will be redirected to the home page now.', 'Success');
                            alertResult.done(function (dialogResult) {
                                window.location = '@Url.Action("Index", "Home")';
                            });
                        }
                        else {
                            DevExpress.ui.notify("Error Occured, Please try again.", "error", 2000);
                        }
                    }
                });
            }
        });

        $('#btnDelete').click(function () {
            var selectedRows = $('#gridContainer').dxDataGrid('instance').getSelectedRowsData();
            if (selectedRows.length == 0) {
                DevExpress.ui.dialog.alert('Please select atleast one record to delete.', 'Message');
            }
            else {
                var dialogResult = DevExpress.ui.dialog.confirm("This will delete the selected records, Click Yes to Proceed.", "Confirm")
                dialogResult.done(function (result) {
                    if (result) {
                        $("#spinner").show();
                        var crossPartInventoryIds = [];
                        crossPartInventoryIds = $.map(selectedRows, function(item) {
                            return item.CrossPartInventoryId;
                        });
                        if (crossPartInventoryIds.length == 1 && crossPartInventoryIds[0] == 0) {
                            DevExpress.ui.notify("Location is not present for the selected record.", "error", 3000);
                            $("#spinner").hide();
                        }
                        else {
                            DeleteCrossPartsInventory(crossPartInventoryIds);
                            LoadCrossPartsInventory();
                        }
                    }
                });
            }
        });

    });

    // function to show all CMs related to parts to send email
    function LoadCMList() {
        $("#spinner").show();
        $('#sendEmailPopup').modal('show');
        $.ajax({
            url: "@Url.Action("GetCMList", "Inventory")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (tsmList) {
                setTimeout(function () {
                    $("#spinner").hide();
                    $("#gridContainer_SendEmail").dxDataGrid({
                        dataSource: tsmList,
                        paging: { pageSize: 10 },
                        height: function () { return dynamicheight = $(document).height() - 270; },
                        pager: { showPageSizeSelector: true, allowedPageSizes: [10, 50, 100, 200, 500], showInfo: true },
                        editing: {
                            mode: "row", allowUpdating: false, allowDeleting: false, allowAdding: false,
                            texts: { addRow: 'Add new record' }
                        },
                        filterRow: { visible: true, applyFilter: "auto" },
                        headerFilter: { visible: false },
                        rowAlternationEnabled: true,
                        hoverStateEnabled: true,
                        allowColumnResizing: true,
                        columnAutoWidth: true,
                        showBorders: true,
                        showColumnLines: true,
                        showRowLines: true,
                        columns: [
                            { dataField: "CMName", caption: "CM Name", visible: true, dataType: "string", allowEditing: false },
                            { dataField: "CMUserId", caption: "CM User Id", visible: true, dataType: "string", allowEditing: false },
                            { dataField: "CMEmail", caption: "CM Email Id", visible: true, dataType: "string", allowEditing: false },
                        ],
                    }).dxDataGrid("instance");
                    $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
                }, 1000);
            }
        });
    }

    //function to load cross won parts Inventory
    function LoadCrossPartsInventory() {
        $("#box").show();
        $("#btnSubmitUpdateInv").hide();

        console.log(bidStatus);

        if(bidStatus == '@Constants.InventoryUpdate'){
            $("#btnLocations").show();
            $("#btnReview").hide();

            $("#fileUploader").show();
            uploadURL = '@Url.Action("UploadCrossPartsInventoryFile", "Inventory")?bidId='+ bidId;
            $("#fileUploader").dxFileUploader('instance').option('uploadUrl', uploadURL);

            $("#btnDelete").show();
            $("#btnPullback").hide();
            $("#btnUpdateInv").hide();
            $("#btnAssignToCM").show();
            $('#btnAssignToCM').attr('disabled',false);
            $('#btnAssignToCM').prop('title', '');
            showCheckBoxes = 'always';
            isInventoryUpdateAllowed = true;
            isInventoryDeleteAllowed = true;
        }
        else if(bidStatus == '@Constants.InventoryReUpdate'){
            $("#btnLocations").show();
            $("#btnReview").show();

            $("#fileUploader").show();
            uploadURL = '@Url.Action("UploadCrossPartsInventoryFile", "Inventory")?bidId='+ bidId;
            $("#fileUploader").dxFileUploader('instance').option('uploadUrl', uploadURL);

            $("#btnDelete").hide();
            $("#btnPullback").hide();
            $("#btnUpdateInv").hide();
            $("#btnAssignToCM").hide();
            $("#btnSubmitUpdateInv").show();
            showCheckBoxes = 'none';
            isInventoryUpdateAllowed = true;
            isInventoryDeleteAllowed = false;
        }
        else if(bidStatus == '@Constants.LineReview_CM' || bidStatus == '@Constants.LineReview_Dir' || bidStatus == '@Constants.LineReview_VP')
        {
            $("#btnReview").show();
            $("#btnLocations").hide();
            $("#fileUploader").hide();
            $("#btnDelete").hide();
            $("#btnPullback").show();
            $("#btnUpdateInv").hide();
            $("#btnAssignToCM").show();
            $('#btnAssignToCM').attr('disabled',true);
            $('#btnAssignToCM').prop('title', 'Bid is assigned for Inventory Review.');
            showCheckBoxes = 'none';
            isInventoryUpdateAllowed = false;
            isInventoryDeleteAllowed = false;
        }
        else if (bidStatus == '@Constants.LoadingInventoryReview')
        {
            $("#btnReview").hide();
            $("#btnLocations").hide();
            $("#fileUploader").hide();
            $("#btnDelete").hide();
            $("#btnPullback").hide();
            $("#btnUpdateInv").hide();
            $("#btnAssignToCM").hide();
            $('#btnAssignToCM').attr('disabled',true);
            $('#btnAssignToCM').prop('title', 'Inventory Review Report is being generated.');
            showCheckBoxes = 'none';
            isInventoryUpdateAllowed = false;
            isInventoryDeleteAllowed = false;
        }
        else
        {
            $("#btnReview").show();
            $("#btnLocations").hide();
            $("#fileUploader").hide();
            $("#btnDelete").hide();
            $("#btnPullback").hide();
            $("#btnUpdateInv").show();
            $("#btnAssignToCM").show();
            $('#btnAssignToCM').attr('disabled',true);
            $('#btnAssignToCM').prop('title', '');
            showCheckBoxes = 'none';
            isInventoryUpdateAllowed = false;
            isInventoryDeleteAllowed = false;
        }

        $("#spinner").show();
        // load cross won parts Inventory
        $.ajax({
            url: "@Url.Action("GetCrossPartsInventoryList", "Inventory")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (CrossPartsInventory) {
                $("#spinner").hide();
                crossPartsInventoryData = CrossPartsInventory;

                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: CrossPartsInventory,
                    paging: {
                        pageSize: 50
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 190;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    editing: {
                        mode: "row",
                        allowUpdating: isInventoryUpdateAllowed,
                        allowDeleting: isInventoryDeleteAllowed,
                    },
                    "export": {
                        enabled: true,
                        fileName: "InventoryUpdate_PartsWon_List" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    columnChooser: {
                        enabled: true,
                        height: 360,
                        width: 250,
                        mode: "select",
                        emptyPanelText: 'Place to hide the columns.'
                    },
                    selection: {
                        mode: "multiple", showCheckBoxesMode: showCheckBoxes, allowSelectAll: true, selectAllMode: "allPages"
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnReordering: true,
                    columns: [
                        { dataField: "BidPartId", caption: "BidPartId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "CrossPartId", caption: "CrossPartId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "CrossPartInventoryId", caption: "CrosssPartInventoryId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "CustomerPartNumber", caption: "Customer Part Number", allowEditing: false, visible: true, dataType: 'number', fixed: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Customer<br> Part Number</center>").appendTo(header);
                            },
                        },
                        { dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Manufacturer<br> Part Number</center>").appendTo(header);
                            },
                        },
                        { dataField: 'PartDescription', caption: "Part Description", wordWrapEnabled: true, allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Part<br> Description</center>").appendTo(header);
                            },
                        },

                        { dataField: "CrossPoolNumber", caption: "FP Pool", allowEditing: false, visible: true, dataType: 'number',},
                        { dataField: "CrossPartNumber", caption: "FP Part No", allowEditing: false, visible: true, },
                        { dataField: 'CrossPartDescription', caption: "FP Part Description", wordWrapEnabled: true, allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>FP Part<br> Description</center>").appendTo(header);
                            },
                        },
                        { dataField: "CrossPrice", caption: "Price", allowEditing: false, visible: true, dataType: 'number',},
                        { dataField: "CrossICOST", caption: "ICOST", allowEditing: false, visible: false, showInColumnChooser: true, dataType: 'number',},

                        { dataField: "StockingType", caption: "Stocking Type", allowEditing: false, visible: true},

                        { dataField: "Location", caption: "Location", allowEditing: true, visible: true, dataType: "string", validationRules: [{ type: 'required', trim: true },]},
                        { dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", allowEditing: true, visible: true, dataType: 'number',
                            validationRules: [{ type: 'required', trim: true },
                             {type: "pattern", message: 'Only positive integer values are allowed.', pattern: /\d+/},
                             {type: "range", message: 'Value should be between 1-99999999', min:"1", max:"99999999"} ],
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Estimated<br> Annual Usage</center>").appendTo(header);
                            },
                        },
                        { dataField: "CustPartUOM", caption: "Cust Part UOM", allowEditing: true, visible: true, dataType: 'number',
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Cust Part<br> UOM</center>").appendTo(header);
                            },
                        },

                        { dataField: "NewPool", caption: "New Pool", allowEditing: true, visible: true, dataType: 'number', },
                        { dataField: "NewPartNo", caption: "New Part No", allowEditing: true, visible: true, },
                        { dataField: "NewPrice", caption: "New Price", allowEditing: true, visible: true, dataType: 'number',},
                        { dataField: "NewStockingType", caption: "New Stocking Type", allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>New Stocking<br> Type</center>").appendTo(header);
                            },
                        },
                        { dataField: "IsActive", caption: "IsActive(Yes/No)", allowEditing: true, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>IsActive<br> (Yes/No)</center>").appendTo(header);
                            },
                        },
                    ],
                    onInitialized: function (e) {
                        e.component.columnOption("command:edit", "width", 55);
                    },
                    onInitNewRow: function (options) {

                    },
                    onContentReady: function (e) {
                        e.component.columnOption("command:edit", "visibleIndex", -1);
                        e.element.find("a").filter(function () {
                            return $(this).text() == "Save";
                        }).html('<span title="Save" class="fa fa-save"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Cancel";
                        }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Edit";
                        }).html('<span title="Edit" class="fa fa-edit"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Delete";
                        }).html('<span title="Delete" class="fa fa-trash-o" style="margin-left:5px;"></span>');
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                    onEditorPreparing: function (options) {
                    },
                    onEditorPrepared: function (options) {
                        if (options.parentType == 'dataRow') {
                            if (options.dataField == 'EstimatedAnnualUsage') {
                                options.editorElement.dxNumberBox('instance').option('onFocusOut', function (e) {
                                    //if (e.component._options.value < 0) {
                                    //    DevExpress.ui.notify("Estimated Annual Usage can't be negative.", 'Error', 3000);
                                    //    $('#gridContainer').dxDataGrid('instance').cellValue(options.row.rowIndex, options.visibleIndex, 0);
                                    //}
                                    //else
                                    if (e.component._options.value % 1 != 0) {
                                        DevExpress.ui.notify("Estimated Annual Usage can't be a decimal number. Rounded upt to the nearest integer.", 'Warning', 3000);
                                        $('#gridContainer').dxDataGrid('instance').cellValue(options.row.rowIndex, options.visibleIndex, Math.round(e.component._options.value));
                                    }
                                    else if (e.component._options.value > 99999999)  {
                                        DevExpress.ui.notify("Estimated annual usage can't be larger than 99999999.", 'Warning', 3000);
                                        $('#gridContainer').dxDataGrid('instance').cellValue(options.row.rowIndex, options.visibleIndex, 99999999);
                                    }

                                });
                            }
                        }
                    },
                    onRowInserting: function (e) {

                    },
                    onRowInserted: function (e) {
                    },

                    onRowUpdating: function (e) {
                        console.log(e);
                        $("#spinner").show();
                        var crossPartInventoryId;
                        var customerPartNumber;
                        var manufacturerPartNumber;
                        var location;
                        var custPartUOM;
                        var estimatedAnnualUsage;
                        var newPool;
                        var newPartNo;
                        var newPrice;
                        var isActive;

                        if (e.newData.Location) {
                            location = e.newData.Location;
                        }
                        else {
                            location = e.oldData.Location;
                        }
                        if (e.newData.CustPartUOM) {
                            custPartUOM = e.newData.CustPartUOM;
                        }
                        else {
                            custPartUOM = e.oldData.CustPartUOM;
                        }
                        if (e.newData.EstimatedAnnualUsage) {
                            estimatedAnnualUsage = e.newData.EstimatedAnnualUsage;
                        }
                        else {
                            estimatedAnnualUsage = e.oldData.EstimatedAnnualUsage;
                        }
                        if (e.newData.NewPool) {
                            newPool = e.newData.NewPool;
                        }
                        else {
                            newPool = e.oldData.NewPool;
                        }
                        if (e.newData.NewPartNo) {
                            newPartNo = e.newData.NewPartNo;
                        }
                        else {
                            newPartNo = e.oldData.NewPartNo;
                        }
                        if (e.newData.NewPrice) {
                            newPrice = e.newData.NewPrice;
                        }
                        else {
                            newPrice = e.oldData.NewPrice;
                        }
                        if (e.newData.IsActive) {
                            isActive = e.newData.IsActive;
                        }
                        else {
                            isActive = e.oldData.IsActive;
                        }

                        var dataToPost = {
                            crossPartId: e.oldData.CrossPartId,
                            crossPartInventoryId: e.oldData.CrossPartInventoryId,
                            customerPartNumber: e.oldData.CustomerPartNumber,
                            manufacturerPartNumber: e.oldData.ManufacturerPartNumber,
                            crossPoolNumber: e.oldData.CrossPoolNumber,
                            crossPartNumber: e.oldData.CrossPartNumber,
                            crossPrice: e.oldData.CrossPrice,
                            location: location,
                            custPartUOM: custPartUOM,
                            estimatedAnnualUsage: estimatedAnnualUsage,
                            newPool: newPool,
                            newPartNo: newPartNo,
                            newPrice: newPrice,
                            isActive: isActive,
                            bidId: bidId
                        };

                        $.ajax({
                            url: "@Url.Action("UpdateCrossPartInventory", "Inventory")",
                            type: 'POST',
                            data: JSON.stringify(dataToPost, bidId),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                $("#spinner").hide();
                                if (result.IsLocationInValid) {
                                    DevExpress.ui.notify("Location is not valid.", "error", 3000);
                                    LoadCrossPartsInventory();
                                    return true;
                                }
                                if (result.IsLocationDuplicate) {
                                    DevExpress.ui.notify("Location already added with the part.", "error", 3000);
                                    LoadCrossPartsInventory();
                                    return true;
                                }
                                else if (result.CrossPartInventoryId > 0) {
                                    DevExpress.ui.notify("Location inventory record created/updated successfully.", "success", 2000);
                                    ReloadCrossPartsInventory();
                                    LoadCrossPartsInventory();
                                    return true;
                                }
                                else {
                                    DevExpress.ui.notify("Error occured.", "error", 3000);
                                    return false;

                                }
                            }
                        });
                    },
                    onRowUpdated: function (e) {
                    },

                    onRowRemoving: function (e) {
                        var crossPartInventoryIds = [];
                        $("#spinner").show();
                        if(e.data.CrossPartInventoryId == 0)
                        {
                            DevExpress.ui.notify("Location is not present for the selected record.", "error", 3000);
                            //ReloadCrossPartsInventory();
                            LoadCrossPartsInventory();
                        }
                        else
                        {
                            crossPartInventoryIds.push(e.data.CrossPartInventoryId);
                            DeleteCrossPartsInventory(crossPartInventoryIds);
                            //ReloadCrossPartsInventory();
                            LoadCrossPartsInventory();
                        }
                    },
                    onRowRemoved: function (e) {
                    }
                });

                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
            }
        });

        function ReloadCrossPartsInventory()
        {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("GetCrossPartsInventoryList", "Inventory")",
                type: 'POST',
                data: JSON.stringify({ bidId: bidId }),
                contentType: 'application/json; charset=utf-8',
                success: function (CrossPartsInventory) {
                    $("#gridContainer").dxDataGrid("instance").option('dataSource',CrossPartsInventory);
                    $("#gridContainer").dxDataGrid("instance").refresh();
                    $("#spinner").hide();
                }
            });
        }
    }

</script>