﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Inventory Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="approvalRemark" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-weight:600;">Please Enter Comments</h4>
            </div>
            <div class="modal-body">
                Are you sure you wish to reject these records?
                @*<p>
                    <textarea id="txtComments" placeholder="Comments" name="required" rows="4" cols="50" maxlength="1000" style="width: 510px; border-radius:4px;"></textarea>
                </p>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnAction">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">Inventory Verification</h1>

            <div style="float: right;margin-top: 6px !important; font-weight:bold">
                <div id="dropDownBids" style="width:200px;display:inline-block;"></div>
            </div>
            <div id="buttonsright" style="height: 35px;float: right;margin-top: 0px; margin-bottom: 10px !important;">
                <i class="fa fa-info-circle fa-2x" id="btnOpenHelpPopUp" aria-hidden="true" style="margin-right:15px; border-radius: 4px;margin-top:9px; cursor:pointer; display:block; float:left;"></i>
                <button type="button" class="btn btn-success" id="btnSubmit" style="margin-right:10px; float:right; border-radius: 4px;margin-top:6px;">Submit</button>
                <button type="button" class="btn btn-success" id="btnApprove" style="margin-right:10px; float:right; border-radius: 4px;margin-top:6px;">Approve</button>
                <button type="button" class="btn btn-primary" id="btnNotifySupplyChain" style="border-radius: 4px; margin-top:6px !important;margin-right:10px;float:right;">Notify Supply Chain</button>
                <button type="button" class="btn btn-danger" id="btnReject" style="margin-right:10px; float:right; border-radius: 4px;margin-top:6px;">Revise</button>
                <button type="button" class="btn btn-info" id="btnDetails" style="margin-right:10px; float:right; border-radius: 4px;margin-top:6px;">Details</button>
                <button type="button" class="btn btn-info" id="btnCrossReport" style="margin-right:10px; float:right; border-radius: 4px;margin-top:6px;">Cross Report</button>
            </div>
            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-header">
                    <div id="divSummary" style="border: 1px solid lightgrey; padding: 10px; font-size:12pt;">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <b>Projected Revenue (Incremental):&nbsp;</b><span id="ProjectedL12Revenue"></span>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <b>Projected GP (Incremental):&nbsp;</b><span id="ProjectedL12GP"></span>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <b>Projected GP%:&nbsp;</b><span id="ProjectedGPPercent"></span>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <b>Projected Investment 90 days (Incremental):&nbsp;</b><span id="ProjectedInvestment"></span>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
    <div class="modal fade" id="HelpPopup" role="dialog" tabindex='-1'>
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="border-radius:5px; border:2px;">
                <div class="modal-header">
                    <h3>Steps to Submit Inventory Review</h3>
                </div>
                <div class="modal-body" style="padding:0px !important;">
                    <ul style="list-style-type:decimal">
                        <li>All records are marked as 'Approved' for your ease.</li>
                        <li>You can select some or all records to approve/reject</li>
                        <li>Clicking on the Approve/Reject button will save the selection but the bid will remain with you to make further decisions.</li>
                        <li>Click on the Details button to view the location level details of the parts.</li>
                        <li>Click Submit to submit your decision.</li>
                        <li>No changes allowed once you submit your decision.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnCloseHelpPopUp" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelNotifySupplyChain" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <h4 class="modal-title"><b>Notify Supply Chain</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="saveAllResultPopup_body">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        Add comment for supply chain team
                        <br />
                        <div class="form-group">
                            <textarea style="width: 550px; height: 150px;" id="txtSupplyChainMessage"></textarea>
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnNotify" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Notify</button>
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnCancelNotify" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Cancel</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var selectedBidId;
    var showCheckBoxes = 'none';
    var currencyFormatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0});
    var percentFormatter = new Intl.NumberFormat('en-US', {style: 'percent', maximumFractionDigits: 2});

    $(document).ready(function () {
        AllowOperations(false);
        $("#nav_menu li").removeClass("active");
        $('#inventory').addClass('active');
        $('#InventoryVerification').addClass('active');
        $("#box").hide();
        $("#fileUploader").hide();
        $("#buttonsright").hide();
        @if(ViewBag.bidId != null)
        {
            <text>selectedBidId=</text>@ViewBag.BidId<text>;</text>
        }

        LoadBidsDDl();

        $('#btnApprove').click( function(){
            var dataGrid = $("#gridContainer").dxDataGrid('instance');
            var selectedData = dataGrid.getSelectedRowKeys();
            if(selectedData.length > 0)
            {
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("SaveInventoryApproval", "Inventory")",
                    type: 'POST',
                    data: JSON.stringify({ selectedIDs: selectedData }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function () {
                        $("#spinner").hide();
                        DevExpress.ui.notify("Selected record(s) saved.", "success", 3000);
                        LoadCrossPartsInventory();
                        dataGrid.deselectRows(selectedData);
                    }
                });
            }
            else
            {
                DevExpress.ui.notify("Please select at least one item to approve.", "error", 3000);
            }
        });

        $('#btnReject').click( function(){
            var dataGrid = $("#gridContainer").dxDataGrid('instance');
            var selectedData = dataGrid.getSelectedRowKeys();
            if(selectedData.length > 0)
            {
                $("#approvalRemark").modal();
            }
            else
            {
                DevExpress.ui.notify("Please select at least one item to reject.", "error", 3000);
            }
        });

        $("#btnAction").click(function () {
            //if ($('#txtComments').val().trim() == "") {
            //    DevExpress.ui.dialog.alert('Please enter comments.', 'Message');
            //    return false;
            //}

            var dataGrid = $("#gridContainer").dxDataGrid('instance');
            var selectedData = dataGrid.getSelectedRowKeys();

            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("SaveInventoryRejection", "Inventory")",
                type: 'POST',
                data: JSON.stringify({ selectedIDs: selectedData}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function () {
                    $("#spinner").hide();
                    $("#approvalRemark").modal("hide");
                    //$('#txtComments').val('');
                    DevExpress.ui.notify("Selected record(s) saved.", "success", 3000);
                    LoadCrossPartsInventory();
                    dataGrid.deselectRows(selectedData);
                }
            });
        });

        $('#btnSubmit').click( function(){
            AllowOperations(false);
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("SubmitInventoryReview", "Inventory")",
                type: 'POST',
                data: JSON.stringify({ bidId: selectedBidId, bidName: selectedBidName }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (msg) {
                    $("#spinner").hide();
                    DevExpress.ui.notify(msg, "success", 2000);
                }
            });
        });

        $('#btnDetails').click( function(){
            var win = window.open('@Url.Action("Index", "Inventory")?bidId=' + selectedBidId + '&bidName=' + selectedBidName, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website.');
            }
        });

        $('#btnCrossReport').click( function(){
            var win = window.open('@Url.Action("Index", "CrossReport")?bidId=' + selectedBidId + '&bidName=' + selectedBidName, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website.');
            }
        });

        $("#btnCancelNotify").click(function () {
            $("#txtSupplyChainMessage").val('');
            $('#modelNotifySupplyChain').modal('hide');
        });

        $("#btnNotifySupplyChain").click(function () {
            $('#modelNotifySupplyChain').modal('show');
        });

        $('#btnNotify').click(function () {
            let msg = $("#txtSupplyChainMessage").val();
            if ($.trim(msg) === null || $.trim(msg) === '') {
                DevExpress.ui.notify("Please enter comments.", "error", 3000);
                return false;
            }
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("NotifySupplyChain", "CompletedBids")",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ bidId: selectedBidId, bidName: selectedBidName, comment: msg }),
                success: function (result) {
                    $("#spinner").hide();
                    //if (result == 1) {
                    DevExpress.ui.notify('Notification sent to supply chain team', "success", 3000);
                    //}
                    //else {
                    //    DevExpress.ui.notify("Error Occured.", "error", 3000);
                    //}
                }
            });
        });
    });

    function  LoadSummary(CrossPartsInventory){
        var ProjectedL12Revenue = 0;
        var ProjectedL12GP = 0;
        var ProjectedInvestment = 0;

        $(CrossPartsInventory).each(function(i, val){
            if(val.IsApproved){
                ProjectedL12Revenue += val.ProjectedL12Revenue;
                ProjectedL12GP += val.ProjectedL12GP;
                ProjectedInvestment += val.ProjectedInvestment;
                //ICost += val.ICost;
            }
        });

        $("#ProjectedL12Revenue").text(currencyFormatter.format(Math.floor(ProjectedL12Revenue)));
        $("#ProjectedL12GP").text(currencyFormatter.format(Math.floor(ProjectedL12GP)));
        $("#ProjectedInvestment").text(currencyFormatter.format(Math.floor(ProjectedInvestment)));
        $("#ProjectedGPPercent").text(percentFormatter.format(Math.floor(ProjectedL12GP) / Math.floor(ProjectedL12Revenue)));


    }

    function LoadBidsDDl(){
        var dataGrid;
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("GetVerificationBids", "Inventory")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (bidList) {
                $("#spinner").hide();
                $("#dropDownBids").dxDropDownBox({
                    value: selectedBidId,
                    width: 350,
                    valueExpr: "BidId",
                    placeholder: "Select Bid",
                    displayExpr: "BidName",
                    showClearButton: false,
                    dataSource: bidList,
                    contentTemplate: function (e) {
                        var value = e.component.option("value"),
                           $dataGrid = $("<div style='padding:0px' >").dxDataGrid({
                               dataSource: {
                                   store: {
                                       type: 'array',
                                       key: 'BidId',
                                       data: e.component.option("dataSource")
                                   }
                               },
                               columns: ["BidName"],
                               hoverStateEnabled: true,
                               filterRow: { visible: true },
                               scrolling: {
                                   mode: "virtual",
                                   showScrollbar: 'always'
                               },
                               height: 350,
                               selection: { mode: "single" },
                               selectedRowKeys: value,
                               showColumnHeaders: false,
                               onSelectionChanged: function (selectedItems) {
                                   var keys = selectedItems.selectedRowKeys;
                                   e.component.option("value", keys);
                                   e.component.close();
                                   selectedBidId = keys[0];
                                   selectedBidName = selectedItems.selectedRowsData[0].BidName;
                                   LoadCrossPartsInventory();
                                   CheckOperationsAllowed();
                               }
                           });
                        dataGrid = $dataGrid.dxDataGrid("instance");
                        e.component.on("valueChanged", function (args) {
                            var value = args.value;
                            dataGrid.selectRows(value, false);
                        });
                        return $dataGrid;
                    }
                });
                var data = $("#dropDownBids").dxDropDownBox('instance').option('dataSource');

                @if(ViewBag.bidId != null)
                {
                    <text>
                selectedBidId=</text>@ViewBag.bidId<text>;
                $.each(data, function( i ) {
                    if(data[i].BidId == selectedBidId){
                        selectedBidName = data[i].BidName;
                    }
                });
                LoadCrossPartsInventory();
                CheckOperationsAllowed();
                </text>
                }
            }
        });
    }

    function CheckOperationsAllowed(){
        AllowOperations(false);
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("GetLineReviewAction", "Inventory")",
            type: 'POST',
            data: JSON.stringify({bidId: selectedBidId}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                //console.log(result)
                $("#spinner").hide();
                AllowOperations(!result);
            }
        });
    }

    function AllowOperations(flag){
        $("#btnSubmit").attr('disabled', !flag);
        $("#btnApprove").attr('disabled', !flag);
        $("#btnReject").attr('disabled', !flag);
    }

    //function to load cross won parts Inventory
    function LoadCrossPartsInventory() {
        var userName = '@HttpContext.Current.User.Identity.Name';

        $("#box").show();
        $("#btnDownloadTemplate").show();
        $("#fileUploader").show();
        $("#buttonsright").show();

        $("#spinner").show();
        // load cross won parts Inventory
        $.ajax({
            url: "@Url.Action("GetCrossPartLineReview", "Inventory")",
            type: 'POST',
            data: JSON.stringify({ bidId: selectedBidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (CrossPartsInventory) {
                //$("#spinner").hide();
                console.log(CrossPartsInventory);

                LoadSummary(CrossPartsInventory);

                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: CrossPartsInventory,
                    keyExpr: 'ID',
                    paging: {
                        pageSize: 50
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 250;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    "export": {
                        enabled: true,
                        fileName: "BidInventoryReview_List" + "_" + '@DateTime.Now.ToString("MM_dd_yyyy_HHmmss")',
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    columnChooser: {
                        enabled: true,
                        height: 360,
                        width: 250,
                        mode: "select",
                        emptyPanelText: 'Place to hide the columns.'
                    },
                    selection: {
                        mode: "multiple",
                        selectAllMode: "allPages",
                        showCheckBoxesMode: "always"
                    },
                    editing: {
                        mode: "row",
                        allowUpdating: true,
                        allowDeleting: false,
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnReordering: true,
                    columns: [
                        { dataField: "ID", caption: "ID", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "CrossPartId", caption: "CrossPartId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "BidPartId", caption: "BidPartId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "IsApproved", caption: "Approved", dataType: 'boolean', visible: true, allowEditing: false, falseText: "No", trueText:"Yes", width: 132,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center><br>Approved</center>").appendTo(header);
                            }
                        },
                         { dataField: "CrossPoolNumber", caption: "FP Pool", dataType: 'number', visible: true, allowEditing: false,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>FP<br/>Pool</center>").appendTo(header);
                             }
                         },
                        { dataField: "CrossPartNumber", caption: "FP Part Number", visible: true, allowEditing: false,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>FP Part<br/>Number</center>").appendTo(header);
                            }
                        },
                        { dataField: "DCStockCount", caption: "Current DC Stock Count", dataType: 'number', allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Current DC<br />Stock<br />Count</center>").appendTo(header);
                            }
                        },
                         { dataField: "ExistingStockingLocations", caption: "Current Stocking Locations", dataType: 'number', visible: true, allowEditing: false,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Current<br/>Stocking<br/>Locations</center>").appendTo(header);
                             }
                         },
                         { dataField: "NewStockingLocations", caption: "Bid Stocking Locations", dataType: 'number', allowEditing: false, visible: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Bid<br/>Stocking<br/>Locations</center>").appendTo(header);
                             }
                         },
                         { dataField: "NetNewStockingLocations", caption: "Net New Stocking Locations", dataType: 'number', allowEditing: false, visible: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Net New<br/>Stocking<br/>Locations</center>").appendTo(header);
                             }
                         },
                         { dataField: "CurrentL12Revenue", caption: "Current L12 Revenue", format: function(val){return currencyFormatter.format(val); }
                            ,allowEditing: false, visible: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Current<br/>L12 Revenue</center>").appendTo(header);
                             }
                         },
                         { dataField: "ProjectedL12Revenue", caption: "Projected L12 Revenue (Incremental)", format: function(val){return currencyFormatter.format(val); }
                            ,allowEditing: false, visible: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Projected<br/>L12 Revenue<br/>(Incremental)</center>").appendTo(header);
                             }
                         },
                          { dataField: "ProjectedL12GP", caption: "Projected L12 GP", dataType: 'number', format: function(val){return currencyFormatter.format(val); }
                            ,allowEditing: false, visible: true,
                              headerCellTemplate: function (header, info) {
                                  $("<div>").html("<center>Projected<br/>L12 GP<br/>(Incremental)</center>").appendTo(header);
                              }
                          },
                            { dataField: "L12Units", caption: "CurrentL12 Units", dataType: 'number', allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Current L12<br/> Units </center>").appendTo(header);
                                }
                            },
                            { dataField: "ProjectedL12Units", caption: "Projected L12 Units (Incremental)", dataType: 'number', allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>L12 Units<br/>(Incremental)</center>").appendTo(header);
                                }
                            },
                            { dataField: "ProjectedInvestment", caption: "Projected Initial investment (90 days)", dataType: 'number', format: function(val){return currencyFormatter.format(val); }
                                ,allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>Initial<br/>investment<br/>(90 days)</center>").appendTo(header);
                                }
                            },
                            { dataField: "ProjectedMonthlyUnits", caption: "Projected Monthly Investment (Incremental) Units", dataType: 'number', allowEditing: false, visible: false,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>Monthly<br/>Investment<br/>(Incremental)<br/>Units</center>").appendTo(header);
                                }
                            },
                            { dataField: "Estimated3MonthUsageWithoutSalesPack", caption: "Estimated3MonthUsageWithoutSalesPack", dataType: 'number', allowEditing: false, visible: false,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>3 Months<br/>Usage<br/>(Incremental)<br/>Without SalesPack</center>").appendTo(header);
                                }
                            },
                            { dataField: "Estimated3MonthUsageWithSalesPack", caption: "Estimated3MonthUsage", dataType: 'number', allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>3 Months<br/>Usage<br/>(Incremental)<br/></center>").appendTo(header);
                                }
                            },
                             { dataField: "ICost", caption: "ICost", dataType: 'number', format: function(val){return currencyFormatter.format(val); }, visible: false, showInColumnChooser: true
                            , allowEditing: false,
                                 headerCellTemplate: function (header, info) {
                                     $("<div>").html("<center>ICost</center>").appendTo(header);
                                 }
                             },
                            { dataField: "MedianCost", caption: "Median Cost", dataType: 'number', format: function(val){return currencyFormatter.format(val); }, visible: true, showInColumnChooser: true
                                            , allowEditing: false,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Median <br/>Cost</center>").appendTo(header);
                                }
                            },
                            { dataField: "PriceToQuote", caption: "Winning Bid Retail", dataType: 'number', format: function(val){return currencyFormatter.format(val); }
                                ,allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Winning<br/>Bid<br/>Retail</center>").appendTo(header);
                                }
                            },

                        { dataField: "RevisedPool", caption: "Revised Pool", dataType: 'number', visible: true, allowEditing: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Revised<br/>Pool</center>").appendTo(header);
                            }
                        },
                        { dataField: "RevisedPartNumber", caption: "Revised Part Number", visible: true, allowEditing: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Revised<br/>Part<br/>Number</center>").appendTo(header);
                            }
                        },
                        { dataField: "Comments", caption: "Comments", visible: true, allowEditing: true, width : 100,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Comments</center>").appendTo(header);
                            }
                        },
                         { dataField: "CrossPartVendor", caption: "Vendor", dataType: 'number', visible: true, allowEditing: false, width: 100, visible: true, showInColumnChooser: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Vendor</center>").appendTo(header);
                             }
                         },
                        //hidden fields
                         { dataField: "SalesPack", caption: "Sales Pack", dataType: 'number', visible: false, allowEditing: false,showInColumnChooser: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Sales<br/>Pack</center>").appendTo(header);
                             }
                         },

                         { dataField: "CrossPartDescription", caption: "FP Part Description", wordWrapEnabled:true, dataType: 'number', visible: false,showInColumnChooser: true,
                             allowEditing: false, width: 100, showInColumnChooser: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>FP<br/>Part<br/>Description</center>").appendTo(header);
                             }
                         },
                         { dataField: "CrossPartCategory", caption: "FP Part Category", dataType: 'number', visible: true, allowEditing: false, visible: false, showInColumnChooser: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>FP<br/>Part<br/>Category</center>").appendTo(header);
                             }
                         },
                        { dataField: "AlreadyStockingLocations", caption: "Bid Locations Already Stocking", dataType: 'number', allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Bid Locations<br/>Already<br/>Stocking<br/></center>").appendTo(header);
                            }
                        },

                        { dataField: "StockingType", caption: "Stocking Status", allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Stocking<br/>Status</center>").appendTo(header);
                            }
                        },
                        { dataField: "CategoryManagerID", caption: "Category Manager ID", allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Category<br/>Manager<br/>ID</center>").appendTo(header);
                            }
                        },
                        //{ dataField: "CategoryDirectorID", caption: "Category Director ID", allowEditing: false, visible: true, showInColumnChooser: true,
                        //    headerCellTemplate: function (header, info) {
                        //        $("<div>").html("<center>Category<br/>Director<br/>ID</center>").appendTo(header);
                        //    }
                        //},
                        { dataField: "CategoryCmoID", caption: "Category CMO ID", allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Category<br/>CMO<br/>ID</center>").appendTo(header);
                            }
                        },
                        { dataField: "CreatedOn", caption: "Created On", dataType: 'date', allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Created<br/>On</center>").appendTo(header);
                            }
                        },
                    ],
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                        //if (e.rowType == 'data' && e.column.dataField == 'price' && !e.cellElement.hasClass('dx-editor-cell')) {
                        //    e.cellElement.text('$'+e.text);
                        //}
                    },
                    onInitialized: function (e) {
                        e.component.columnOption("command:edit", "width", 55);
                    },
                    onContentReady: function (e) {
                        e.component.columnOption("command:edit", "visibleIndex", -1);
                        e.element.find("a").filter(function () {
                            return $(this).text() == "Save";
                        }).html('<span title="Save" class="fa fa-save"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Cancel";
                        }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Edit";
                        }).html('<span title="Edit" class="fa fa-edit"></span>');
                    },
                    onRowUpdating: function (e) {
                        $("#spinner").show();
                        var ID;
                        var RevisedPool;
                        var RevisedPartNumber;
                        var Comments;

                        ID = e.oldData.ID;

                        if (e.newData.RevisedPool) {
                            RevisedPool = e.newData.RevisedPool;
                        }
                        else {
                            RevisedPool = e.oldData.RevisedPool;
                        }

                        if (e.newData.RevisedPartNumber) {
                            RevisedPartNumber = e.newData.RevisedPartNumber;
                        }
                        else {
                            RevisedPartNumber = e.oldData.RevisedPartNumber;
                        }

                        if (e.newData.Comments) {
                            Comments = e.newData.Comments;
                        }
                        else {
                            Comments = e.oldData.Comments;
                        }

                        $.ajax({
                            url: "@Url.Action("UpdateCrossPartInventoryReview", "Inventory")",
                            type: 'POST',
                            data: JSON.stringify({id:ID, RevisedPool:RevisedPool, RevisedPartNumber:RevisedPartNumber, comments: Comments}),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                $("#spinner").hide();
                                DevExpress.ui.notify("Inventory review items saved.", "success", 2000);
                                return true;
                            }
                        });
                    },
                });

                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
                $("#spinner").hide();
            }
        });
    }

    $('#btnOpenHelpPopUp').click(function () {
        $('#HelpPopup').modal('show');
    });

    $('#btnCloseHelpPopUp').click(function () {
        $('#HelpPopup').modal('hide');
    });

</script>