﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Bid Change Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Bid Change Report
            </h1>
            <div style="float:right;margin-top: 6px !important; font-weight:bold">
                <div id="dropDownBids" style="width:200px;display:inline-block;"></div>
            </div>
            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>

<style>
    .currentRecord {
        background-color: #b5e7a0;
    }

    .updatedValue {
        background-color: #e3eaa7;
    }

    .originalRecord {
        background-color: #deeaee;
    }
</style>

<script type="text/javascript">
    var bidId;
    var bidName;
    var bidStatus;
    var bidType;
    var createdBy;

    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#reports').addClass('active');
        $('#BidChangeReport').addClass('active');
        $("#box").hide();
        var dataGrid;

        @if(ViewBag.bidId != null)
        {
            <text>bidId=</text>@ViewBag.BidId<text>;
        </text>
        }

        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("DemandTeamReportBids", "Reports")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (bidList) {
                console.log(bidList);
                $("#spinner").hide();
                $("#dropDownBids").dxDropDownBox({
                    value: bidId,
                    width: 350,
                    valueExpr: "BidId",
                    placeholder: "Select Bid",
                    displayExpr: "BidName",
                    showClearButton: false,
                    dataSource: bidList,
                    contentTemplate: function (e) {
                        var value = e.component.option("value"),
                            $dataGrid = $("<div style='padding:0px' id='gridContainer_Bids' >").dxDataGrid({
                                dataSource: {
                                    store: {
                                        type: 'array',
                                        key: 'BidId',
                                        data: e.component.option("dataSource")
                                    }
                                },
                                columns: ["BidName"],
                                hoverStateEnabled: true,
                                filterRow: { visible: true },
                                scrolling: {
                                    mode: "virtual",
                                    showScrollbar: 'always'
                                },
                                height: 350,
                                selection: { mode: "single" },
                                selectedRowKeys: value,
                                showColumnHeaders: false,
                                onSelectionChanged: function (selectedItems) {
                                    var keys = selectedItems.selectedRowKeys;
                                    e.component.option("value", keys);
                                    e.component.close();
                                    bidId = keys[0];
                                    bidType = selectedItems.selectedRowsData[0].BidType;
                                    bidName = selectedItems.selectedRowsData[0].BidName;
                                    bidStatus = selectedItems.selectedRowsData[0].BidStatus;
                                    createdBy = selectedItems.selectedRowsData[0].CreatedBy;
                                    LoadReport();
                                }
                            });
                        dataGrid = $dataGrid.dxDataGrid("instance");
                        e.component.on("valueChanged", function (args) {
                            var value = args.value;
                            dataGrid.selectRows(value, false);
                        });
                        return $dataGrid;
                    }
                });

                @if(ViewBag.bidId != null)
                {
                    <text>
                var data = $("#dropDownBids").dxDropDownBox('instance').option('dataSource');
                    bidId=</text>@ViewBag.bidId<text>;
                    $.each(data, function( i ) {
                        if(data[i].BidId == bidId){
                            bidName = data[i].BidName;
                            bidStatus = data[i].BidStatus;
                        }
                    });

                    LoadReport();
                    </text>
                }
            }
        });

        

    });


    //function to load demand team report Inventory
    function LoadReport() {
        $("#box").show();
        $("#spinner").show();
        // load approval parts Inventory
        $.ajax({
            url: "@Url.Action("GetBidChangeHistory", "Reports")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $("#spinner").hide();
                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: result,
                    paging: {
                        pageSize: 50
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 190;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    "export": {
                        enabled: true,
                        fileName: "Report_BidChangeReport" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    columnChooser: {
                        enabled: true,
                        height: 360,
                        width: 250,
                        mode: "select",
                        emptyPanelText: 'Place to hide the columns.'
                    },
                    grouping: {
                        autoExpandAll: true,
                    },
                    searchPanel: {
                        visible: true
                    },
                    groupPanel: {
                        visible: true
                    },
                    //hoverStateEnabled: true, //commenting this as its clearing the row color which shows the changes when hover
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnReordering: true,
                    sorting: {
                        mode: "none"
                    },
                    columns: [
                        { dataField: "ID", caption: "ID", dataType: 'number', visible: false, showInColumnChooser: true },
                        { dataField: "Rank", caption: "Rank", dataType: 'number', visible: false, showInColumnChooser: true },
                        { dataField: "BidPartId", caption: "BidPartId", dataType: 'number', visible: false, showInColumnChooser: false },
                        { dataField: "CrossPartId", caption: "CrossPartId", dataType: 'number', visible: false, showInColumnChooser: false },
                        { dataField: "CrossPartInventoryId", caption: "CrosssPartInventoryId", dataType: 'number', visible: false, showInColumnChooser: true, sortOrder: "asc", sortIndex: 0},
                        {
                            dataField: "CustomerPartNumber", caption: "Customer Part Number", visible: false,showInColumnChooser: true, sortOrder: "asc", sortIndex: 1,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Customer<br> Part Number</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", visible: false,showInColumnChooser: true, sortOrder: "asc", sortIndex: 2,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Manufacturer<br> Part Number</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: "CombinedCustManfPartNumber", caption: "Customer - Manufacturer Part Number", visible: false, showInColumnChooser: true, sortOrder: "asc",
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Customer - Manufacturer<br> Part Number</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: 'PartDescription', caption: "Customer Part Description", wordWrapEnabled: true, visible: false,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Customer<br>Part<br>Description</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: "CustPartUOM", caption: "Cust Part UOM", visible: false, dataType: 'number',
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Cust Part<br> UOM</center>").appendTo(header);
                            },
                        },
                        { dataField: "NewPool", caption: "FP Pool", visible: true, dataType: 'number', },
                        { dataField: "NewPartNo", caption: "FP Part No", visible: true, },
                        { dataField: "Location", caption: "Location", visible: true},
                        { dataField: "IsActive", caption: "Is Active", visible: true },
                        {
                            dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Estimated<br> Annual Usage</center>").appendTo(header);
                            },
                        },                      
                        { dataField: "NewPrice", caption: "Price", visible: true, dataType: 'number', format: 'currency', },
                       
                        {
                            dataField: "LastUpdatedBy", caption: "Last Updated By", visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Last <br> Updated By</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: "LastUpdatedOn", caption: "Last Updated On", visible: true, dataType: 'date', sortOrder: "desc", sortIndex: 2,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Last <br> Updated On</center>").appendTo(header);
                            },
                        },
                        { dataField: "EventType", caption: "Operation", visible: true },
                        { dataField: "ActionType", caption: "Process", visible: true },
                        { dataField: "ColumnsUpdated", caption: "Columns Updated", visible: true },
                    ],
                    onInitialized: function (e) {
                        e.component.columnOption("command:edit", "width", 55);
                        e.component.option('noDataText', 'No changes done to the bid.');
                    },
                    onInitNewRow: function (options) {

                    },
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data")
                            e.cellElement.addClass('moveToCenter');

                        if( e.rowType === "data" && e.data.ColumnsUpdated.indexOf( e.column.dataField ) > -1)
                            e.cellElement.addClass('updatedValue');
                    },
                    onRowPrepared: function (info) {
                        if (info.rowType == "data"){
                            if(info.data.Rank == 1)
                                info.rowElement.addClass('currentRecord');
                            if(info.data.EventType == 'ADDED')
                                info.rowElement.addClass('originalRecord');
                        }
                    },
                });

                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
            }
        });
    }

</script>
