﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "BidStatusReportForDataTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Bid Status Report - Data Team
            </h1>

            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#reports').addClass('active');
        $('#BidStatusReportForDataTeam').addClass('active');
        $("#box").hide();

        LoadBidStatusReport();

        function LoadBidStatusReport() {
            $("#box").show();
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("GetBidStatusReport", "Reports")",
                type: 'GET',
                //data: JSON.stringify({ bidId: bidId, approvalType: $("#ApprovalType").dxSelectBox('instance').option('value') }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $("#spinner").hide();
                    dataGrid = $("#gridContainer").dxDataGrid({
                        dataSource: result,
                        paging: {
                            pageSize: 50
                        },
                        height: function () {
                            return dynamicheight = $(document).height() - 190;
                        },
                        pager: {
                            showPageSizeSelector: true,
                            allowedPageSizes: [10, 50, 100, 200, 500],
                            showInfo: true
                        },
                        "export": {
                            enabled: true,
                            fileName: "Report_BidStatus" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                        },
                        filterRow: {
                            visible: true,
                            applyFilter: "auto"
                        },
                        headerFilter: {
                            visible: true
                        },
                        scrolling: {
                            showScrollbar: 'always'
                        },
                        columnChooser: {
                            enabled: true,
                            height: 360,
                            width: 250,
                            mode: "select",
                            emptyPanelText: 'Place to hide the columns.'
                        },
                        grouping: {
                            autoExpandAll: true,
                        },
                        searchPanel: {
                            visible: true
                        },
                        groupPanel: {
                            visible: true
                        },
                        hoverStateEnabled: true,
                        allowColumnResizing: true,
                        columnAutoWidth: true,
                        showBorders: true,
                        showColumnLines: true,
                        showRowLines: true,
                        allowColumnReordering: true,
                        columns: [
                            { dataField: 'Company', caption: "Company", visible: false, showInColumnChooser: true },
                            { dataField: "Id", caption: "Id", dataType: 'number', visible: false, showInColumnChooser: true },
                            { dataField: 'BidType', caption: "Bid Type", visible: false, showInColumnChooser: true },
                            { dataField: 'LaunchDate', caption: "Bid Launch Date", dataType: 'date', visible: true, sortIndex: 0, sortOrder: "asc" },
                            {
                                dataField: 'GroupId', caption: "Group Id", visible: true, showInColumnChooser: true, sortIndex: 2, sortOrder: "asc", headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>National<br>Account<br>Group Id</center>").appendTo(header);
                                },
                            },
                            { dataField: 'GroupDesc', caption: "Group Description", visible: false, showInColumnChooser: true },
                            { dataField: 'CustNumber', caption: "Customer Number", visible: false, showInColumnChooser: true },
                            { dataField: 'CustBranch', caption: "Customer Branch", visible: false, showInColumnChooser: true },
                            { dataField: 'CustName', caption: "Customer Name", visible: false, showInColumnChooser: true },
                            { dataField: 'CustCorpId', caption: "Customer Corp Id", visible: false, showInColumnChooser: true },
                            {
                                dataField: 'CustCorpAccName', caption: "Customer Corp Account Name", visible: false, showInColumnChooser: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Customer Corp<br>Account Name</center>").appendTo(header);
                                },
                            },
                            { dataField: "BidId", caption: "BidId", dataType: 'number', visible: false, showInColumnChooser: true, sortOrder: "asc", sortIndex: 1 },
                            { dataField: 'BidName', caption: "Bid Name", visible: true, showInColumnChooser: true },
                            { dataField: 'BidDescription', caption: "Bid Description", visible: true, wordWrapEnabled: true, showInColumnChooser: true, width: 200 },
                            { dataField: 'BidStatusDisplay', caption: "Bid Status", visible: false, showInColumnChooser: true },
                            {
                                dataField: "CustomerPartNumber", caption: "Customer Part Number", visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Customer<br>Part<br>Number</center>").appendTo(header);
                                },
                            },
                            {
                                dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Manufacturer<br> Part Number</center>").appendTo(header);
                                },
                            },
                            {
                                dataField: 'PartDescription', caption: "Customer Part Description", wordWrapEnabled: true, visible: true, width: 200,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Customer<br>Part<br>Description</center>").appendTo(header);
                                },
                            },
                            { dataField: "Location", caption: "Location", visible: true },
                            {
                                dataField: "CustPartUOM", catpion: "Cust Part UOM", visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Customer<br>Part<br>UOM</center>").appendTo(header);
                                },
                            },
                            {
                                dataField: "NewPool", caption: "FP Pool", dataType: 'number', visible: true, calculateDisplayValue: function (rowData) {
                                    return (rowData.NewPool) ? rowData.NewPool : rowData.CrossPoolNumber;//display NewPool or display CroolsPoolNumber if NewPool is null
                                }
                            },
                            {
                                dataField: "NewPartNo", caption: "FP Part No", visible: true, calculateDisplayValue: function (rowData) {
                                    return (rowData.NewPartNo) ? rowData.NewPartNo : rowData.CrossPartNumber;
                                }
                            },
                            { dataField: "ParentKit", caption: "Parent Kit", allowEditing: false, visible: true, showInColumnChooser: true },
                            {
                                dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", dataType: 'number', visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Estimated<br>Annual<br>Usage</center>").appendTo(header);
                                },
                            },
                            { dataField: "IsActive", caption: "Is Active", visible: true },
                            {
                                dataField: "CrossPartDescription", caption: "NewPartDesc", visible: true, wordWrapEnabled: true, width: 200,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Part<br>Description</center>").appendTo(header);
                                },
                            },
                            //{ dataField: "UsageFrequency", caption: "Usage Frequency", visible: true },
                            {
                                dataField: "NewPrice", caption: "Price", dataType: 'number', visible: true, calculateDisplayValue: function (rowData) {
                                    return (rowData.NewPrice) ? rowData.NewPrice : rowData.PriceToQuote;
                                }
                            },
                            { dataField: 'UpdatedBy', caption: "Updated By", visible: true, showInColumnChooser: true },
                            { dataField: 'UpdatedOn', caption: "Updated On", visible: true, showInColumnChooser: true },
                            {
                                dataField: "NewIType", caption: "IType", visible: true, calculateDisplayValue: function (rowData) {
                                    return (rowData.NewPool) ? rowData.NewIType : rowData.IType;
                                }
                            },
                            {
                                dataField: "DCSafetyStock", caption: "DC Safety Stock", visible: true, dataType: 'number',
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>DC<br/>Safety<br />Stock</center>").appendTo(header);
                                }
                            },
                            {
                                dataField: "NewNPPartType", caption: "NP Part Type", visible: true, calculateDisplayValue: function (rowData) {
                                    return (rowData.NewPool) ? rowData.NewNPPartType : rowData.NPPartType;
                                },headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>NP Part<br />Type</center>").appendTo(header);
                                }
                            },
                            {
                                dataField: "CategoryManagerID", caption: "Category Manager ID", visible: false, showInColumnChooser: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Category<br />Manager ID</center>").appendTo(header);
                                }
                            },
                            {
                                dataField: "CategoryManagerName", caption: "Category Manager Name", visible: true, showInColumnChooser: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Category<br />Manager Name</center>").appendTo(header);
                                }
                            },

                            //{ dataField: 'IsProspect', caption: "Is Prospect", dataType: 'boolean', visible: false, showInColumnChooser: true },

                            ////------------Bid Part table fields--------------//
                            //{ dataField: "BidPartId", caption: "BidPartId", dataType: 'number', visible: false, showInColumnChooser: false },

                            //{ dataField: 'Manufacturer', caption: "Manufacturer", visible: false, showInColumnChooser: true },
                            ////------------Cross Part table fields--------------//
                            //{ dataField: "CrossPartId", caption: "CrossPartId", dataType: 'number', visible: false, showInColumnChooser: true },
                            //{ dataField: "CrossPoolNumber", caption: "FP Pool", dataType: 'number', visible: false, showInColumnChooser: true },
                            //{ dataField: "CrossPartNumber", caption: "FP Part No", visible: false, showInColumnChooser: true },
                            //{
                            //    dataField: "CrossSupersedeNote", caption: "FP Supersede Note", visible: false, showInColumnChooser: true,
                            //    headerCellTemplate: function (header, info) {
                            //        $("<div>").html("<center>FP Supersede<br />Note</center>").appendTo(header);
                            //    }
                            //},
                            //{
                            //    dataField: 'CrossPartDescription', caption: "FP Part Description", wordWrapEnabled: true, visible: false, showInColumnChooser: true,
                            //    headerCellTemplate: function (header, info) {
                            //        $("<div>").html("<center>FP Part<br> Description</center>").appendTo(header);
                            //    },
                            //},
                            //{ dataField: "PriceToQuote", caption: "Price", dataType: 'number', visible: false, showInColumnChooser: true },

                            ////------------Cross Part Inventory and Line Review table fields--------------//
                            //{ dataField: "CrossPartInventoryId", caption: "CrosssPartInventoryId", dataType: 'number', visible: false, showInColumnChooser: false },
                            //{
                            //    dataField: "NewSupersedeNote", caption: "New Supersede Note", visible: false, showInColumnChooser: true,
                            //    headerCellTemplate: function (header, info) {
                            //        $("<div>").html("<center>New Supersede<br />Note</center>").appendTo(header);
                            //    }
                            //},


                        ],
                        onCellPrepared: function (e) {
                            if (e.rowType == "header" || e.rowType === "data") {
                                e.cellElement.addClass('moveToCenter');
                            }
                        },
                    });

                    $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
                }
            });
        }

    });
</script>
