﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "BidStatusReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Bid Status Report
            </h1>

            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#reports').addClass('active');
        $('#BidStatusReport').addClass('active');
        $("#box").hide();

        LoadBidStatusReport();

        function LoadBidStatusReport() {
            $("#box").show();
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("GetBidStatusReport", "Reports")",
                type: 'GET',
                //data: JSON.stringify({ bidId: bidId, approvalType: $("#ApprovalType").dxSelectBox('instance').option('value') }),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $("#spinner").hide();
                    dataGrid = $("#gridContainer").dxDataGrid({
                        dataSource: result,
                        paging: {
                            pageSize: 50
                        },
                        height: function () {
                            return dynamicheight = $(document).height() - 190;
                        },
                        pager: {
                            showPageSizeSelector: true,
                            allowedPageSizes: [10, 50, 100, 200, 500],
                            showInfo: true
                        },
                        "export": {
                            enabled: true,
                            fileName: "Report_BidStatus" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                        },
                        filterRow: {
                            visible: true,
                            applyFilter: "auto"
                        },
                        headerFilter: {
                            visible: true
                        },
                        scrolling: {
                            showScrollbar: 'always'
                        },
                        columnChooser: {
                            enabled: true,
                            height: 360,
                            width: 250,
                            mode: "select",
                            emptyPanelText: 'Place to hide the columns.'
                        },
                        grouping: {
                            autoExpandAll: false,
                        },
                        searchPanel: {
                            visible: true
                        },
                        groupPanel: {
                            visible: true
                        },
                        hoverStateEnabled: true,
                        allowColumnResizing: true,
                        columnAutoWidth: true,
                        showBorders: true,
                        showColumnLines: true,
                        showRowLines: true,
                        allowColumnReordering: true,
                        columns: [
                            { dataField: "Id", caption: "Id", dataType: 'number', visible: false, showInColumnChooser: false },

                            //------------Bid table fields--------------//
                            { dataField: "BidId", caption: "BidId", dataType: 'number', visible: false, showInColumnChooser: false },
                            { dataField: 'BidName', caption: "Bid Name", visible: true, groupIndex: 0 },
                            { dataField: 'BidStatusDisplay', caption: "Status", visible: false, showInColumnChooser: true },
                             { dataField: 'IsProspect', caption: "Is Prospect", dataType: 'boolean', visible: false, showInColumnChooser: false },                            
                            { dataField: 'BidType', caption: "Bid Type", visible: false, showInColumnChooser: true },
                            { dataField: 'BidDescription', caption: "Bid Description", wordWrapEnabled: true, visible: true },
                            { dataField: 'LaunchDate', caption: "Bid Launch Date", dataType: 'date', visible: true },
                            { dataField: 'GroupId', caption: "Group Id", visible: true },
                            { dataField: 'GroupDesc', caption: "Group Description", visible: true },
                            { dataField: "CrossPoolNumber", caption: "FP Pool", dataType: 'number', visible: true },
                            { dataField: "CrossPartNumber", caption: "FP Part No", visible: true, },
                            { dataField: "ParentKit", caption: "Parent Kit", allowEditing: false, visible: true, showInColumnChooser: true },
                            {
                                dataField: "CrossSupersedeNote", caption: "FP Supersede Note", visible: true, showInColumnChooser: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>FP Supersede<br />Note</center>").appendTo(header);
                                }
                            },
                            { dataField: "Location", caption: "Location", visible: true },
                            { dataField: "IsActive", caption: "Is Active", visible: true },
                            { dataField: "IType", caption: "IType", visible: true },
                            {
                                dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", dataType: 'number', visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Estimated<br> Annual Usage</center>").appendTo(header);
                                },
                            },
                            { dataField: "PriceToQuote", caption: "Price", dataType: 'number', visible: true },
                             { dataField: "NewPool", caption: "New Pool", dataType: 'number', visible: true },
                            { dataField: "NewPartNo", caption: "New Part No", visible: true },
                             {
                                 dataField: "NewSupersedeNote", caption: "New Supersede Note", visible: true, showInColumnChooser: true,
                                 headerCellTemplate: function (header, info) {
                                     $("<div>").html("<center>New Supersede<br />Note</center>").appendTo(header);
                                 }
                             },
                            { dataField: "NewIType", caption: "New IType", visible: true },
                            { dataField: "NewPrice", caption: "New Price", dataType: 'number', visible: true },
                            { dataField: 'Company', caption: "Company", visible: false, showInColumnChooser: true },
                            { dataField: 'CustNumber', caption: "Customer Number", visible: false, showInColumnChooser: true },
                            { dataField: 'CustBranch', caption: "Customer Branch", visible: false, showInColumnChooser: true },
                            { dataField: 'CustName', caption: "Customer Name", visible: false, showInColumnChooser: true },
                            { dataField: 'CustCorpId', caption: "Customer Corp Id", visible: false, showInColumnChooser: true },
                            {
                                dataField: 'CustCorpAccName', caption: "Customer Corp Account Name", visible: false, showInColumnChooser: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Customer Corp<br>Account Name</center>").appendTo(header);
                                },
                            },
                           

                            //------------Bid Part table fields--------------//
                            { dataField: "BidPartId", caption: "BidPartId", dataType: 'number', visible: false, showInColumnChooser: false },
                            {
                                dataField: "CustomerPartNumber", caption: "Customer Part Number", visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Customer<br> Part Number</center>").appendTo(header);
                                },
                            },
                            {
                                dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", visible: false,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Manufacturer<br> Part Number</center>").appendTo(header);
                                },
                            },
                            { dataField: 'Manufacturer', caption: "Manufacturer", visible: false, showInColumnChooser: true },
                            { dataField: 'PartDescription', caption: "Part Description", wordWrapEnabled: true, visible: false },

                            //------------Cross Part table fields--------------//
                            { dataField: "CrossPartId", caption: "CrossPartId", dataType: 'number', visible: false, showInColumnChooser: false },
                          
                          
                            {
                                 dataField: "NPPartType", caption: "NP Part Type", visible: false,
                                 headerCellTemplate: function (header, info) {
                                     $("<div>").html("<center>NP Part<br />Type</center>").appendTo(header);
                                 }
                            },                            
                            {
                                dataField: 'CrossPartDescription', caption: "FP Part Description", wordWrapEnabled: true, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>FP Part<br> Description</center>").appendTo(header);
                                },
                            },
                          

                            //------------Cross Part Inventory and Line Review table fields--------------//
                            { dataField: "CrossPartInventoryId", caption: "CrosssPartInventoryId", dataType: 'number', visible: false, showInColumnChooser: false },
                           
                            
                           
                            {
                                dataField: "CustPartUOM", caption: "Cust Part UOM", dataType: 'number', visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Cust Part<br> UOM</center>").appendTo(header);
                                },
                            },
                           
                            {
                                dataField: "NewNPPartType", caption: "New NP Part Type", visible: false,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>New NP Part<br />Type</center>").appendTo(header);
                                }
                            },                           
                          
                            { dataField: 'UpdatedBy', caption: "Updated By", visible: true, showInColumnChooser: true },
                            { dataField: 'UpdatedOn', caption: "Updated On", visible: true, showInColumnChooser: true },
                            {
                                dataField: "DCSafetyStock", caption: "DC Safety Stock", visible: true, dataType: 'number',
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>DC Safety<br />Stock</center>").appendTo(header);
                                }
                            },
                            {
                                dataField: "CategoryManagerID", caption: "Category Manager ID", visible: false, showInColumnChooser: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Category<br />Manager ID</center>").appendTo(header);
                                }
                            },
                            {
                                dataField: "CategoryManagerName", caption: "Category Manager Name", visible: true, showInColumnChooser: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Category<br />Manager Name</center>").appendTo(header);
                                }
                            },
                        ],
                        onCellPrepared: function (e) {
                            if (e.rowType == "header" || e.rowType === "data") {
                                e.cellElement.addClass('moveToCenter');
                            }
                        },
                    });

                    $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
                }
            });
        }

    });
</script>
