﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Data Team Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                @ViewBag.Title
            </h1>
            <div style="float: right;margin-top: 6px !important; font-weight:bold">
                <div id="dropDownBids" style="width:200px;display:inline-block;"></div>
            </div>
            <div id="buttonsright">
                <button type="button" class="btn btn-success" id="btnSendToDemandTeam" style="border-radius: 4px; margin-top:6px !important;margin-right:30px; float: right;">Send To Demand Team</button>
                @*<button type="button" class="btn btn-success" id="btnLocations" style="border-radius: 4px; margin-top:6px !important;margin-right:0px;float:right;min-width:10px;display:block;">Download Locations Inventory</button>*@
            </div>

            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>

<script type="text/javascript">
    var uploadURL
    var bidId;
    var bidName;
    var bidStatus;
    var bidType;
    var createdBy;
    var bidPartId;
    var selectedBidId;
    var showCheckBoxes = 'none';
    var isInventoryUpdateStatus;
    var crossPartsInventoryData;
    var bidLaunchDate;

    $("#BidLaunchDate").dxDateBox({
        pickerType: "calendar",
        min: new Date(),
        acceptCustomValue: false,
        placeholder: "Bid Launch Date",
        onValueChanged: function (data) {
            bidLaunchDate = data.value;
        }
    });

    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#reports').addClass('active');
        $('#DataTeamReport').addClass('active');

        $("#box").hide();
        $("#btnSendToDemandTeam").hide();
        @if(ViewBag.bidId != null)
        {
            <text>bidId=</text>@ViewBag.BidId<text>;
        </text>
        }

      


        var dataGrid;
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("GetDataTeamBids", "Inventory")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (bidList) {
                $("#spinner").hide();
                $("#dropDownBids").dxDropDownBox({
                    value: bidId,
                    width: 350,
                    valueExpr: "BidId",
                    placeholder: "Select Bid",
                    displayExpr: "BidName",
                    showClearButton: false,
                    dataSource: bidList,
                    contentTemplate: function (e) {
                        var value = e.component.option("value"),
                            $dataGrid = $("<div style='padding:0px' >").dxDataGrid({
                                dataSource: {
                                    store: {
                                        type: 'array',
                                        key: 'BidId',
                                        data: e.component.option("dataSource")
                                    }
                                },
                                columns: ["BidName"],
                                hoverStateEnabled: true,
                                filterRow: { visible: true },
                                scrolling: {
                                    mode: "virtual",
                                    showScrollbar: 'always'
                                },
                                height: 350,
                                selection: { mode: "single" },
                                selectedRowKeys: value,
                                showColumnHeaders: false,
                                onSelectionChanged: function (selectedItems) {
                                    var keys = selectedItems.selectedRowKeys;
                                    e.component.option("value", keys);
                                    e.component.close();
                                    bidId = keys[0];
                                    bidType = selectedItems.selectedRowsData[0].BidType;
                                    bidName = selectedItems.selectedRowsData[0].BidName;
                                    bidStatus = selectedItems.selectedRowsData[0].BidStatus;
                                    createdBy = selectedItems.selectedRowsData[0].CreatedBy;
                                    LoadCrossPartsInventory();
                                }
                            });
                        dataGrid = $dataGrid.dxDataGrid("instance");
                        e.component.on("valueChanged", function (args) {
                            var value = args.value;
                            dataGrid.selectRows(value, false);
                        });
                        return $dataGrid;
                    }
                });

                @if(ViewBag.bidId != null)
                {
                    <text>
                var data = $("#dropDownBids").dxDropDownBox('instance').option('dataSource');
                bidId=</text>@ViewBag.bidId<text>;
                $.each(data, function( i ) {
                    if(data[i].BidId == bidId){
                        bidName = data[i].BidName;
                        bidStatus = data[i].BidStatus;
                    }
                });
                if(!bidName){
                    $('#btnSendToDemandTeam').attr('disabled',true);
                    $('#btnSendToDemandTeam').prop('title', 'This bid is already assigned to Demand Team.');
                    DevExpress.ui.notify("This bid is already assigned to Demand Team.", "warning", 3000);
                }
                LoadCrossPartsInventory();
                </text>
                }
            }
        });

        $('#btnSendToDemandTeam').click(function () {
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("SendToDemandTeam", "Inventory")",
                type: 'POST',
                data: JSON.stringify({ bidId: bidId, bidName: bidName}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (msg) {
                    $("#spinner").hide();
                    var alertResult = DevExpress.ui.dialog.alert('The bid has been assigned to the Demand Team.<br/> You will be redirected to Home Page.', 'Success');
                    alertResult.done(function (dialogResult) {
                        window.location = '@Url.Action("Index", "Home")';
                    });
                }
            });
        });


    });

    //function to get parts that are not setup
    function LoadCrossPartsInventory() {
        var userName = '@HttpContext.Current.User.Identity.Name';
        $("#box").show();

        $("#spinner").show();

        $.ajax({
            url: "@Url.Action("GetPartsNotSetup", "Inventory")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (CrossPartsInventory) {
                $("#spinner").hide();
                $("#btnSendToDemandTeam").show();
                crossPartsInventoryData = CrossPartsInventory;

                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: CrossPartsInventory,
                    paging: {
                        pageSize: 50
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 190;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    editing: {
                        mode: "row",
                        allowUpdating: isInventoryUpdateStatus,
                        allowDeleting: isInventoryUpdateStatus,
                    },
                    "export": {
                        enabled: true,
                        fileName: "InventoryUpdate_PartsWon_List" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    columnChooser: {
                        enabled: true,
                        height: 360,
                        width: 250,
                        mode: "select",
                        emptyPanelText: 'Place to hide the columns.'
                    },
                    selection: {
                        mode: "multiple", showCheckBoxesMode: showCheckBoxes, allowSelectAll: true, selectAllMode: "allPages"
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnReordering: true,
                    columns: [
                        { dataField: "BidPartId", caption: "BidPartId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "CrossPartId", caption: "CrossPartId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "CrossPartInventoryId", caption: "CrosssPartInventoryId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "CustomerPartNumber", caption: "Customer Part Number", allowEditing: false, visible: true, dataType: 'number', fixed: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Customer<br> Part Number</center>").appendTo(header);
                            },
                        },
                        { dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Manufacturer<br> Part Number</center>").appendTo(header);
                            },
                        },
                        { dataField: 'PartDescription', caption: "Customer Part Description", wordWrapEnabled: true, allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Customer<br>Part<br> Description</center>").appendTo(header);
                            },
                        },

                        { dataField: "CrossPoolNumber", caption: "Cross Pool", allowEditing: false, visible: false, dataType: 'number',},
                        { dataField: "CrossPartNumber", caption: "Cross Part No", allowEditing: false, visible: false, },
                        { dataField: 'CrossPartDescription', caption: "Cross Part Description", wordWrapEnabled: true, allowEditing: false, visible: false,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>FP Part<br> Description</center>").appendTo(header);
                            },
                        },

                        { dataField: "CrossPrice", caption: "Price", allowEditing: false, visible: false, dataType: 'number', visible: false},

                        { dataField: "CrossICOST", caption: "ICOST", allowEditing: false, visible: false, showInColumnChooser: true, dataType: 'number',},

                        { dataField: "NewPool", caption: "FP Pool", allowEditing: false, visible: true, showInColumnChooser: true, dataType: 'number', },
                        { dataField: "NewPartNo", caption: "FP Part No", allowEditing: false, visible: true, showInColumnChooser: true, },
                        { dataField: "ParentKit", caption: "Parent Kit", allowEditing: false, visible: false, showInColumnChooser: true },
                        { dataField: "NewPrice", caption: "New Price", allowEditing: false, visible: false, showInColumnChooser: true, dataType: 'number',},

                        { dataField: "Location", caption: "Location", allowEditing: false, visible: true, dataType: "string" },
                        { dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", allowEditing: false, visible: false, showInColumnChooser: true, dataType: 'number', validationRules: [{ type: 'required', trim: true }],
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Estimated<br> Annual Usage</center>").appendTo(header);
                            },
                        },
                        { dataField: "CustPartUOM", caption: "Cust Part UOM", allowEditing: false, visible: false, showInColumnChooser: true, dataType: 'number',
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Cust Part<br> UOM</center>").appendTo(header);
                            },
                        },
                        { dataField: "StockingType", caption: "Stocking Type", allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Stocking<br>Type</center>").appendTo(header);
                            },
                        },
                        { dataField: "RevisedPool", caption: "Revised Pool", allowEditing: false, visible: true, showInColumnChooser: true },
                        { dataField: "RevisedPartNumber", caption: "Revised Part Number", allowEditing: false, visible: true, showInColumnChooser: true },
                        { dataField: "RevisePartComments", caption: "Comments", allowEditing: false, visible: true, showInColumnChooser: true },

                    ],
                    onExporting: function(e){
                        e.component.beginUpdate();
                        e.component.columnOption("CustomerPartNumber", "visible", false);
                        e.component.columnOption("ManufacturerPartNumber", "visible", false);
                        e.component.columnOption("CrossPartDescription", "visible", false);
                        e.component.columnOption("StockingType", "visible", false);
                        e.component.columnOption("PartDescription", "visible", false);
                    },
                    onExported: function(e){
                        e.component.columnOption("CustomerPartNumber", "visible", true);
                        e.component.columnOption("ManufacturerPartNumber", "visible", true);
                        e.component.columnOption("CrossPartDescription", "visible", true);
                        e.component.columnOption("StockingType", "visible", true);
                        e.component.columnOption("PartDescription", "visible", true);
                        e.component.endUpdate();
                    },
                    onInitialized: function (e) {
                        e.component.columnOption("command:edit", "width", 55);
                    },
                    onContentReady: function (e) {
                        e.component.columnOption("command:edit", "visibleIndex", -1);
                        e.element.find("a").filter(function () {
                            return $(this).text() == "Save";
                        }).html('<span title="Save" class="fa fa-save"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Cancel";
                        }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Edit";
                        }).html('<span title="Edit" class="fa fa-edit"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Delete";
                        }).html('<span title="Delete" class="fa fa-trash-o" style="margin-left:5px;"></span>');
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                    onRowUpdating: function (e) {
                        $("#spinner").show();
                        var crossPartInventoryId;
                        var customerPartNumber;
                        var manufacturerPartNumber;
                        var location;
                        var custPartUOM;
                        var estimatedAnnualUsage;
                        var newPool;
                        var newPartNo;
                        var newPrice;
                        var isActive;

                        if (e.newData.Location) {
                            location = e.newData.Location;
                        }
                        else {
                            location = e.oldData.Location;
                        }
                        if (e.newData.CustPartUOM) {
                            custPartUOM = e.newData.CustPartUOM;
                        }
                        else {
                            custPartUOM = e.oldData.CustPartUOM;
                        }
                        if (e.newData.EstimatedAnnualUsage) {
                            estimatedAnnualUsage = e.newData.EstimatedAnnualUsage;
                        }
                        else {
                            estimatedAnnualUsage = e.oldData.EstimatedAnnualUsage;
                        }
                        if (e.newData.NewPool) {
                            newPool = e.newData.NewPool;
                        }
                        else {
                            newPool = e.oldData.NewPool;
                        }
                        if (e.newData.NewPartNo) {
                            newPartNo = e.newData.NewPartNo;
                        }
                        else {
                            newPartNo = e.oldData.NewPartNo;
                        }
                        if (e.newData.NewPrice) {
                            newPrice = e.newData.NewPrice;
                        }
                        else {
                            newPrice = e.oldData.NewPrice;
                        }
                        if (e.newData.IsActive) {
                            isActive = e.newData.IsActive;
                        }
                        else {
                            isActive = e.oldData.IsActive;
                        }

                        var dataToPost = {
                            crossPartInventoryId: e.oldData.CrossPartInventoryId,
                            customerPartNumber: e.oldData.CustomerPartNumber,
                            manufacturerPartNumber: e.oldData.ManufacturerPartNumber,
                            crossPoolNumber: e.oldData.CrossPoolNumber,
                            crossPartNumber: e.oldData.CrossPartNumber,
                            crossPrice: e.oldData.CrossPrice,
                            location: location,
                            custPartUOM: custPartUOM,
                            estimatedAnnualUsage: estimatedAnnualUsage,
                            newPool: newPool,
                            newPartNo: newPartNo,
                            newPrice: newPrice,
                            isActive: isActive,
                            bidId: bidId
                        };

                        $.ajax({
                            url: "@Url.Action("UpdateCrossPartInventory", "Inventory")",
                            type: 'POST',
                            data: JSON.stringify(dataToPost, bidId),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                $("#spinner").hide();
                                if (result.IsLocationValid == false) {
                                    DevExpress.ui.notify("Location is not valid.", "error", 3000);
                                    $("#gridContainer").dxDataGrid("instance").refresh();
                                    $("#gridContainer").dxDataGrid("instance").cancelEditData();
                                    return false;
                                }
                                else if (result.CrossPartInventoryId > 0) {
                                    DevExpress.ui.notify("Record updated successfully.", "success", 2000);
                                    return false;
                                }
                                else if (result.CrossPartInventoryId == 0) {
                                    DevExpress.ui.notify("Record created successfully.", "success", 2000);
                                    return false;
                                }
                                else {
                                    DevExpress.ui.notify("Error occured, updation failed.", "error", 3000);
                                    return false;

                                }
                            }
                        });
                    },
                    onRowUpdated: function (e) {
                    },

                    onRowRemoving: function (e) {
                        var crossPartInventoryIds = [];
                        $("#spinner").show();
                        if(e.data.CrossPartInventoryId == 0)
                        {
                            DevExpress.ui.notify("Location is not present for the selected record", "error", 3000);
                        }
                        else
                        {
                            crossPartInventoryIds.push(e.data.CrossPartInventoryId);
                            DeleteCrossPartsInventory(crossPartInventoryIds);
                        }
                        LoadCrossPartsInventory();

                    },
                    onRowRemoved: function (e) {
                    }
                });

                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
            }
        });
    }

</script>