﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "DemandReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Demand Team Report
            </h1>
            <div style="float:right;margin-top: 6px !important; font-weight:bold">
                <button type="button" class="btn btn-primary" id="btnNotifySupplyChain" style="border-radius: 4px; margin-top:-30px !important;margin-right:10px;">Notify Supply Chain</button>
                <button type="button" id="btnLaunchBid" class="btn btn-success" onclick="launchBid()" style="margin-top: -30px; margin-right: 5px; display:none">Launch Bid</button>
                <div id="dropDownBids" style="width:200px;display:inline-block;"></div>
            </div>
            <div style="float:right;margin-top: 6px !important;margin-right:30px;">
                <div id="ApprovalType" style="width:200px; opacity:1;"></div>
            </div>
            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<div class="modal fade" id="modelNotifySupplyChain" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <h4 class="modal-title"><b>Notify Supply Chain</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="saveAllResultPopup_body">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        Add comment for supply chain team
                        <br />
                        <div class="form-group">
                            <textarea style="width: 550px; height: 150px;" id="txtSupplyChainMessage"></textarea>
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnNotify" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Notify</button>
                <button type="button" data-dismiss="modal" class="btn btn-success" id="btnCancelNotify" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Cancel</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var bidId;
    var bidName;
    var bidStatus;
    var bidType;
    var createdBy;
    var isAdmin = false;
    //  var approvalStatusType = ["Approved", "Rejected"];

    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#reports').addClass('active');
        $('#DemandTeamReport').addClass('active');
        $("#box").hide();
        var dataGrid;

        @if(ViewBag.bidId != null)
        {
            <text>bidId=</text>@ViewBag.BidId<text>;
        </text>
        }

        //$("#ApprovalType").dxSelectBox({
        //    items: approvalStatusType,
        //    searchEnabled: false,
        //    placeholder: "Select Approval Type",
        //    onSelectionChanged: function (selectedItems) {
        //        if (bidId) {
        //            selectedItems.component.close();
        //            DemandTeamReport();
        //        }
        //    }
        //});

        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("DemandTeamReportBids", "Reports")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (bidList) {
                console.log(bidList);
                if ('@ViewBag.Role.ToString().ToLower()' == 'superuser') {
                    isAdmin = true;
                }
                $("#spinner").hide();
                $("#dropDownBids").dxDropDownBox({
                    value: bidId,
                    width: 350,
                    valueExpr: "BidId",
                    placeholder: "Select Bid",
                    displayExpr: "BidName",
                    showClearButton: false,
                    dataSource: bidList,
                    contentTemplate: function (e) {
                        var value = e.component.option("value"),
                            $dataGrid = $("<div style='padding:0px' id='gridContainer_Bids' >").dxDataGrid({
                                dataSource: {
                                    store: {
                                        type: 'array',
                                        key: 'BidId',
                                        data: e.component.option("dataSource")
                                    }
                                },
                                columns: ["BidName"],
                                hoverStateEnabled: true,
                                filterRow: { visible: true },
                                scrolling: {
                                    mode: "virtual",
                                    showScrollbar: 'always'
                                },
                                height: 350,
                                selection: { mode: "single" },
                                selectedRowKeys: value,
                                showColumnHeaders: false,
                                onSelectionChanged: function (selectedItems) {
                                    //if ($("#ApprovalType").dxSelectBox('instance').option('value') == "" || $("#ApprovalType").dxSelectBox('instance').option('value') == undefined || $("#ApprovalType").dxSelectBox('instance').option(Urlvalue') == null) {
                                    //    var alertResult = DevExpress.ui.dialog.alert('Please select Approval Type.', 'Message');
                                    //    alertResult.done(function (dialogResult) {
                                    //        $("#ApprovalType").dxSelectBox('instance').option('value', "");
                                    //    ConfigurationonfigurationConfiguration    $("#ApprovalType").dxSelectBox('instance').focus();
                                    //    });
                                    //    return false;
                                    //}
                                    var keys = selectedItems.selectedRowKeys;
                                    e.component.option("value", keys);
                                    e.component.close();
                                    bidId = keys[0];
                                    bidType = selectedItems.selectedRowsData[0].BidType;
                                    bidName = selectedItems.selectedRowsData[0].BidName;
                                    bidStatus = selectedItems.selectedRowsData[0].BidStatus;
                                    createdBy = selectedItems.selectedRowsData[0].CreatedBy;
                                    DemandTeamReport();
                                    manageLaunchBid(createdBy, bidStatus);
                                }
                            });
                        dataGrid = $dataGrid.dxDataGrid("instance");
                        e.component.on("valueChanged", function (args) {
                            var value = args.value;
                            dataGrid.selectRows(value, false);
                        });
                        return $dataGrid;
                    }
                });

                @if(ViewBag.bidId != null)
                {
                    <text>
                var data = $("#dropDownBids").dxDropDownBox('instance').option('dataSource');
                bidId=</text>@ViewBag.bidId<text>;
                $.each(data, function( i ) {
                    if(data[i].BidId == bidId){
                        bidName = data[i].BidName;
                        bidStatus = data[i].BidStatus;
                        createdBy = data[i].CreatedBy;
                    }
                });

                DemandTeamReport();
                manageLaunchBid(createdBy, bidStatus);
                </text>
                }
            }
        });

        $("#btnNotifySupplyChain").click(function () {
            $('#modelNotifySupplyChain').modal('show');
        });

        $("#btnCancelNotify").click(function () {
            $("#txtSupplyChainMessage").val('');
            $('#modelNotifySupplyChain').modal('hide');
        });
        $('#btnNotify').click(function () {
            let msg = $("#txtSupplyChainMessage").val();
            if ($.trim(msg) === null || $.trim(msg) === '') {
                DevExpress.ui.notify("Please enter comments.", "error", 3000);
                return false;
            }
            $("#spinner").show();
            $.ajax({
                url: "@Url.Action("NotifySupplyChain", "CompletedBids")",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ bidId: bidId, bidName: bidName, comment: msg }),
                success: function (result) {
                    $("#spinner").hide();
                    //if (result == 1) {
                    DevExpress.ui.notify('Notification sent to supply chain team', "success", 3000);
                    //}
                    //else {
                    //    DevExpress.ui.notify("Error Occured.", "error", 3000);
                    //}
                }
            });
        });

    });

    function manageLaunchBid(createdby, bidstatus) {
        let loggedInUser = '@System.Web.HttpContext.Current.User.Identity.Name'.toLowerCase();
        if (loggedInUser === createdby.toLowerCase() || isAdmin || bidstatus.toLowerCase() === 'demandteam') {
            $("#btnLaunchBid").css("display", "inline");
        }
        else {
            $("#btnLaunchBid").css("display", "none");
        }
        if (bidstatus.toLowerCase() === 'bidlaunched') {
            $("#btnLaunchBid").prop('disabled', true);
            $("#btnLaunchBid").html('Bid Launched');
        }
        else {
            $("#btnLaunchBid").prop('disabled', false);
            $("#btnLaunchBid").html('Launch Bid');
        }
    }

    function launchBid() {
        if (bidId === null || bidId === undefined)
            alert("Please select a bid to launch");

        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("LaunchBid", "Reports")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $("#spinner").hide();
                if (result === true) {
                    $("#btnLaunchBid").prop('disabled', true);
                    $("#btnLaunchBid").html('Bid Launched');
                    DevExpress.ui.notify("Bid launched", "success", 2000);
                }
                else {
                    DevExpress.ui.dialog.alert('Error while launching the bid', 'Message');
                }
            }
        });
    }

    //function to load demand team report Inventory
    function DemandTeamReport() {
        $("#box").show();
        $("#spinner").show();
        // load approval parts Inventory
        $.ajax({
            url: "@Url.Action("GetDemandTeamReport", "Reports")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId}),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $("#spinner").hide();
                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: result,
                    paging: {
                        pageSize: 50
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 190;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    "export": {
                        enabled: true,
                        fileName: "Report_DemandTeamReport" + "_" + '@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")',
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    columnChooser: {
                        enabled: true,
                        height: 360,
                        width: 250,
                        mode: "select",
                        emptyPanelText: 'Place to hide the columns.'
                    },
                    grouping: {
                        autoExpandAll: false,
                    },
                    searchPanel: {
                        visible: true
                    },
                    groupPanel: {
                        visible: true
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnReordering: true,
                    columns: [
                        { dataField: "BidPartId", caption: "BidPartId", dataType: 'number', visible: false, showInColumnChooser: false },
                        { dataField: "CrossPartId", caption: "CrossPartId", dataType: 'number', visible: false, showInColumnChooser: false },
                        { dataField: "CrossPartInventoryId", caption: "CrosssPartInventoryId", dataType: 'number', visible: false, showInColumnChooser: false },
                        {
                            dataField: "CustomerPartNumber", caption: "Customer Part Number", visible: false, fixed: true,  //groupIndex: 0,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Customer<br> Part Number</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", visible: false,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Manufacturer<br> Part Number</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: "CustPartUOM", caption: "Cust Part UOM", visible: false,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Cust Part<br> UOM</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: 'PartDescription', caption: "Part Description", wordWrapEnabled: true, visible: false,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Part<br> Description</center>").appendTo(header);
                            },
                        },
                        { dataField: "Pool", caption: "Pool", visible: true, dataType: 'number', },
                        { dataField: "PartNumber", caption: "Part No", visible: true, },
                        { dataField: "ParentKit", caption: "Parent Kit", allowEditing: false, visible: true, showInColumnChooser: true },
                         { dataField: "Location", caption: "Location", visible: true },
                        { dataField: "StockingType", caption: "Stocking Type", visible: true },
                        { dataField: "IsActive", caption: "Is Active", visible: true },
                          {
                              dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", visible: true,
                              headerCellTemplate: function (header, info) {
                                  $("<div>").html("<center>Estimated<br> Annual Usage</center>").appendTo(header);
                              },
                          },
                        { dataField: "Price", caption: "Price", visible: true, dataType: 'number', },
                        { dataField: "OldPool", caption: "Old Pool", visible: true, dataType: 'number', },
                        { dataField: "OldPartNumber", caption: "Old Part No", visible: true, },
                        {
                            dataField: "OldStockingType", caption: "Old Stocking Type", allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Old Stocking<br> Type</center>").appendTo(header);
                            },
                        },
                        { dataField: "OldPrice", caption: "Old Price", visible: true, dataType: 'number', },
                        {
                            dataField: "CategoryManagerID", caption: "Category Manager ID", visible: true, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Category<br />Manager ID</center>").appendTo(header);
                            }
                        },

                        {
                            dataField: "LastUpdatedBy", caption: "Last Updated By", visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Last <br> Updated By</center>").appendTo(header);
                            },
                        },
                        {
                            dataField: "LastUpdatedOn", caption: "Last Updated On", visible: true, dataType: 'date',
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Last <br> Updated On</center>").appendTo(header);
                            },
                        },
                    ],
                    onInitialized: function (e) {
                        e.component.columnOption("command:edit", "width", 55);
                    },
                    onInitNewRow: function (options) {

                    },
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                });

                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
            }
        });
    }

</script>
