﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Inventory($) Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                @ViewBag.Title
            </h1>
            <div style="float: right;margin-top: 6px !important; font-weight:bold">
                <div id="dropDownBids" style="width:200px;display:inline-block;"></div>
            </div>
            <br /><br />
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-header">
                    <div id="divSummary" style="border: 1px solid lightgrey; padding: 10px; font-size:12pt;">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <b>Projected Revenue (Incremental):&nbsp;</b><span id="ProjectedL12Revenue"></span>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <b>Projected GP (Incremental):&nbsp;</b><span id="ProjectedL12GP"></span>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <b>Projected GP%:&nbsp;</b><span id="ProjectedGPPercent"></span>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <b>Projected Investment 90 days (Incremental):&nbsp;</b><span id="ProjectedInvestment"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>

<script type="text/javascript">
    var uploadURL
    var bidId;
    var bidName;
    var bidStatus;
    var bidType;
    var createdBy;
    var bidPartId;


    var isInventoryUpdateStatus;
    var crossPartsInventoryData;   

    var currencyFormatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0});
    var percentFormatter = new Intl.NumberFormat('en-US', {style: 'percent', maximumFractionDigits: 2});


    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#reports').addClass('active');
        $('#InventoryReport').addClass('active');

        $("#box").hide();

        @if(ViewBag.bidId != null)
        {
            <text>bidId=</text>@ViewBag.BidId<text>;
        </text>
        }

        var dataGrid;
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("DemandTeamReportBids", "Reports")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (bidList) {
                $("#spinner").hide();
                $("#dropDownBids").dxDropDownBox({
                    value: bidId,
                    width: 350,
                    valueExpr: "BidId",
                    placeholder: "Select Bid",
                    displayExpr: "BidName",
                    showClearButton: false,
                    dataSource: bidList,
                    contentTemplate: function (e) {
                        var value = e.component.option("value"),
                            $dataGrid = $("<div style='padding:0px' >").dxDataGrid({
                                dataSource: {
                                    store: {
                                        type: 'array',
                                        key: 'BidId',
                                        data: e.component.option("dataSource")
                                    }
                                },
                                columns: ["BidName"],
                                hoverStateEnabled: true,
                                filterRow: { visible: true },
                                scrolling: {
                                    mode: "virtual",
                                    showScrollbar: 'always'
                                },
                                height: 350,
                                selection: { mode: "single" },
                                selectedRowKeys: value,
                                showColumnHeaders: false,
                                onSelectionChanged: function (selectedItems) {
                                    var keys = selectedItems.selectedRowKeys;
                                    e.component.option("value", keys);
                                    e.component.close();
                                    bidId = keys[0];
                                    bidType = selectedItems.selectedRowsData[0].BidType;
                                    bidName = selectedItems.selectedRowsData[0].BidName;
                                    bidStatus = selectedItems.selectedRowsData[0].BidStatus;
                                    createdBy = selectedItems.selectedRowsData[0].CreatedBy;
                                    LoadCrossPartsInventory();
                                }
                            });
                        dataGrid = $dataGrid.dxDataGrid("instance");
                        e.component.on("valueChanged", function (args) {
                            var value = args.value;
                            dataGrid.selectRows(value, false);
                        });
                        return $dataGrid;
                    }
                });

                @if(ViewBag.bidId != null)
                {
                    <text>
                var data = $("#dropDownBids").dxDropDownBox('instance').option('dataSource');
                bidId=</text>@ViewBag.bidId<text>;
                $.each(data, function( i ) {
                    if(data[i].BidId == bidId){
                        bidName = data[i].BidName;
                        bidStatus = data[i].BidStatus;
                    }
                });

                LoadCrossPartsInventory();
                </text>
                }
            }
        });




    });

    function  LoadSummary(CrossPartsInventory){
        var ProjectedL12Revenue = 0;
        var ProjectedL12GP = 0;
        var ProjectedInvestment = 0;

        $(CrossPartsInventory).each(function(i, val){
            if(val.IsApproved){
                ProjectedL12Revenue += val.ProjectedL12Revenue;
                ProjectedL12GP += val.ProjectedL12GP;
                ProjectedInvestment += val.ProjectedInvestment;
                //ICost += val.ICost;
            }
        });

        $("#ProjectedL12Revenue").text(currencyFormatter.format(Math.floor(ProjectedL12Revenue)));
        $("#ProjectedL12GP").text(currencyFormatter.format(Math.floor(ProjectedL12GP)));
        $("#ProjectedInvestment").text(currencyFormatter.format(Math.floor(ProjectedInvestment)));
        $("#ProjectedGPPercent").text(percentFormatter.format(Math.floor(ProjectedL12GP)/Math.floor(ProjectedL12Revenue)));
    }

     //function to load cross won parts Inventory
    function LoadCrossPartsInventory() {
        var userName = '@HttpContext.Current.User.Identity.Name';

        $("#box").show();
        $("#btnDownloadTemplate").show();
        $("#fileUploader").show();
        $("#buttonsright").show();

        $("#spinner").show();
        // load cross won parts Inventory
        $.ajax({
            url: "@Url.Action("GetCrossPartLineReview", "Inventory")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (CrossPartsInventory) {
                //$("#spinner").hide();
                console.log(CrossPartsInventory);

                LoadSummary(CrossPartsInventory);

                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: CrossPartsInventory,
                    keyExpr: 'ID',
                    paging: {
                        pageSize: 50
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 250;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    "export": {
                        enabled: true,
                        fileName: "BidInventoryReview_List" + "_" + '@DateTime.Now.ToString("MM_dd_yyyy_HHmmss")',
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    columnChooser: {
                        enabled: true,
                        height: 360,
                        width: 250,
                        mode: "select",
                        emptyPanelText: 'Place to hide the columns.'
                    },
                    selection: {
                        mode: "multiple",
                        selectAllMode: "allPages",
                        showCheckBoxesMode: "always"
                    },
                   
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    allowColumnReordering: true,
                    columns: [
                        { dataField: "ID", caption: "ID", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "CrossPartId", caption: "CrossPartId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "BidPartId", caption: "BidPartId", dataType: 'number', visible: false, showInColumnChooser: false, allowEditing: false },
                        { dataField: "IsApproved", caption: "Approved", dataType: 'boolean', visible: true, allowEditing: false, falseText: "No", trueText:"Yes", width: 132,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center><br>Approved</center>").appendTo(header);
                            }
                        },
                         { dataField: "CrossPoolNumber", caption: "FP Pool", dataType: 'number', visible: true, allowEditing: false,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>FP<br/>Pool</center>").appendTo(header);
                             }
                         },
                        { dataField: "CrossPartNumber", caption: "FP Part Number", visible: true, allowEditing: false,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>FP Part<br/>Number</center>").appendTo(header);
                            }
                        },
                        { dataField: "DCStockCount", caption: "Current DC Stock Count", dataType: 'number', allowEditing: false, visible: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Current DC<br />Stock<br />Count</center>").appendTo(header);
                            }
                        },
                         { dataField: "ExistingStockingLocations", caption: "Current Stocking Locations", dataType: 'number', visible: true, allowEditing: false,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Current<br/>Stocking<br/>Locations</center>").appendTo(header);
                             }
                         },
                         { dataField: "NewStockingLocations", caption: "Bid Stocking Locations", dataType: 'number', allowEditing: false, visible: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Bid<br/>Stocking<br/>Locations</center>").appendTo(header);
                             }
                         },
                         { dataField: "NetNewStockingLocations", caption: "Net New Stocking Locations", dataType: 'number', allowEditing: false, visible: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Net New<br/>Stocking<br/>Locations</center>").appendTo(header);
                             }
                         },
                         { dataField: "CurrentL12Revenue", caption: "Current L12 Revenue", format: function(val){return currencyFormatter.format(val); }
                            ,allowEditing: false, visible: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Current<br/>L12 Revenue</center>").appendTo(header);
                             }
                         },
                         { dataField: "ProjectedL12Revenue", caption: "Projected L12 Revenue (Incremental)", format: function(val){return currencyFormatter.format(val); }
                            ,allowEditing: false, visible: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Projected<br/>L12 Revenue<br/>(Incremental)</center>").appendTo(header);
                             }
                         },
                          { dataField: "ProjectedL12GP", caption: "Projected L12 GP", dataType: 'number', format: function(val){return currencyFormatter.format(val); }
                            ,allowEditing: false, visible: true,
                              headerCellTemplate: function (header, info) {
                                  $("<div>").html("<center>Projected<br/>L12 GP<br/>(Incremental)</center>").appendTo(header);
                              }
                          },
                            { dataField: "L12Units", caption: "CurrentL12 Units", dataType: 'number', allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Current L12<br/> Units </center>").appendTo(header);
                                }
                            },
                            { dataField: "ProjectedL12Units", caption: "Projected L12 Units (Incremental)", dataType: 'number', allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>L12 Units<br/>(Incremental)</center>").appendTo(header);
                                }
                            },
                            { dataField: "ProjectedInvestment", caption: "Projected Initial investment (90 days)", dataType: 'number', format: function(val){return currencyFormatter.format(val); }
                                ,allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>Initial<br/>investment<br/>(90 days)</center>").appendTo(header);
                                }
                            },
                            { dataField: "ProjectedMonthlyUnits", caption: "Projected Monthly Investment (Incremental) Units", dataType: 'number', allowEditing: false, visible: false,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>Monthly<br/>Investment<br/>(Incremental)<br/>Units</center>").appendTo(header);
                                }
                            },
                            { dataField: "Estimated3MonthUsageWithoutSalesPack", caption: "Estimated3MonthUsageWithoutSalesPack", dataType: 'number', allowEditing: false, visible: false,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>3 Months<br/>Usage<br/>(Incremental)<br/>Without SalesPack</center>").appendTo(header);
                                }
                            },
                            { dataField: "Estimated3MonthUsageWithSalesPack", caption: "Estimated3MonthUsage", dataType: 'number', allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Projected<br/>3 Months<br/>Usage<br/>(Incremental)<br/></center>").appendTo(header);
                                }
                            },
                             { dataField: "ICost", caption: "ICost", dataType: 'number', format: function(val){return currencyFormatter.format(val); }, visible: false, showInColumnChooser: true
                            , allowEditing: false,
                                 headerCellTemplate: function (header, info) {
                                     $("<div>").html("<center>ICost</center>").appendTo(header);
                                 }
                             },
                            { dataField: "MedianCost", caption: "Median Cost", dataType: 'number', format: function(val){return currencyFormatter.format(val); }, visible: true, showInColumnChooser: true
                                            , allowEditing: false,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Median <br/>Cost</center>").appendTo(header);
                                }
                            },
                            { dataField: "PriceToQuote", caption: "Winning Bid Retail", dataType: 'number', format: function(val){return currencyFormatter.format(val); }
                                ,allowEditing: false, visible: true,
                                headerCellTemplate: function (header, info) {
                                    $("<div>").html("<center>Winning<br/>Bid<br/>Retail</center>").appendTo(header);
                                }
                            },

                        { dataField: "RevisedPool", caption: "Revised Pool", dataType: 'number', visible: true, allowEditing: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Revised<br/>Pool</center>").appendTo(header);
                            }
                        },
                        { dataField: "RevisedPartNumber", caption: "Revised Part Number", visible: true, allowEditing: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Revised<br/>Part<br/>Number</center>").appendTo(header);
                            }
                        },
                        { dataField: "Comments", caption: "Comments", visible: true, allowEditing: true, width : 100,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Comments</center>").appendTo(header);
                            }
                        },
                         { dataField: "CrossPartVendor", caption: "Vendor", dataType: 'number', visible: true, allowEditing: false, width: 100, visible: true, showInColumnChooser: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Vendor</center>").appendTo(header);
                             }
                         },
                        //hidden fields
                         { dataField: "SalesPack", caption: "Sales Pack", dataType: 'number', visible: false, allowEditing: false,showInColumnChooser: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>Sales<br/>Pack</center>").appendTo(header);
                             }
                         },

                         { dataField: "CrossPartDescription", caption: "FP Part Description", wordWrapEnabled:true, dataType: 'number', visible: false,showInColumnChooser: true,
                             allowEditing: false, width: 100, showInColumnChooser: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>FP<br/>Part<br/>Description</center>").appendTo(header);
                             }
                         },
                         { dataField: "CrossPartCategory", caption: "FP Part Category", dataType: 'number', visible: true, allowEditing: false, visible: false, showInColumnChooser: true,
                             headerCellTemplate: function (header, info) {
                                 $("<div>").html("<center>FP<br/>Part<br/>Category</center>").appendTo(header);
                             }
                         },
                        { dataField: "AlreadyStockingLocations", caption: "Bid Locations Already Stocking", dataType: 'number', allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Bid Locations<br/>Already<br/>Stocking<br/></center>").appendTo(header);
                            }
                        },

                        { dataField: "StockingType", caption: "Stocking Status", allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Stocking<br/>Status</center>").appendTo(header);
                            }
                        },
                        { dataField: "CategoryManagerID", caption: "Category Manager ID", allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Category<br/>Manager<br/>ID</center>").appendTo(header);
                            }
                        },
                        //{ dataField: "CategoryDirectorID", caption: "Category Director ID", allowEditing: false, visible: true, showInColumnChooser: true,
                        //    headerCellTemplate: function (header, info) {
                        //        $("<div>").html("<center>Category<br/>Director<br/>ID</center>").appendTo(header);
                        //    }
                        //},
                        { dataField: "CategoryCmoID", caption: "Category CMO ID", allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Category<br/>CMO<br/>ID</center>").appendTo(header);
                            }
                        },
                        { dataField: "CreatedOn", caption: "Created On", dataType: 'date', allowEditing: false, visible: false, showInColumnChooser: true,
                            headerCellTemplate: function (header, info) {
                                $("<div>").html("<center>Created<br/>On</center>").appendTo(header);
                            }
                        },
                    ],
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                        //if (e.rowType == 'data' && e.column.dataField == 'price' && !e.cellElement.hasClass('dx-editor-cell')) {
                        //    e.cellElement.text('$'+e.text);
                        //}
                    },
                    
                   
                 
                });

                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
                $("#spinner").hide();
            }
        });
    }


</script>