﻿@using FleetPride.BidManager.Utilities;
@{
    ViewBag.Title = "Price Validation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dx-fileuploader-input-container {
        display: none !important;
    }

    .dx-fileuploader-button {
        background-color: #00a65a;
        color: white;
        padding: 0px;
    }

        .dx-fileuploader-button:hover {
            background-color: #008D4C !important;
            color: white;
        }

    .dx-group-panel-message {
        color: black !important;
    }

    #fileUploader .dx-button-content {
        height: 33px;
        width: 90px;
        padding-left: 0px;
        padding-top: 3px;
        font-size: 13px;
    }

    .dx-button .dx-state-hover {
        background-color: #008D4C !important;
    }

    #buttonsright .dx-button.dx-state-focused {
        background-color: #00a65a !important;
        border-color: #00a65a !important;
    }

    .editable {
        background-color: rgba(255, 255, 0, 0.25) !important;
    }

    .red {
        background-color: #ff471a !important;
    }

    .green {
        background-color: #ffff33 !important;
    }

    .yellow {
        background-color: #00e600 !important;
    }

    .marginRight {
        margin-right: 50px !important;
    }

    .dx-button-text {
        padding-top: 3px !important;
    }

    .dx-button .dx-state-hover {
        background-color: #51a351 !important;
    }

    #buttonsright .dx-button.dx-state-focused {
        background-color: #00a65a;
        border-color: #008d4c;
    }

    .dx-datagrid-export-button .dx-icon-export-to:before {
        content: "\f05f ";
    }
</style>

<div class="content-wrapper">
    <div class="container" style="width:auto !important">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="float:left;">
                Price Validation&nbsp;<label id="calculatedDueDate"></label>
            </h1>
            <div style="float: right;margin-top: 6px !important; font-weight:bold">
                <div id="dropDownBids" style="width:200px;display:inline-block;"></div>
            </div>
            <div style="height: 35px;float: right;margin-top: 0px; margin-bottom: 10px !important;" id="buttonsright">
            </div>
            <button type="button" class="btn btn-success" id="btnMarkCompleted" style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;">Mark Bid Completed</button>
            <button type="button" class="btn btn-success" id="btnDownload" style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;">Download</button>
            <div id="fileUploader" style="display:inline-block;width:105px; height: 62px;padding: 0px; margin-top:-13px;border:solid 0px black;float: right;"></div>
            <button type="button" class="btn btn-success" id="btnOpenCustFilePopUp" style="border-radius: 4px; margin-top:6px !important;margin-right:10px; float: right;">Override/Update original customer file</button>
            <br /><br /><br /><br />
        </section>
        <div id="expandCheckBox" style="margin-left:15px"></div>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default" id="box">
                <div class="box-body">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>

<!-- Modal to update customer excel file-->
<div class="modal fade" id="updateCustFilePopup" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius:5px; border:2px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Override/Update original customer file</b></h4>
            </div>
            <div class="modal-body" style="padding:0px !important;">
                <div>
                    <form id="excelUploadForm" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div id="UploadExcel" class="custom-styled-file-upload-control" style="width:auto; opacity:1;"></div>
                            <button type="button"  style="margin-left:30px;" id="btnUpdateCustFile" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCloseCustFilePopUp" style="margin-left:10px; margin-top:-5px; float:right; border-radius: 4px;">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var bidId;
    var bidName;
    var bidStatus;
    var bidType;
    var createdBy;
    var bidCalculatedDueDate;
    var bidPartId;
    var selectedBidId = "";
    var isPricingTeamStatus;
    $("#expandCheckBox").hide();
    var expandAllCheckBox= $("#expandCheckBox").dxCheckBox({
        text: 'Expand All',
        onValueChanged: function (e) {
            var newValue = e.value;
            var dataGrid = $('#gridContainer').dxDataGrid('instance');
            if(e.value == true) {
                dataGrid.expandAll(-1);
            } else {
                dataGrid.collapseAll(-1);
            }
        }
    }).dxCheckBox("instance");

    $(document).ready(function () {
        $("#nav_menu li").removeClass("active");
        $('#Bids').addClass('active');
        $('#PriceValidation').addClass('active');

        $("#box").hide();
        $("#btnMarkCompleted").hide();
        $("#btnDownload").hide();
        $("#fileUploader").hide();
        $("#btnOpenCustFilePopUp").hide();
        @if(ViewBag.bidId != null)
        {
            <text>selectedBidId=</text>@ViewBag.bidId<text>;</text>
        }

        // button click event to call the excel template download method
        $('#btnDownload').click(function () {
            window.location = '@Url.Action("DownloadPricingDetails", "PriceValidation")?BidId=' + bidId + '&BidName=' + bidName;
        });

        //override the original customer file
        $("#UploadExcel").dxFileUploader({
            selectButtonText: "Upload File",
            labelText: "",
            accept: "*",
            uploadMode: "useForm",
            multiple: false,
            value: [],
            onValueChanged: function (e) {
                var files = e.value;
                if (files.length > 0) {
                    $.each(files, function (i, file) {
                        var fileTypeAllowed = file.type.split("/");
                        if (file.size > 10000000) {    // 10000000 is 10 MB
                            $("#UploadExcel").dxFileUploader('instance').option('value', "");
                            DevExpress.ui.dialog.alert('Max Image size allowed is 10 MB.', 'Message');
                        }
                    });
                }
            },
        });

        var dataGrid;
        $("#spinner").show();
        $.ajax({
            url: "@Url.Action("GetAllBids", "PriceValidation")",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (bidList) {
                $("#spinner").hide();
                $("#dropDownBids").dxDropDownBox({
                    value: selectedBidId,
                    width: 350,
                    valueExpr: "BidId",
                    placeholder: "Select Bid",
                    displayExpr: "BidName",
                    showClearButton: false,
                    dataSource: bidList,
                    contentTemplate: function (e) {
                        var value = e.component.option("value"),
                            $dataGrid = $("<div style='padding:0px' >").dxDataGrid({
                                dataSource: {
                                    store: {
                                        type: 'array',
                                        key: 'BidId',
                                        data: e.component.option("dataSource")
                                    }
                                },
                                columns: ["BidName"],
                                hoverStateEnabled: true,
                                filterRow: { visible: true },
                                scrolling: {
                                    mode: "virtual",
                                    showScrollbar: 'always'
                                },
                                height: 350,
                                selection: { mode: "single" },
                                selectedRowKeys: value,
                                showColumnHeaders: false,
                                onSelectionChanged: function (selectedItems) {
                                    var keys = selectedItems.selectedRowKeys;
                                    e.component.option("value", keys);
                                    e.component.close();
                                    bidId = keys[0];
                                    bidType = selectedItems.selectedRowsData[0].BidType;
                                    bidName = selectedItems.selectedRowsData[0].BidName;
                                    bidStatus = selectedItems.selectedRowsData[0].BidStatus;
                                    createdBy = selectedItems.selectedRowsData[0].CreatedBy;
                                    bidCalculatedDueDate = selectedItems.selectedRowsData[0].CalculatedDueDate;
                                    LoadBidPartsList();
                                }
                            });
                        dataGrid = $dataGrid.dxDataGrid("instance");
                        e.component.on("valueChanged", function (args) {
                            var value = args.value;
                            dataGrid.selectRows(value, false);
                        });
                        return $dataGrid;
                    }
                });
                var data = $("#dropDownBids").dxDropDownBox('instance').option('dataSource');

                @if(ViewBag.bidId != null)
                {
                    <text>
                bidId=</text>@ViewBag.bidId<text>;

                $.each(data, function( i ) {
                    if(data[i].BidId == bidId){

                        bidName = data[i].BidName;
                        bidStatus = data[i].BidStatus;
                        bidCalculatedDueDate = data[i].CalculatedDueDate;
                    }
                });

                LoadBidPartsList();
                </text>
                }
            }
        });
    });

    $("#fileUploader").dxFileUploader({
        accept: ".xls,.xlsx",
        labelText: '',
        selectButtonText: 'Upload',
        uploadMode: 'instantly',
        uploadUrl: '@Url.Action("UploadPricingData", "PriceValidation")',
        showFileList: false,
        onUploadStarted: function () {
            $("#spinner").show();
        },
        onUploaded: function (e) {
            var uploadResponse = JSON.parse(e.jQueryEvent.target.responseText)
            if (uploadResponse.error) {
                DevExpress.ui.dialog.alert('Error occurred, please try again.</br>' + 'Error Message : ' + uploadResponse.errorText, 'Message');
                $("#spinner").hide();
            }
            else {
                if (uploadResponse.totalError == 0) {
                    DevExpress.ui.notify("File uploaded successfully, all data uploaded.", "success", 3000);
                    $("#spinner").hide();
                    LoadBidPartsList();
                }
                else {
                    DevExpress.ui.dialog.alert('There were some record(s) which were not uploaded due to error(s).<br/>' + 'Total number of error(s) : ' + uploadResponse.totalError + '<br/> Please check downloaded excel sheet for error details, correct the error(s) and upload the excel again.', 'Message');
                    window.location = '@Url.Action("DownloadPricingDataFile", "PriceValidation")?fileName=' + uploadResponse.path;
                    $("#spinner").hide();
                    LoadBidPartsList();
                }
            }
            e.component.reset();
        }
    });


    function LoadBidPartsList() {
        $("#calculatedDueDate").text("");
        var userName = '@HttpContext.Current.User.Identity.Name';
        if(bidType == '@Constants.National.ToString()')
        {
            if ('@ViewBag.Role.ToString()' == '@UserRole.SuperUser.ToString()' || '@ViewBag.Role.ToString()' == '@UserRole.NAMSupervisor.ToString()' || '@ViewBag.Role.ToString()' == '@UserRole.RAMSupervisor.ToString()' || createdBy == userName)
            {
                $("#btnMarkCompleted").show();
            }
        }
        if(bidType == '@Constants.Local.ToString()')
        {
            if ('@ViewBag.Role.ToString()' == '@UserRole.SuperUser.ToString()' || createdBy == userName)
            {
                $("#btnMarkCompleted").show();
            }
        }
        expandAllCheckBox.option("value", false);
        $("#expandCheckBox").show();
        $("#btnDownload").show();
        $("#box").show();
        if(bidStatus == 'PricingTeam'){
            $("#calculatedDueDate").text(": Bid Due Date: " + bidCalculatedDueDate + ", Please finish the pricing and deal review before due date.");
            $("#fileUploader").show();
            $("#btnOpenCustFilePopUp").show();
            $("#btnMarkCompleted").show();
            isPricingTeamStatus = true;
        }
        else if (bidStatus == 'CategoryManager') {
            $("#fileUploader").show();
        }
        else
        {
            $("#fileUploader").hide();
            $("#btnOpenCustFilePopUp").hide();
            $("#btnMarkCompleted").hide();
            isPricingTeamStatus = false;
        }
        $("#spinner").show();
        // Function to load bid parts
        $.ajax({
            url: "@Url.Action("GetFinalBidParts", "PriceValidation")",
            type: 'POST',
            data: JSON.stringify({ bidId: bidId }),
            contentType: 'application/json; charset=utf-8',
            success: function (BidLoadData) {
                $("#spinner").hide();
                dataGrid = $("#gridContainer").dxDataGrid({
                    dataSource: BidLoadData,
                    paging: {
                        pageSize: 10
                    },
                    height: function () {
                        return dynamicheight = $(document).height() - 227;
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [10, 50, 100, 200, 500],
                        showInfo: true
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    scrolling: {
                        showScrollbar: 'always'
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    showColumnLines: true,
                    showRowLines: true,
                    columns: [
                        { dataField: "BidPartId", caption: "Bid Part Id", dataType: 'number', visible: false, allowEditing: false },
                        { dataField: "CustomerPartNumber", caption: "Customer Part Number", allowEditing: false, visible: true },
                        { dataField: 'PartDescription', caption: "Description", wordWrapEnabled: true, allowEditing: false },
                        { dataField: 'Manufacturer', caption: "Manufacturer", allowEditing: false, visible: true },
                        { dataField: "ManufacturerPartNumber", caption: "Manufacturer Part Number", allowEditing: false, visible: true },
                        { dataField: "EstimatedAnnualUsage", caption: "Estimated Annual Usage", allowEditing: false, visible: true, dataType: 'number' },
                        { dataField: "Note", caption: "Note", allowEditing: false, visible: true },
                        { dataField: "CreatedBy", caption: "Created By", allowEditing: false, visible: false },
                        { dataField: "CreatedOn", caption: "Created Date", dataType: 'date', allowEditing: false, visible: false }
                    ],
                    onInitialized: function (e) {
                        e.component.columnOption("command:edit", "width", 55);
                    },
                    onInitNewRow: function (options) {
                    },
                    onContentReady: function (e) {
                        //e.component.columnOption("command:select", "width", 200);
                        e.component.columnOption("command:edit", "visibleIndex", -1);
                        e.element.find("a").filter(function () {
                            return $(this).text() == "Save";
                        }).html('<span title="Save" class="fa fa-save"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Cancel";
                        }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Edit";
                        }).html('<span title="Edit" class="fa fa-edit"></span>');

                        e.element.find("a").filter(function () {
                            return $(this).text() == "Delete";
                        }).html('<span title="Delete" class="fa fa-trash-o" style="margin-left:5px;"></span>');
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType == "header" || e.rowType === "data") {
                            e.cellElement.addClass('moveToCenter');
                        }
                    },
                    onRowExpanding: function (e) {
                        //e.component.collapseAll(-1);
                    },
                    masterDetail: {
                        enabled: true,
                        template: function (container, options) {
                            $("#spinner").show();
                            container.css('padding', 10);
                            $.ajax({
                                url: "@Url.Action("GetFinalCrosses", "PriceValidation")",
                                type: 'POST',
                                data: JSON.stringify({ bidPartId: options.data.BidPartId }),
                                contentType: 'application/json; charset=utf-8',
                                success: function (bidPartCrosses) {
                                    $("#spinner").hide();
                                    bidPartId = options.data.BidPartId;
                                    if (bidPartCrosses.length > 0) {
                                        $("<div id='gridContainerDetail_" + options.data.BidPartId + "' partId='" + options.data.BidPartId + "' >")
                                            .addClass("internal-grid")
                                            .dxDataGrid({
                                                columnAutoWidth: true,
                                                showBorders: true,
                                                showColumnLines: true,
                                                showRowLines: true,
                                                onCellPrepared: function (e) {
                                                    if (e.rowType === "header") {
                                                        e.cellElement.addClass('moveToCenter');
                                                    }
                                                    if (e.rowType === "data") {
                                                        e.cellElement.addClass('moveToCenter');
                                                        if (e.column.dataField == 'VendorColorDefinition') {
                                                            var value = e.data.VendorColor;
                                                            if (value == 'Y' || value == 'O' || value == 'K') {
                                                                e.cellElement.css('backgroundColor', getColor(value));
                                                            }
                                                            if(value == 'R' ||  value == 'G' || value == 'P' || value == 'B') {
                                                                e.cellElement.css('backgroundColor', getColor(value));
                                                                e.cellElement.css('color', 'white');
                                                            }
                                                        }
                                                    }
                                                },
                                                editing: {
                                                    mode: "row",
                                                    allowUpdating: isPricingTeamStatus,
                                                    allowDeleting: false,
                                                    allowAdding: false,
                                                },
                                                onContentReady: function (e) {
                                                    e.component.columnOption("command:edit", "visibleIndex", -1);
                                                    e.element.find("a").filter(function () {
                                                        return $(this).text() == "Save";
                                                    }).html('<span title="Save" class="fa fa-save"></span>');

                                                    e.element.find("a").filter(function () {
                                                        return $(this).text() == "Cancel";
                                                    }).html('<span title="Cancel" class="fa fa-mail-reply" style="margin-left:5px;"></span>');

                                                    e.element.find("a").filter(function () {
                                                        return $(this).text() == "Edit";
                                                    }).html('<span title="Edit" class="fa fa-edit"></span>');

                                                    e.element.find("a").filter(function () {
                                                        return $(this).text() == "Delete";
                                                    }).html('<span title="Delete" class="fa fa-trash-o" style="margin-left:5px;"></span>');
                                                },
                                                onRowUpdating: function (e) {
                                                    var crossPartId;
                                                    var priceToQuote;
                                                    var suggestedPrice;
                                                    var iCost;
                                                    var margin;
                                                    var adjustedICost;
                                                    var adjustedMargin;
                                                    if (e.newData.PriceToQuote || e.newData.PriceToQuote == "") {
                                                        priceToQuote = e.newData.PriceToQuote;
                                                    }
                                                    else {
                                                        priceToQuote = e.oldData.PriceToQuote;
                                                    }

                                                    if (e.newData.SuggestedPrice || e.newData.SuggestedPrice == "") {
                                                        suggestedPrice = e.newData.SuggestedPrice;
                                                    }
                                                    else {
                                                        suggestedPrice = e.oldData.SuggestedPrice;
                                                    }

                                                    if (e.newData.ICost || e.newData.ICost == "") {
                                                        iCost = e.newData.ICost;
                                                    }
                                                    else {
                                                        iCost = e.oldData.ICost;
                                                    }

                                                    if (e.newData.Margin || e.newData.Margin == "") {
                                                        margin = e.newData.Margin;
                                                    }
                                                    else {
                                                        margin = e.oldData.Margin;
                                                    }

                                                    if (e.newData.AdjustedICost || e.newData.AdjustedICost == "") {
                                                        adjustedICost = e.newData.AdjustedICost;
                                                    }
                                                    else {
                                                        adjustedICost = e.oldData.AdjustedICost;
                                                    }

                                                    if (e.newData.AdjustedMargin || e.newData.AdjustedMargin == "") {
                                                        adjustedMargin = e.newData.AdjustedMargin;
                                                    }
                                                    else {
                                                        adjustedMargin = e.oldData.AdjustedMargin;
                                                    }

                                                    var datatoPost = {
                                                        bidPartId: bidPartId,
                                                        crossPartId: e.oldData.CrossPartId,
                                                        priceToQuote: priceToQuote,
                                                        suggestedPrice : suggestedPrice,
                                                        iCost : iCost,
                                                        margin : margin,
                                                        adjustedICost : adjustedICost,
                                                        adjustedMargin : adjustedMargin
                                                    };
                                                    if(!priceToQuote || priceToQuote == 0 || priceToQuote > 9999999)
                                                    {
                                                        DevExpress.ui.dialog.alert('PriceToQuote is required and should be greater than zero and should be maximum 9999999.', 'Message');
                                                        var gridContainerDetailInstance = $('#gridContainerDetail_'+bidPartId).dxDataGrid('instance');
                                                        gridContainerDetailInstance.cancelEditData();
                                                        return false;
                                                    }
                                                    if(suggestedPrice && suggestedPrice > 9999999)
                                                    {
                                                        DevExpress.ui.dialog.alert('SuggestedPrice should be maximum 9999999.', 'Message');
                                                        var gridContainerDetailInstance = $('#gridContainerDetail_'+bidPartId).dxDataGrid('instance');
                                                        gridContainerDetailInstance.cancelEditData();
                                                        return false;
                                                    }
                                                    if(iCost && iCost > 9999999)
                                                    {
                                                        DevExpress.ui.dialog.alert('ICost should be maximum 9999999.', 'Message');
                                                        var gridContainerDetailInstance = $('#gridContainerDetail_'+bidPartId).dxDataGrid('instance');
                                                        gridContainerDetailInstance.cancelEditData();
                                                        return false;
                                                    }
                                                    if(margin && margin > 9999999)
                                                    {
                                                        DevExpress.ui.dialog.alert('Margin should be maximum 9999999.', 'Message');
                                                        var gridContainerDetailInstance = $('#gridContainerDetail_'+bidPartId).dxDataGrid('instance');
                                                        gridContainerDetailInstance.cancelEditData();
                                                        return false;
                                                    }
                                                    if(adjustedICost && adjustedICost > 9999999)
                                                    {
                                                        DevExpress.ui.dialog.alert('AdjustedICost should be maximum 9999999.', 'Message');
                                                        var gridContainerDetailInstance = $('#gridContainerDetail_'+bidPartId).dxDataGrid('instance');
                                                        gridContainerDetailInstance.cancelEditData();
                                                        return false;
                                                    }
                                                    if(adjustedMargin && adjustedMargin > 9999999)
                                                    {
                                                        DevExpress.ui.dialog.alert('AdjustedMargin should be maximum 9999999.', 'Message');
                                                        var gridContainerDetailInstance = $('#gridContainerDetail_'+bidPartId).dxDataGrid('instance');
                                                        gridContainerDetailInstance.cancelEditData();
                                                        return false;
                                                    }

                                                    $.ajax({
                                                        url: "@Url.Action("UpdateCrossPrice", "PriceValidation")",
                                                        type: 'POST',
                                                        data: JSON.stringify(datatoPost),
                                                        contentType: 'application/json; charset=utf-8',
                                                        success: function (result) {
                                                            $("#spinner").hide();
                                                            if (result.Status == false) {
                                                                DevExpress.ui.notify("Error occured.", "error", 3000);
                                                                return false;
                                                            }
                                                            else {
                                                                DevExpress.ui.notify("Record updated successfully.", "success", 3000);
                                                                return false;
                                                            }
                                                        }
                                                    });

                                                },
                                                onRowUpdated: function (e) {

                                                },
                                                columns: [
                                                {
                                                    dataField: "CrossPartId",
                                                    caption: "Cross Part ID",
                                                    dataType: "number",
                                                    allowEditing: false,
                                                    visible: false
                                                }, {
                                                    dataField: "FinalPreference",
                                                    caption: "Cross Preference",
                                                    dataType: "string",
                                                    allowEditing: false
                                                }
                                                ,{
                                                    dataField: "ReferenceTableName",
                                                    caption: "Reference Table",
                                                    allowEditing: false,
                                                    dataType: "string"
                                                }, {
                                                    dataField: "PartNumber",
                                                    caption: "Part Number",
                                                    allowEditing: false,
                                                    dataType: "string"
                                                }, {
                                                    dataField: "PoolNumber",
                                                    caption: "Pool",
                                                    allowEditing: false,
                                                    dataType: "number"
                                                }, {
                                                    dataField: "PartDescription",
                                                    caption: "Description",
                                                    allowEditing: false,
                                                    dataType: "string"
                                                }, {
                                                    dataField: "PartCategory",
                                                    caption: "Category",
                                                    allowEditing: false,
                                                    dataType: "string"
                                                }, {
                                                    dataField: "VendorName",
                                                    caption: "Vendor Name",
                                                    dataType: "string",
                                                    allowEditing: false
                                                },{
                                                    dataField: "VendorColorDefinition",
                                                    caption: "Vendor Status",
                                                    dataType: "string",
                                                    allowEditing: false
                                                }
                                                , {
                                                    dataField: "PriceToQuote",
                                                    caption: "Price To Quote",
                                                    allowEditing: true,
                                                    dataType: "number"
                                                },
                                                 {
                                                     dataField: "SuggestedPrice",
                                                     caption: "Suggested Price",
                                                     allowEditing: true,
                                                     dataType: "number"
                                                 }
                                                , {
                                                    dataField: "ICost",
                                                    caption: "ICOST",
                                                    allowEditing: true,
                                                    dataType: "number"
                                                }
                                                , {
                                                    dataField: "Margin",
                                                    caption: "Margin",
                                                    allowEditing: true,
                                                    dataType: "number"
                                                }
                                                 , {
                                                     dataField: "AdjustedICost",
                                                     caption: "Adjusted ICOST",
                                                     allowEditing: true,
                                                     dataType: "number"
                                                 }
                                                , {
                                                    dataField: "AdjustedMargin",
                                                    caption: "AdjustedMargin",
                                                    allowEditing: true,
                                                    dataType: "number"
                                                }
                                                ],
                                                dataSource: bidPartCrosses
                                            }).appendTo(container);
                                    }
                                    else {
                                        $("<div id='gridContainerDetail_" + options.data.BidPartId + "' partId='" + options.data.BidPartId + "' >")
                                            .html("<span>No Crosses found.</span>")
                                            .appendTo(container);
                                    }
                                }
                            });
                        }
                    }
                });
                $('.dx-icon-export-excel-button').removeClass('dx-icon-export-excel-button').addClass('fa fa-fw fa-download');
            }
        });
    }

    function getColor(value) {
        if (value == 'R') return 'red';
        if (value == 'G') return 'green';
        if (value == 'B') return 'blue';
        if (value == 'Y') return 'yellow';
        if (value == 'O') return 'orrange';
        if (value == 'P') return 'purple';
        if (value == 'K') return 'khaki';
        return 'White';
    }

    $('#btnMarkCompleted').click(function () {

        var result = DevExpress.ui.dialog.confirm('This will mark the bid to Completed status and you can not change the pricing after that.' + '<br />' + 'Click Yes to proceed.', "Confirm");
        result.done(function (dialogResult) {
            if(dialogResult) {
                $("#spinner").show();
                $.ajax({
                    url: "@Url.Action("CompleteBidStatus", "PriceValidation")",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ bidId: bidId, status: '@Constants.Completed' }),
                    success: function (result) {
                        $("#spinner").hide();
                        if (result) {
                            $("#fileUploader").hide();
                            $("#btnOpenCustFilePopUp").hide();
                            $("#btnMarkCompleted").hide();
                            $("#calculatedDueDate").text("");
                            //DevExpress.ui.notify("Bid Completed successfully.", "success", 3000);
                            @*setTimeout(
                              function () {
                                  window.location = '@Url.Action("Index", "Home")';
                              }, 3000);*@
                            var alertResult = DevExpress.ui.dialog.alert('Bid Completed successfully.<br/>Please go to Home/Completed Bids page and select this bid for further action.', 'Success');
                            alertResult.done(function (dialogResult) {
                                window.location = '@Url.Action("Index", "Home")';
                            });
                        }
                        else {
                            DevExpress.ui.notify("Error Occured.", "error", 3000);
                        }
                    }
                });
            }
        });

    });
    $('#btnCloseCustFilePopUp').click(function () {
        $('#updateCustFilePopup').modal('hide');
    });

    $('#btnOpenCustFilePopUp').click(function () {
        $('#updateCustFilePopup').modal('show');
    });

    $('#btnUpdateCustFile').click(function () {
        var isFileUploaded = 0;
        var excelData = new FormData($('#excelUploadForm')[0]);
        $("#spinner").show();

        $.ajax({
            'url': "@Url.Action("ValidateExcelUpload", "Home")",
            'type': 'post',
            'data': excelData,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.Status == 1) {
                    $.ajax({
                        'url': "@Url.Action("ExcelUpload", "Home")?bidId=" + bidId + "&bidName=" + bidName,
                        'type': 'post',
                        'data': excelData,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            $("#spinner").hide();
                            DevExpress.ui.notify('Customer file overrided/updated successfully.', "success", 3000);
                            $('#updateCustFilePopup').modal('hide');
                            $("#UploadExcel").dxFileUploader('instance').option('value', "");
                        }
                    })
                }
                else if (result.Status == 2) {
                    $("#spinner").hide();
                    DevExpress.ui.dialog.alert('Only .xlsx and .xls formats are supported.', 'Message');
                    return false;
                }
                else {
                    $("#spinner").hide();
                    DevExpress.ui.dialog.alert('Please select a file.', 'Message');
                    return false;
                }
            }
        })
    });
</script>